.ZmSpreadSheet { border: 1px solid #000; }
.ZmSpreadSheet .ToolBar { background-color: #eee; }
.ZmSpreadSheet .ToolBar2 { border-bottom: 1px solid #000; }
.ZmSpreadSheet-RelDiv { position: relative !important; overflow: auto !important; background-color: #bbb; }
.ZmSpreadSheet .InputField, .ZmSpreadSheet table.SpreadSheet { font: 11px tahoma,verdana,sans-serif; }
.ZmSpreadSheet table.SpreadSheet { background-color: #bbb; color: #000; }
.ZmSpreadSheet table.SpreadSheet td { background-color: #fff; color: #000; padding: 1px; overflow: hidden; cursor: default; }
.ZmSpreadSheet table.SpreadSheet .TopBar td { padding: 0; }

.ZmSpreadSheet table.Header-ColESize, .ZmSpreadSheet table.Header-ColESize * { cursor: e-resize !important; }
.ZmSpreadSheet table.Header-ColWSize, .ZmSpreadSheet table.Header-ColWSize * { cursor: w-resize !important; }
.ZmSpreadSheet table.SpreadSheet .TopBar .TopLeft { background-color: #ddd; padding: 0; text-align: center; }
.ZmSpreadSheet table.SpreadSheet .TopBar .TopLeft, .ZmSpreadSheet table.SpreadSheet .LeftBar { padding: 0;
  cursor: default; -moz-user-select: none; user-select: none; }

.ZmSpreadSheet a.FocusLink {
  text-decoration: none;
  font-size: 1px;
  line-height: 1px;
  position: absolute;
  cursor: default;
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.ZmSpreadSheet table.SpreadSheet .LeftBar div,
.ZmSpreadSheet table.SpreadSheet .TopBar .TopLeft div { width: 3em; }

.ZmSpreadSheet table.SpreadSheet .TopBar div, .ZmSpreadSheet table.SpreadSheet .LeftBar div {
  cursor: default; -moz-user-select: none; user-select: none;
  background-color: #e8e8e8; color: #000; border: 1px solid; border-color: #f5f5f5 #ddd #ddd #f5f5f5;
  text-align: center;
}

.ZmSpreadSheet table.SpreadSheet td.SSelected { border: 1px dotted #000; padding: 0; }
.ZmSpreadSheet table.SpreadSheet td.TopSelected div { background-color: #ccc; border-color: #fff; }
.ZmSpreadSheet table.SpreadSheet td.LeftSelected div { background-color: #ccc; border-color: #fff; }

.ZmSpreadSheet .InputField { position: absolute; padding: 0 !important; border: 2px solid #000; }
.ZmSpreadSheet input.InputField { z-index: 10; }
.ZmSpreadSheet span.InputField { visibility: hidden; border: none; top: 0px; left: 0px; }
.ZmSpreadSheet .Wrapper { white-space: nowrap; overflow: hidden; color: inherit; }

.ZmSpreadSheet table.SpreadSheet td.hasFormula { color: #555; background-color: #fafafa; }

.ZmSpreadSheet table.SpreadSheet td.SpreadSheet-Type-number { text-align: right; }
.ZmSpreadSheet table.SpreadSheet td.SpreadSheet-Type-currency { text-align: right; }
.ZmSpreadSheet table.SpreadSheet td.SpreadSheet-Type-percentage { text-align: right; }
.ZmSpreadSheet table.SpreadSheet td.SpreadSheet-Type-error { text-align: center; color: #f00; }

.ZmSpreadSheet .ShowRange {
  z-index: 5;
  position: absolute; left: 0; top: 0;
  font-size: 1px; line-height: 1px;
  opacity: 0.4;
  filter: alpha(opacity=40);
  background-color: #def;
  border: 1px solid #00c;
}

.ZmSpreadSheet-Tooltip .CellName { font-weight: bold; border-bottom: 1px solid #000; margin-bottom: 0.5em; }
.ZmSpreadSheet-Tooltip .CellExpr { padding: 0 0 0 20px; }
.ZmSpreadSheet-Tooltip .CellExprError { padding: 0 0 0 20px; color: #f00; }
.ZmSpreadSheet-Tooltip .CellValue { padding: 0 0 0 20px; }
.ZmSpreadSheet-Tooltip .CellDesc { font-style: italic; text-align: center; }
