<template id="TasksEdit">
	<table id="${id}_header" cellspacing=0 cellpadding=0 border=0>
		<tr class="contactHeaderRow" id="${id}_headerRow">
			<td width=20><center><$= AjxImg.getImageHtml(data.task.getIcon()) $></center></td>
			<td><div id="${id}_title" class="contactHeader"></div></td>
			<td align="right" id="${id}_tags"></td>
		</tr>
	</table>

	<div style="overflow:auto;" id="${id}_content">
		<table border=0 width=100%>
			<tr>
				<td class="editLabel">*&nbsp;<$=ZmMsg.subject$>:</td>
				<td><input type="text" autocomplete="off" size=35 id="${id}_subject"></td>
				<td id="${id}_folderLabel" class="editLabel"><$=ZmMsg.taskFolder$>:</td>
				<td id="${id}_folder"></td>
			</tr>
			<tr>
				<td class="editLabel"><$=ZmMsg.startDate$>:</td>
				<td>
					<table border=0 cellpadding=0 cellspacing=0><tr>
						<td><input autocomplete='off' type='text' size=11 maxlength=10 id="${id}_dateStart"></td>
						<td id="${id}_dateStartBtn"></td>
					</tr></table>
				</td>
				<td class="editLabel"><$=ZmMsg.percentComplete$>:</td>
				<td id="${id}_complete"></td>
			</tr>
			<tr>
				<td class="editLabel"><$=ZmMsg.dateDue$>:</td>
				<td>
					<table border=0 cellpadding=0 cellspacing=0><tr>
						<td><input autocomplete='off' type='text' size=11 maxlength=10 id="${id}_dateDue"></td>
						<td id="${id}_dateDueBtn"></td>
					</tr></table>
				</td>
				<td class="editLabel"><$=ZmMsg.priority$>:</td>
				<td id="${id}_priority"></td>
			</tr>
			<tr>
				<td></td><td></td>
				<td class="editLabel"><$=ZmMsg.status$></td>
				<td id="${id}_status"></td>
			</tr>
			<tr>
				<td class="editLabel" valign=top><$=ZmMsg.notes$>:</td>
				<td colspan=3><textarea wrap="hard" rows=8 style="width:100%;" id="${id}_notes"></textarea></td>
			</tr>
		</table>
	</div>
</template>
