/** Lake **/

.ZOptionsSectionMain{
	background: #fff;
	padding:1em;
}

.TabNormal a:link, .TabNormal a:visited, .Tab a:link, .Tab a:visited{
	color: white !important;
}

.TabFiller{
 @AppTabBorder-normal@
}

.TabSelected{
	@tlRadius@: 3px;
	@trRadius@: 3px; 
}