# Everything
*                   @silentsakky @miteshsavani810 @lavegupta @damini-vashishtha @HimanshuSojitraSynacor @k-kato

# Packaging related
.github           @silentsakky @k-kato @jiteshsojitra @umagmrit
*.xml             @silentsakky @k-kato @jiteshsojitra @umagmrit
*.pl              @silentsakky @k-kato @jiteshsojitra @umagmrit
Dockerfile        @silentsakky @k-kato @jiteshsojitra @umagmrit
/scripts/         @silentsakky @k-kato @jiteshsojitra @umagmrit
