.zcs-color-selector {

    .zcs-color-selector-options {
        padding: .5em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 19.5em;
        height: 3.5em;

        [class*='zcs-tag-'] {
            height: 2.5em;
            width: 2.5em;
            float: left;
            margin-left: 1em;
            border-radius: 5px;
        }
    }

    .x-field {
        margin-bottom: 2em;
        border-radius: 5px;
    }
}