.touch-calendar-view
{
  $dot-color: #0087C3;
  $dot-size: 16px;

  table {
  &.month
  {
	td
	{
		position: relative;
	
		span.simple-event-wrapper, span.simple-event-wrapper-multi
		{
			position: absolute;
			overflow: hidden;
			margin-top: -33%;  //moves dot up
		}

		span.simple-event-multi
		{
			float: left;
			height: $dot-size / 2;
			width: $dot-size / 2;
			-webkit-border-radius: $dot-size / 4;
			background-color: $dot-color;
			margin: 0 auto 0 2px;
		}

		span.simple-event
		{
			height: $dot-size;
			width: $dot-size;
			-webkit-border-radius: $dot-size / 2;
			background-color: $dot-color;
			margin: 0 auto;
			display: block;
		}

		.selected span.simple-event, td.today span.simple-event
		{
			background-color: white;
		}
	}
  }
  }
}