$font-color: $dark-grey;
$font-size: 11px;
$font-weight: bold;
$input-font-size: 14px;

$bubble-border-radius: 10px; // to match other input borders
$bubble-bkgd-color: #D8D8D8;
$bubble-height: 18px;
$bubble-text-color: darken($bubble-bkgd-color,25%);
$bubble-text-padding: 0 8px;

$space-between-bubbles: 6px;
$space-between-rows: 2px;


//Disabling close icon for now.
$bubble-close-icon-width: 0;
$bubble-close-icon-height: 0;
$bubble-close-icon-margin: 0;


.vm-area-bubble {
    border: 1px solid $bubble-text-color;
    display: inline-block;
    font-color: $bubble-text-color;
    font-size: $font-size;
	font-weight: $font-weight;
    line-height: $bubble-height;
    padding: $bubble-text-padding;
    @include border-radius($bubble-border-radius);
	@include background-gradient($bubble-bkgd-color,'glossy');
}

.vm-bubblearea {

    background-color: $white;
    @include border-radius($default-textarea-radius);
    
    > div {
        .bubble-comp, .input-comp {
            display: inline-block;
            margin-top: $space-between-rows;
            margin-left: $space-between-bubbles;
        }



        .bubble-close-icon {
            display:inline-block;
            width: $bubble-close-icon-width;
            height: $bubble-close-icon-height;
            margin: $bubble-close-icon-margin;
            cursor: pointer;
            cursor: hand;
        }
        
    }

    .bubble-main-contents {
        .x-inner {
            padding:6px 4px !important;
        }
    }

    .input-comp {
        .x-innerhtml {
            height:$bubble-height;
            position:relative;
            display:inline-block;
            input {
                top: 5px;
                height:$bubble-height;
                font-size: $input-font-size;
                position:absolute;
            }
        }
    }
    
    .emptyText {
        color: $medium-grey;
        position: absolute;
        font-style: italic;
        top: 6px;
        left: 6px;
        text-transform:lowercase;
    }
    
    input {
        line-height: $bubble-height;
        font-color: $font-color;
        padding: $bubble-text-padding;
        background-color: transparent !important;
        border: 0 !important;
        display: inline-block;
    }

    &[class~=vm-read-only] {
         background: $default-readonly-color !important;
         border-color: $default-border-disabled;
        .bubble-close-icon{
            display: none !important;
        }
    }
}

.x-form-invalid .vm-bubblearea {
    background-position: bottom;
}