//Overriding the background color before import
$bg-color: #B4CAEF;
@import "Ext.ux.TouchCalendarEvents";

div.event-bar {
  background-color: $bg-color;
  border: 1px solid #485e7e;
  color: #000;
  font-size: 11px;
  font-weight: normal;
  height: 20px;
  overflow: hidden;
  padding: 0 0 0 8px;
  position: absolute;
  border-radius: 4px;
  z-index: 100;
  text-shadow: none;
  text-align: left;

  &.event-bar-selected {
    background-color: #57ACF2;
  }
}

div.more-events {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  color: #0000ff;
  cursor: pointer;
  text-align: left;
  font-size: 11px;
  font-weight: normal;
  height: 20px;
  overflow: hidden;
  padding: 0 0 0 8px;
  position: absolute;
  border-radius: 4px;
  z-index: 100;
  text-shadow: none;
}

.view-appt-header {
  padding: 0.7em 0.7em 0em 0.7em;
  font-weight:bold;
}

.view-appt-notes {
  padding: 0em 0.7em 2.5em 0.7em;
}

.view-appt-ptst {
  float:right;
  width: 30%;
  padding-left: 1.8em;
}

.view-appt-accepted {
  @extend .view-appt-ptst;
  @include background(url('/img/zimbra/ImgCheck.png') $invBtnIconPos);
}

.view-appt-declined {
  @extend .view-appt-ptst;
  @include background(url('/img/zimbra/ImgCancel.png') $invBtnIconPos);
}

.view-appt-tentative {
  @extend .view-appt-ptst;
  @include background(url('/img/zimbra/ImgQuestionMark.png') $invBtnIconPos);
}

.view-appt-noresponse {
  @extend .view-appt-ptst;
  @include background(url('/img/zimbra/ImgNeedsAction.png') $invBtnIconPos);
}

.view-appt-showDetails {
  @extend .zcs-link;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/*Create appointment classes*/
.zcs-appt-formline {
	border-bottom: 1px solid $light-grey;
	min-height: 1.8em;
}

.zcs-appt-form {
	background-color: white;
	background-image: none;

	.x-form-inner {
	@extend .zcs-appt-formline;

		.zcs-appt-label {
			background-color: #F7F7F7;
			padding: 12px;  /*.65em*/
			text-align: right;
		}
	}
}