//Overriding the background color before import
$bg-color: #B4CAEF;
@import "Ext.ux.TouchCalendarEvents";

div.event-bar {
  background-color: $bg-color;
  border: 1px solid #485e7e;
  color: #000;
  font-size: 11px;
  font-weight: normal;
  height: 20px;
  overflow: hidden;
  padding: 0 0 0 8px;
  position: absolute;
  -webkit-border-radius: 4px;
  z-index: 100;
  text-shadow: none;
  text-align: left;

  &.event-bar-selected {
    background-color: #57ACF2;
  }
}