build/
.project
.history
.idea
.classpath
WebRoot/jquery
WebRoot/js/ajax
WebRoot/js/zimbra
WebRoot/keys/AjxKeys*.properties
WebRoot/messages/AjxMsg*.properties
WebRoot/messages/I18nMsg*.properties
WebRoot/messages/TzMsg*.properties
WebRoot/modernizr
WebRoot/yui
