body	{	
	/*background-color: #FAF5F3;
	background: #FAF5F3 url("@SkinImgDir@/login_page_bg.png") no-repeat; 
	background-position: bottom left;*/
	@ChromeBg@	
}

#skin_tr_top td{
/*background-color: @ChromeBg@;
background: url("@SkinImgDir@/header_bg_bones.png") repeat-x;*/
height: 121px;
vertical-align: top;

}
#skin_tr_search_builder	{
/*background-color: @ChromeBg@;*/
}

/* Cell for the 'body' (notice/form/about/license) 
#ZLoginBodyContainer {
	@WindowInnerContainer-light@
	@AppBg@
	padding-top:20px;
	padding-bottom:20px;
	color: white;
}*/


#skin_tr_app_chooser td{
	background: #FD9500 url("@SkinImgDir@/tabbar_bg.png") bottom left repeat-x; 
}
#skin_td_app_chooser					{	height:25px;	padding:0 4 0 8; vertical-align:bottom; text-align:center;}

#skin_td_search_builder{padding: 0px; height: 0px;}


#skin_td_logo{ padding-top: 7px;}

#skin_td_search{text-align: center;}

/*#skin_container_search{ border: 1px solid black;}*/


#ZLoginAppName {
	margin-top:5px;
	font-size:18px;
	width:100%;
	font-weight:bold;
	text-align:right;
	color: black;
}


/* Outer panel for the entire login/splash dialog */
#ZLoginPanel {
	position:relative;
	width:500px;
	overflow:visible;
	border: 1px solid; 
	border-color: #9B3A19;
	background: transparent;
}

/* Email Messages button in Search Bar */
.ZmSearchToolbar .MessageControl1 {
	padding-left:5px;
}



/* Container that owns the login button */
#ZLoginButton {
	@LoginButton@
}

/* Container that owns the name of the login button */
#ZLoginButtonText {
@Text-light@
}

.AlphabetBarCell {
	text-align:center;	
	@ActiveCursor@
	width:30px;
	min-width:30px;
	border-right-width: 1px;
}

.viewLabel .Text {
	white-space: nowrap;
	width: 1%;
	color: white;
}

.ZmNavToolBar {
	/*background-color: transparent;*/
	color: white;
}
