@import '../../touch/resources/themes/stylesheets/sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.

//Base variables referenced through widgets, also overriding default sencha style variables.
@import 'variables/base';

@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-list-paging;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

//Widget styling
@import 'widgets/base';

@import 'widgets/mail/assignmentview';
@import 'widgets/mail/ztcomposeform';
@import 'widgets/mail/ztmsgview';
@import 'widgets/ux/ztbubblearea';

// Your custom code goes here...
@include pictos-iconmask('list');
@include pictos-iconmask('replytoall');
@include pictos-iconmask('eject');
@include pictos-iconmask('settings8');

