/* REMOVE THIS SOON */

*	 {
	font-family:	Tahoma;
	font-size:		11px;
}


/* END REMOVE */

/* GENERICS */

.skin_container {
	position:relative;
	width:100%;
	height:100%;
}

.skin_table {
	width:100%;
	height:100%;
	border-collapse:collapse;
}

.skin_table TD {
	padding:0px;
}

.fixed_table {
	table-layout:fixed;
}

.skin_abs_left {
	position:absolute;
	left:0px;
}

.skin_abs_right {
	position:absolute;
	right:0px;
}

.hidden {
	display:none;
}

/* SKIN SPECIFIC */

/*********************************
	Outer skin and background
*********************************/

.skin_bg {
	background-color:#959595;
}

#skin_outer {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
}


#skin_table_outer {}
#skin_col_L 	{	width:8px;	}
#skin_col_tree 	{	width:180px;	}
#skin_col_sash	{	width:6px;	}
#skin_col_main 	{	width:100%;		}
#skin_col_R 	{	width:8px;	}


/*********************************
	Row 1:  logo and search toolbar
*********************************/
#skin_R1 {}

#skin_td_logo {}
#skin_container_logo {}

#skin_td_search {	
	text-align:right;
	width:100%; 
}
#skin_container_search {
	position:absolute;
	width:550px;
	right:10px;
	top:7px;
}




/*********************************
	Row 2: user panel, app chooser, toolbar
*********************************/
#skin_container_username {
}

#skin_container_help {
	font-size:9px;
}


#skin_td_quota {
	vertical-align:top;
}

/*
#skin_container_quota	{
	font-size:11px;
	line-height:11px;
}
*/

#skin_container_logoff	{
	font-size:9px;
}

#skin_td_app_chooser		{	width:100%; 	}
#skin_container_app_chooser	{	height:23px;	}

.skin_tab_L		{	width:6px;	}
.skin_tab_R		{	width:6px;	}
.skin_tab_sep	{	width:5px;	}

#skin_td_toolbar {	
	vertical-align:top;
	width:100%;	
}

#skin_container_toolbar TD,
#skin_container_toolbar DIV {
	font-size:10px;
}

.ImgSkin_Tab_Selected__H .skin_tab_text {
	padding-top:4px;	
}

.ImgSkin_Tab_Normal__H .skin_tab_text {
	padding-top:4px;
	color:white;
}

/*********************************
	Main row:  tree and app 
*********************************/
#skin_tr_main {
	height:100%;
}

#skin_td_tree_outer {
	vertical-align:top;
	padding-bottom:3px;
}

#skin_tree_table {}
#skin_tree_col_L 	{	width:5px;	}
#skin_tree_col_T 	{	width:50%;	}
#skin_tree_col_R 	{	width:5px;	}
#skin_tree_col_sep 	{	width:50%;	}

.skin_tree_bg {
	background-color:white;
}

#skin_tree_tab_text {
	font-size:10px;
	font-weight:bold;
	text-align:center;
}

#skin_td_app_outer {
	vertical-align:top;
	padding-bottom:3px;
}
#skin_app_table {}
#skin_app_col_L {	width:5px;	}
#skin_app_col_T {	width:100%;	}
#skin_app_col_R {	width:5px;	}

.skin_app_bg {
	background-color:#ebebe9;
}

#skin_col_current_app	{ width:100%;	}
#skin_col_view_menu_L	{ width:8px;	}
#skin_col_view_menu		{ width:200px;	}
#skin_col_view_menu_R	{ width:8px;	}

#skin_container_current_app {
	width:200px;
}



/*********************************
	Main row in full-screen mode
*********************************/
#skin_tr_main_full {

}




/*********************************
	Row 3: links on white bg
*********************************/
#skin_R3 {}

#skin_td_R3	{	width:100%; }

#skin_table_R3 {}
#skin_table_R3 TD {
	font-size:10px;
	font-weight:bold;
	text-align:center;
}

/*********************************
	Row 4: links on blue bg
*********************************/
#skin_R4 {}

#skin_td_R4	{	width:100%; }

#skin_table_R4 {}
#skin_table_R4 TD {
	font-size:9px;
	color:#d4d6da;
	text-align:center;
}



/** HACK: fix up images that aren't quite working properly **/
.ImgSkin_App_Frame_L__V{height:100%;}
.ImgSkin_App_Frame_R__V{height:100%;}
.ImgSkin_Tree_Frame_L__V{height:100%;}
.ImgSkin_Tree_Frame_R__V{height:100%;}


/*********************/
/***** overrides *****/
/*********************/
.ZmAppChooser {
	margin-left:0px;
	margin-top:0px;
}




