<template id='calendar_appt' width='10' height='7'>
    <div id='${id}_body' class='appt_body ${bodyColor}'>
        <table style='width:100%;height:100%'cellspacing=0 cellpadding=2>
            <tr class='${headerColor}'>
                <td class=appt${newState}_time id='${id}_st'>${starttime}</td>
                <td class=appt_status-${statusKey} style='text-align:right'>${status}</td>
            </tr>
            <tr valign=top>
                <td colspan=2 class=appt${newState}_name style='height:100%'>
                    ${name}
                    <BR>
                    ${location}
                </td>
            </tr>
            <tr>
                <td colspan=2 class=appt_end_time id='${id}_et'>${endtime}</td>
            </tr>
        </table>
    </div>
</template>

<template id='calendar_appt_bottom_only' width='10' height='7'>
    <div id='${id}_body' class='appt_body ${bodyColor}'>
        <table style='width:100%;height:100%'cellspacing=0 cellpadding=2>
            <tr valign=top>
                <td colspan=2 class=appt${newState}_name style='height:100%'>
                    ${name}
                    <BR>
                    ${location}
                </td>
            </tr>
            <tr>
                <td colspan=2 class=appt_end_time id='${id}_et'>${endtime}</td>
            </tr>
        </table>
    </div>
</template>

<template id='calendar_appt_30' width='4' height='4'>
    <div id='${id}_body' class='appt_30_body ${headerColor}'>
        <table width=100% cellspacing=0 cellpadding=2>
            <tr>
                <td class=appt_30${newState}_name>${name}</td>
            </tr>
        </table>
    </div>
</template>

<template id='calendar_appt_allday' width='4' height='4'>
    <div id='${id}_body' ${body_style} class='appt_allday_body ${headerColor}'>
        <table width=100% cellspacing=0 cellpadding=2>
            <tr>
                <td class=appt_allday${newState}_name>${name}</td>
            </tr>
        </table>
    </div>
</template>

<template id='TypeDialog'>
	<div style='width:275px' id='${id}_question'></div><p>
	<table align=center border=0 width=1%>
		<tr>
			<td width=1%><input checked value='1' type='radio' id='${id}_defaultRadio' name='${id}_instSeriesName'></td>
			<td style='white-space:nowrap' id='${id}_instanceMsg'></td>
		</tr>
		<tr>
			<td width=1%><input value='2' type='radio' name='${id}_instSeriesName'></td>
			<td style='white-space:nowrap' id='${id}_seriesMsg'></td>
		</tr>
	</table>
</template>
