/* CSS document for iPad */

/* Browser reset */
html,body,p,div,table,ul,li,form{

	margin: 0;
	padding: 0;
	border: none;
}

a{
	outline: none;
}


/* Orientation specific styles */

@media (orientation:landscape) {
	.wrap-dcontent {
       height: 593px;
    }
	
	.msgBody {
		min-height: 520px;
	}
	
	.view{
		height: 640px;
	}
	
	.composeBox{
		width: 800px;
	}
	
	.search{
		margin: 15px 10px 0 15px;
		width: 200px;
	}
	
	ul.ul{
		margin: 25px 0 0 10%;
		width: 500px;		
	}
	
	.shell{
		width: 250px;	
	}
}

@media (orientation:portrait) {
	.wrap-dcontent {
       height: 849px;
   	}
	
	.msgBody {
		min-height: 776px;
	}
	
	.view{
		height: 896px;
	}
	
	.composeBox{
		width: 600px;
	}
	
	.search{
		margin: 15px 10px 0 5px;
		width: 160px;
	}

	ul.ul{
		margin: 25px 0 0 4%;
		width: 460px;		
	}
	
	.shell{
		width: 180px;
	}
}



/* Chrome*/

html, body{
	font: normal 13px Arial,Tahoma,helvetica,Verdana,sans-serif;;
	overflow: hidden;
}

.ul li{
	list-style: none;
	display: inline;
	margin: 0;
}

.alignLeft{
	float: left;
}

.alignRight{
	float: right;
}

.clear{
	clear: both;
}

/* Topbar Styles */

.topbar {
 /*	background: #dbd0b5 url("/img/mobile/ipad/topbar-bg.gif") repeat-x top left; */
	background-color: #e8ddc3;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e8ddc3), to(#a49479));
	background-image: -moz-linear-gradient(100% 100% 90deg, #e8ddc3, #a49479);
	height: 50px;
	overflow: hidden;
	color: #5f5a4a;

}

	.topbar a{
		text-decoration: none;

	}


.logo{
	background: transparent url("/img/mobile/ipad/logo.png") no-repeat top left;
	width: 80px;
	height: 20px;
	float: left;
	margin: 15px 0 0 15px;
}

.search input{
	-webkit-border-radius: 12px;
	outline: none;
	padding: 4px 10px;
	width: 98%;
	font-size: 12px;
	background-color: white;
    color: #333;
}


.tab{

}

	 ul.ul li{
		margin-right: 0px;
		padding: 10px 20px;
	}
	
		ul.ul li a{ color: #29261d; }

	ul.ul li.sel, ul.ul li:active{
	/*	background: #7f7b6e url("/img/mobile/ipad/tab-selected.gif") repeat-x top left; */
		background-color: #9a8d6e;
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9a8d6e), to(#564e3c));
		background-image: -moz-linear-gradient(100% 100% 90deg, #9a8d6e, #564e3c);
		-webkit-border-top-left-radius: 4px;
		-webkit-border-top-right-radius: 4px;
		color: white;
		font-weight: bold;
	}
	
		ul.ul li.sel a, ul.ul li:active a{ color: white; } 


/* Toolbar Style */

.toolbar{
 /*	background: #7f7b6f url("/img/mobile/ipad/toolbar-bg.gif") repeat-x bottom left; */
	background-color: #564e3c;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#564e3c), to(#29251b));
	background-image: -moz-linear-gradient(100% 100% 90deg, #564e3c, #29251b);
	height: 45px;
	overflow: hidden;
	border: none;
	padding: 0 !important;
}

.overviewActions{
	border-right: 1px solid #999;
}

.applicationActions{
	border-left: 1px solid #444;
}


.button{
 /*	background: #dbd0b5 url("/img/mobile/ipad/button-bg.gif") repeat-x bottom left; */
	background-color: #d8bf9c;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d8bf9c), to(#928068));
	background-image: -moz-linear-gradient(100% 100% 90deg, #d8bf9c, #928068);
	-webkit-border-radius: 6px;
	box-shadow: 1px 1px 3px #333;
	height: 22px;
	padding: 8px 4px 0 4px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;	
}

	.button:active{
	 /* background: #7b7769 url("/img/mobile/ipad/button-selected-bg.gif") repeat-x top left; */
		background-color: #29251b;
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#29251b), to(#564e3c));
		background-image: -moz-linear-gradient(100% 100% 90deg, #29251b, #564e3c);
		color: white;
	}

		.button a, .buttonRight a, .buttonRight{
			text-decoration: none;
			color: #453928;
			vertical-align: middle;	
		}
	
		.button a:active{
			color: white;
		}
	
		.button input{
			background-color: transparent;
			border: none;
			color: #453928;
			font-weight: bold;
		}		
	
.buttonRight{	
	float: right;
	margin-right: 10px;
	min-width: 60px;
}

.buttonBottom{
	background-color: transparent;
	width: 60px;
	height: 30px;
	font-size: 12px;
	text-align: center;
	padding: 8px 4px 0 4px; 
}

	.buttonBottom:hover{
		background-color: #564e3c;
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#29251b), to(#564e3c));
		background-image: -moz-linear-gradient(100% 100% 90deg, #29251b, #564e3c);
	}
	
	.buttonBottom a{
		color: #d3c7ac;
		text-decoration: none;
	}
	
.folder{
	float: left;
	margin-left: 10px;
	 min-width: 50px;
}

	.folder div{ margin: 4px;}


.select{
	float: right;
	margin-right: 10px;
	width: 70px;
}

	.select select{
		background: transparent;
		border: none;
		width: 70px;
		color: #453928;
		font-weight: bold;
		margin-top: -3px !important;
	}


.icons{
	float: right;
	margin-right: 10px;
	width: 20px;
}


.compose{
	float: left;
	margin-left: 10px;
	width: 60px;
}

	.compose div{ margin: 4px;}


.actions{
	float: right;
	margin-right: 10px;
	overflow: hidden;
}


.actionLeft, .actionCenter, .actionRight{
 	float: left;
 	min-width: 60px;

}


.actionLeft{
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	border-right: 1px solid #c5b094;
}
 
 
.actionCenter{
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	border-left: 1px solid #6f604b;
	border-right: 1px solid #c5b094;
}


.actionRight{
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-left: 1px solid #6f604b;
}

.actionLeft div, .actionCenter div, .actionRight div{
	margin: 4px;
}


.footer{
		height: 30px;
		position: absolute;
		z-index: 100;
		bottom: 0;
		left: 0;
		min-width: 100%;
}

	.footer .copyrights, .footer .userInfo, .footer .quota{
		height: 30px;
		font-size: 12px;
		text-align: center;
		padding: 8px 4px 0 4px;
	}
	
.copyrights{
	margin-left: 20%;	
}
.userInfo{
	margin-left: 10px;
}

.copyrights, .copyrights a, .userInfo{
	color: #d3c7ac;
	text-decoration: none;
}

.shell{
	margin: 4px 0 0 20%;
	background-color: #564e3c;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#29251b), to(#564e3c));
	background-image: -moz-linear-gradient(100% 100% 90deg, #29251b, #564e3c);
	padding: 0;
	border-radius: 18px;
	-webkit-border-radius: 18px;
	height: 10px;
}

.shell .bar{
	-webkit-border-radius: 18px;
	border-radius: 18px;
	height: 10px;
	width: 30%;
	background-color: #e8ddc3;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e8ddc3), to(#a49479));
	background-image: -moz-linear-gradient(100% 100% 90deg, #e8ddc3, #a49479);
}
		
/*List view and Content View styles */

.view{
	width: 100%;
	overflow: hidden;
	background: #786448 url("/img/mobile/ipad/brown-pattern.gif") top left;
}


.listViewPane{
	float: left;
	width: 34.9%;
	border-right: 1px solid #999;
	position: relative;
    overflow:hidden;
}


ul.list li{
	list-style: none;
	display: block;
	border-bottom: 1px solid #ede8db;
}

.msgContainer{
	padding: 10px 4px;
	overflow: hidden;
}

.msgContainerSel{
	padding: 10px 4px;
	overflow: hidden;
	background: #d9ceb2 url("/img/mobile/ipad/listview-sel-bg.gif") repeat-x top left;
}

.infoBg{
	background-color: InfoBackground ;
	color: InfoText; 
}

.contentViewPane{
	float: left;
	width: 64.9%;
	border-left: 1px solid #444;
    position: relative;
    overflow:hidden;
}


.checkBox{
	width: 5%;
}

.msg{
	width: 75%;
	overflow: hidden;
	margin-left: 10px;
}

.header{
	margin: 10px 10px 0 10px;
	overflow: hidden;
	padding: 0 5px;
}

	.header div{
		padding: 0 !important;
		margin-bottom: 0 !important;
	}
	
	
	
.subject{
	color: white;
	font-size: 18px;
	font-weight: bold;
	width: 70%;
}

.time{
	width: 29.9%;
	color: white;
	text-align: right;
	margin-top: 2px;
}

	.time a {
		text-decoration: none;
		color: white;
		text-align: right;
	}
	
.msgBody {
    background-color: white;
    -webkit-border-radius: 12px;
    margin: 10px ;
    padding: 10px;
    overflow: auto;
    word-break: break-all;
    -webkit-box-shadow: 3px 2px 5px #666;
}

 .address{
	color: #7C6E4E;
	letter-spacing: 1px;
	border-bottom: 1px solid #F1EEE6;
	padding: 6px;
}
a.accept,a.tentative,a.decline{
 /*	background: #dbd0b5 url("/img/mobile/ipad/button-bg.gif") repeat-x bottom left; */
	background-color: #eee;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#c5c5c5));
	background-image: -moz-linear-gradient(100% 100% 90deg, #eeeeee, #c5c5c5);
	-webkit-border-radius: 6px;
	padding: 10px 15px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #453928;	
	border: 1px solid #ccc;
}

	a.accept:active, a.tentative:active,a.decline:active{
	 /* background: #7b7769 url("/img/mobile/ipad/button-selected-bg.gif") repeat-x top left; */
		background-color: #666;
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#999));
		background-image: -moz-linear-gradient(100% 100% 90deg, #666, #999);
		color: white;
	}

.buttonBg{
	/* background: #c5bba3 url("/img/mobile/ipad/button-bg.gif") repeat-x bottom left; */
	background-color: #d8bf9c;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d8bf9c), to(#928068));
	background-image: -moz-linear-gradient(100% 100% 90deg, #d8bf9c, #928068);	
	-webkit-border-radius: 6px;
	vertical-align: middle;
	padding: 0 !important;
	margin-top: 6px;
	color: #453928;
	font-size: 12px;
	font-weight: bold;
	width: 40% !important;
}

	.buttonBg a{
		text-decoration: none;
		color: black;
	}
	
	.buttonBg a:hover{
		background-hover: black;
		color: white;
	}
	
/** ListView Styles **/

.wrap-dlist {
    position:relative;	/* needed */
    z-index:10;			/* needed and important */
    height: 610px;
}

.wrap-dcontent {
    position:relative;	/* needed */
    z-index:10;			/* needed and important */
}


.tbl {
    display: table;
    width: 100%;
    text-align:center;
}

.tr {
    display: table-row;
    text-align:center;
}

.td {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
}

.dlist .list-row .td, .dlist .list-row-unread .td, .lableBorder{
    border-bottom: 1px solid #ede8db;
}

.list-row, .list-row-unread{
    padding: 3px;
    /* border-bottom: 1px solid #ede8db; */
    background-color: white;
} 

.list-row-unread {
    font-weight: bold;
}

.list-row-sel{
	background: #d9ceb2 url("/img/mobile/ipad/listview-sel-bg.gif") repeat-x top left;
}

.small-gray-text {
    color: #888888;
    font-size: 11px;
}

.list-row-unread .small-gray-text,.Email a {
    color: #666666;
    font-weight:normal;
    
}

.list-row-unread .l{
	font-weight: normal;
}

.from-span a {
    color: black;
    text-decoration: none;
}

.ConvOpen{
    background-position: 0 -326px !important;
}

.displayNone{
	display: none;
}

.displayShow{
	display: block;
}
.dlist .td{
}

.f {    
    white-space: nowrap;
}


.l {
    text-align: right; 
	vertical-align: middle;
	padding-right: 5px;
}

	.l a{ 
		color: #666666;
		text-decoration: none;
		font-size: 12px;
		
	}
.m {
    overflow:hidden;
    text-overflow:ellipsis;
	vertical-align: top;
    text-align:left;
    font-size: 12px;
}

	.m a{
		text-decoration: none;
		color: black;
	}
	
.msg-list-in-conv {
}

.msg-list-in-conv .cell {
    padding: 2px !important;
}

.SmlIcnHldr{
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align:middle;
}

.Msg {
    background: transparent url("/img/im/Img_ImSmallAvailable.gif") no-repeat center center;
}

.Attachment{
	background: transparent url("/img/startup/ImgAttachment.gif") no-repeat top left;
}

.Flag{
	background: transparent url("/img/startup/ImgFlagRed.gif") no-repeat top left;
}

.Edit{
	background: transparent url("/img/startup/ImgEdit.gif") no-repeat top left;
}

.View hr{
	border: 1px solid white;
	background-color: white;
}

/** Style for Contacts **/

.Person48 {
    background: url( "/img/large/ImgPerson_48.gif" ) 90% 50% no-repeat;
    height: 50px;
    width: 50px;
    padding: 2px;
}

.aleft {
    text-align:left !important;
    padding-left: 5px;
}
.aright {
    text-align:right !important;
    padding-right:5px;
}

span.aleft > div{
	color: white;
	font-size: 12px;
}

span.aleft > div:first-child, .contactHeader {
	font-size: 24px;
	color: white;
}


.View .list-row{   									/*. View div, */
    padding: 12px;
    margin-bottom: 8px;
    /* border-bottom: 1px solid #ede8db; */
	font-size: 14px;
} 

.View .list-row .label, .View div .label{
	float: left;
	width: 100px;
	text-tranform: capitalize;
	color: #666;
	text-align: left;
}

.cont_view .tr{
	display: block;
	text-align: left;
	margin-bottom: 8px;
	padding: 4px;
}

.cont_view .label{
	width: 120px;
	text-tranform: capitalize;
	color: #666;
	text-align: left;
	float: none !important;
	font-size: 14px;
}
.cont_view .value{
	text-align: left !important;
	width: 500px;
}

.value input{
	font-size: 14px;
}

.value a{
 	text-decoration: none;
 	font-weight: bold;
 	color: black;
}

.attachments div{
	padding: 4px;
    margin-bottom: 2px;
}

.left{
	border-right: none;
	border-bottom: 1px solid #ede8d8;
	text-align: left;
}

.right{	
	border-left: none;
	border-bottom: 1px solid #ede8d8;
}


.Folders a:link{
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	color: black;	
}

.folderBar{
	background: #dbd0b5 url("/img/mobile/ipad/button-bg.gif") repeat-x bottom left;
	height: 15px;
	color: #453928;
}

	.folderBar .td{ 
		text-align: left;
		padding: 8px;
	} 
	
	.folderBar .left{ border-bottom: none; font-weight: bold; }
	
	.folderBar .right{
		border-bottom: none;
	}
	
	.folderBar .right a{
		text-decoration: none;
		color: blue;
	}
	
.editFix{ 
	text-align: right !important;
	padding-right: 10px;
}	

/** Msg View **/

.zo_mv_body{
	margin-top: 10px;
	font-size: 14px;
}

/** needed for iscroll.js **/
.scrollbar {
	position: absolute;
	z-index: 10;
	width: 1px;
	height: 1px;
	border-width: 3px;
/*	-webkit-border-image: url(images/scrollbar.png) 3;  */

}

.scrollbar.horizontal {
	bottom: 1px;
	left: 1px;
}

.scrollbar.vertical {
	top: 1px;
	right: 1px;
}


/**Compose UI styles **/

.veil{
	background-color: #7c674c;
	opacity: 0.6;
	-webkit-opacity: 0.6;
	width: 100%;
	height: 100%;
	position: absolute;
    z-index: 102;
}

.wrapper{
	position: absolute;
	z-index: 104;
	width: 100%;
}

.composeBox{
	margin: 5px auto;
	position: relative;
 /*	-webkit-box-shadow: 3px 2px 5px #333; */
	background-color: transparent;
}

.composeToolbar{
 /* background: #e7decb url("/img/mobile/ipad/topbar-bg.gif") repeat-x bottom left; */
	background-color: #e8ddc3;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e8ddc3), to(#a49479));
	background-image: -moz-linear-gradient(100% 100% 90deg, #e8ddc3, #a49479);
	height: 45px;
	overflow: hidden;
	border: none;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
}
	
	.composeToolbar .compose, .composeToolbar .buttonRight{
		margin-top: 6px;
	}	
	
	
.composeFields{
	background-color: white;
	height: 30%;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	padding: 4px;
}


.cmp_container .View div.tr, .cmp_body, .cmp_body textarea{
	width: 95%;
	text-align: left;
	padding: 0 4px;
	display: block;
	font-size: 14px;
}

.cmp_container .View span.label{
	width: 80px;
}

.cmp_container .View span.value div{
	padding: 0;
	margin-bottom: 0;
}

.cmp_container .View span.value, .cmp_container .View span.value input{
	width: 490px;
}
 .cmp_body textarea{
 	height: 300px;
 	width: 100%;
 	margin-left: 2px;
 }