body {
    padding:0px;
    margin:0px;
    background:none transparent;
    font-size: 16px;
    @FontFamily-default@
}

h2 {
    font-size: 200%;
    font-weight: bold;
    padding:0px;
    margin:0px;
}

h1 {
    font-size: 300%;
    font-weight: bold;
    padding:0px;
    margin:0px;
}



.slide {
    font-size: 16px;
	overflow: hidden;
}

.endslide {
    font-size: 16px;
	background-color: #000000;
	color: #ffffff;
}

.splashscreen {
    font-size: 16px;
	background-color: #000000;
	color: #ffffff;
}

.slidemaster, .masterslide {
    background-color: white;
}

.slide ul, .slide ol, body ul, body ol {
    margin:0pt 0pt 0pt 1.8em;
    padding:0px;
}

.slide_object_title{
	font-family: arial, helvetica, verdana, sans-serif;
    font-size: 180%;
    font-weight: bold;
	padding: 0px;
	margin: 0px;
	color: #333333;
}

.slide_object_notes{
	font-family: arial, helvetica, verdana, sans-serif;
    font-size: 135%;
    font-weight: bold;
	padding: 0px;
	margin: 0px;
	color: #333333;
}

.slideShowNavToolbar {
    z-index:9000;
    position:absolute;
    left:0;
    bottom:10px;
    padding-left:10px;
}

.navBtns, .navImg {
    cursor: pointer;
}