<template id='MessageHeader'>
	<table class='MsgHeaderTable' cellspacing=0 cellpadding=0 border=0 width=100%>
		<tr>
			<td>
				<table id='${id}_hdrTable' cellspacing=0 cellpadding=0 border=0 width=100%>
					<tr>
						<td width='110' class='SubjectCol LabelColName' valign=top>
							<$= AjxStringUtil.htmlEncode(ZmMsg.subject); $>:
						</td>
						<td valign=top>
							<table border=0 cellpadding=0 cellspacing=0 width=100%>
								<tr>
									<td class='SubjectCol LabelColValue'>
										<$= data.subject $>
									</td>
									<$ if (data.hasHeaderCloseBtn) { $>
										<td width=1% id='${id}_closeBtnCell'></td>
										<td>&nbsp;</td>
									<$ } $>
								</tr>
							</table>
						</td>
					</tr>

					<tr id='${id}_expandRow'>
						<td>
							<table align=right border=0 cellpadding=0 cellspacing=0>
								<tr>
									<td id='${id}_expandHeader'></td>
									<td class='LabelColName'><$= ZmMsg.sentBy $>: </td>
								</tr>
							</table>
						</td>
						<td class='LabelColValue'>
							<$= AjxImg.getImageSpanHtml(data.sentByIcon, "cursor:default", null, "&nbsp;"+data.sentBy) $>&nbsp;&nbsp;<span class='LabelColName'><$= ZmMsg.on $>: </span><span class='LabelColValue'><$= data.dateString $></span>
						</td>
					</tr>

					<$ if (data.obo) { $>
						<tr>
							<td width='110' valign='top' class='LabelColName'><$= ZmMsg.onBehalfOf $>: </td>
							<td class='LabelColValue' colspan=3><$= data.obo $></td>
						</tr>
					<$ } $>

					<$ for (var i = 0; i < data.participants.length; i++) { $>
						<tr>
							<td width=100 valign='top' class='LabelColName'><$= data.participants[i].prefix $>: </td>
							<td class='LabelColValue'><$= data.participants[i].partStr $></td>
						</tr>
					<$ } $>
				</table>
			</td>
			<td width=200 id='${id}_contactArea' class='ContactArea'>
				<!-- Area reserved for the ComcastMsgContact Zimlet -->
			</td>
		</tr>
	</table>
</template>
