<template id='MessageHeader'>
	<div><!-- empty container DIV here so Dwt.parseHtmlFragment returns the infoBar div below -->
		<table class='MsgHeaderTable' cellspacing=0 cellpadding=0 border=0 width=100%>
			<tr>
				<td>
					<table id='${id}_hdrTable' cellspacing=0 cellpadding=0 border=0 width=100%>
						<tr>
							<td width='110' class='SubjectCol LabelColName' valign=top>
								<$= AjxStringUtil.htmlEncode(ZmMsg.subject); $>:
							</td>
							<td valign=top>
								<table border=0 cellpadding=0 cellspacing=0 width=100%>
									<tr>
										<td class='SubjectCol LabelColValue'>
											<$= data.subject $>
										</td>
										<$ if (data.hasHeaderCloseBtn) { $>
											<td width=1% id='${id}_closeBtnCell'></td>
											<td>&nbsp;</td>
										<$ } $>
									</tr>
								</table>
							</td>
						</tr>

						<tr id='${id}_expandRow'>
							<td>
								<table align=right border=0 cellpadding=0 cellspacing=0>
									<tr>
										<td valign=top id='${id}_expandHeader'></td>
										<td class='LabelColName' style='vertical-align:middle'><$= ZmMsg.sentBy $>: </td>
									</tr>
								</table>
							</td>
							<td class='LabelColValue' valign=top>
								<table border=0 cellpadding=0 cellspacing=0>
									<tr>
										<$ if (data.sentByIcon) { $>
											<td valign=top>
												<a href="javascript:;" onclick="ZmMailMsgView.contactIconCallback('${sentByNormal}', '${sentByIcon}'); return false;">
													<$= AjxImg.getImageHtml(data.sentByIcon, "cursor:pointer") $>
												</a>
											</td>
											<td>&nbsp;</td>
										<$ } $>
										<td>${sentBy}&nbsp;&nbsp;</td>
										<td class='LabelColName'><$= ZmMsg.on $>:</td>
										<td class='LabelColValue'>${dateString}</td>
									</tr>
								</table>
							</td>
						</tr>

						<$ if (data.obo) { $>
							<tr>
								<td width='110' valign='top' class='LabelColName'><$= ZmMsg.onBehalfOf $>:</td>
								<td class='LabelColValue' colspan=3><$= data.obo $></td>
							</tr>
						<$ } $>

						<$ for (var i = 0; i < data.participants.length; i++) { $>
							<tr>
								<td width=110 valign='top' class='LabelColName'><$= data.participants[i].prefix $>:</td>
								<td class='LabelColValue'><$= data.participants[i].partStr $></td>
							</tr>
						<$ } $>
					</table>
				</td>
				<td id='${id}_contactArea' class='ContactArea'>
					<!-- Area reserved zimlets to add to message views. -->
				</td>
			</tr>
		</table>
		<div id='${infoBarId}'></div>
	</div>
</template>

<template id='InformationBar'>
	<div class='DisplayImages' id='${id}'>
		<table width='100%' cellspacing=0 cellpadding=0>
			<tr>
				<td style='width:20px'><$= AjxImg.getImageHtml("Status") $></td>
				<td>${text} <span id='${id}_link' style='font:inherit; color:blue; text-decoration:underline'>${link}</span></td>
			</tr>
		</table>
	</div>
</template>

<template id='DownloadAll'>
	<table border=0 cellpadding=0 cellspacing=0 style='margin-right:1em; margin-bottom:1px'>
		<tr>
			<td style='width:18px'>
				<$= AjxImg.getImageHtml(ZmMimeTable.getInfo(ZmMimeTable.APP_ZIP).image, "position:relative;") $>
			</td>
			<td style='white-space:nowrap'>
				<a style='text-decoration:underline' class='AttLink' onclick='ZmZimbraMail.unloadHackCallback();' href='${url}&disp=a&fmt=zip'><$= ZmMsg.downloadAll $></a>
			</td>
		</tr>
	</table>
</template>
