<template id="GroupView">
	<!-- title bar -->
	<table id='${id}_header' cellspacing=0 cellpadding=0 width=100%>
		<tr class='contactHeaderRow' id='${id}_headerRow'>
			<td width=20><center><$= AjxImg.getImageHtml("Group") $></center></td>
			<td><div id='${id}_title' class='contactHeader'></div></td>
			<td align='right' id='${id}_tags'></td>
		</tr>
	</table>

	<table border=0 cellpadding=5 cellspacing=5 width=100% height=100%>
		<tr>
			<!-- content: left pane -->
			<td width=50% valign=top>
				<table border=0 cellpadding=2 cellspacing=2 width=100%>
					<tr>
						<td colspan=2 nowrap>*&nbsp;<$= ZmMsg.groupName $>:&nbsp;<input type='text' autocomplete='off' size=25 id='${id}_groupName'></td>
					</tr>
					<tr>
						<td nowrap>*&nbsp;<$= ZmMsg.groupMembers $>:</td>
						<td class='hintLabel'><$= ZmMsg.groupHint $></td>
					</tr>
				</table>
				<textarea wrap=off class='groupMembers' id='${id}_groupMembers'></textarea>
			</td>

			<!-- content: right pane -->
			<td width=50% valign=top>
				<fieldset>
					<legend class='groupFieldset'><$= ZmMsg.addMembers $></legend>
					<table border=0>
						<tr>
							<td class='editLabel'><$= ZmMsg.find $>:</td>
							<td><input type='text' id='${id}_searchField'></td>
							<td id='${id}_searchButton'></td>
						</tr>
						<$ if (data.showSearchIn) { $>
						<tr>
							<td class='editLabel'><$= ZmMsg.searchIn $>:</td>
							<td colspan=2 id='${id}_listSelect'></td>
						</tr>
						<$ } $>
					</table>
					<div class='groupMembers' id='${id}_listView'></div>
					<table border=0 cellpadding=3 cellspacing=2>
						<tr>
							<td id='${id}_addButton'></td>
							<td id='${id}_addAllButton'></td>
						</tr>
					</table>
				</fieldset>
			</td>
		</tr>
	</table>
</template>

<template id="Tooltip">
	<table cellpadding=0 cellspacing=0 border=0 width=250>
		<tr>
			<td colspan=2 valign=top>
				<div style='border-bottom: 1px solid black;'>
					<table cellpadding=0 cellspacing=0 border=0 width=100%>
						<tr valign='center'>
							<td style='font-weight:bold'><$= AjxStringUtil.htmlEncode(data.entryTitle); $></td>
							<td align='right'><$= AjxImg.getImageHtml(data.contact.getIcon()); $></td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<$ if (data.contact.isGroup()) {
			var members = data.contact.getGroupMembers().good.getArray();
			for (var i = 0; i < members.length; i++) {
		$>
		<tr>
			<td width=20><$= AjxImg.getImageHtml("Message") $></td>
			<td><$= AjxStringUtil.htmlEncode(members[i].toString()) $></td>
		</tr>
		<$	} 
		} else {
		$>
			<$= AjxTemplate.expand("zimbraMail.abook.templates.Contacts#AddEntry", {data:data, field:"fullName"}) $>
			<$= AjxTemplate.expand("zimbraMail.abook.templates.Contacts#AddEntry", {data:data, field:"jobTitle"}) $>
			<$= AjxTemplate.expand("zimbraMail.abook.templates.Contacts#AddEntry", {data:data, field:"company"}) $>
			<$= AjxTemplate.expand("zimbraMail.abook.templates.Contacts#AddEntry", {data:data, field:"mobilePhone"}) $>
			<$= AjxTemplate.expand("zimbraMail.abook.templates.Contacts#AddEntry", {data:data, field:"workPhone"}) $>
			<$= AjxTemplate.expand("zimbraMail.abook.templates.Contacts#AddEntry", {data:data, field:"homePhone"}) $>
			<$ if (data.contact.isGal) {
				var emails = data.contact.getEmails();
				for (var i = 0; i < emails.length && emails.length <= 3; i++) {
			$>
					<$= AjxTemplate.expand("zimbraMail.abook.templates.Contacts#AddEntry", {data:data, field:"email", val:emails[i]}) $>
			<$	} $>
				<$= AjxTemplate.expand("zimbraMail.abook.templates.Contacts#AddEntry", {data:data, field:"notes", truncate:500}) $>
			<$	} else { $>
				<$= AjxTemplate.expand("zimbraMail.abook.templates.Contacts#AddEntry", {data:data, field:"email", val:data.email}) $>
			<$	} $>
		<$	} $>
                <$ if (data.buddy) { $>
                <tr>
                  <td colspan="2">
                    <table align="center">
                      <tr>
                        <td>
                          <$= AjxImg.getImageHtml(data.buddy.getPresence().getIcon()) $>
                        </td>
                        <td>
                          <$= data.buddy.getPresence().getShowText() $>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <$ } $>
	</table>
</template>

<template id="AddEntry">
	<$ if (data.val == null) {
		data.val = data.field == "fullName" ? data.data.contact.getFullName() : data.data.contact.getAttr(data.field);
	} $>

	<$ if (data.val != null && data.val != "") { $>
		<tr valign=top>
			<td align=right style='white-space:nowrap; padding-right:5px; font-weight:bold'>
				<$= AjxStringUtil.htmlEncode(ZmContact._AB_FIELD[data.field]) $>:
			</td>
		<$ if (data.truncate) { $>
			<td><$= AjxStringUtil.htmlEncode(data.val.substring(0,data.truncate)) $></td>
		<$ } else { $>
			<td style='white-space:nowrap;'><$= AjxStringUtil.htmlEncode(data.val) $></td>
		<$ } $>
		</tr>
	<$ } $>
</template>
