<!----------------------------------------------------------------------------->
<!---------------------------- ZmContactCardsView ----------------------------->
<!----------------------------------------------------------------------------->
<template id="CardsView">
	<center>
		<table border=0 cellpadding=5 cellspacing=5 id='${cardTableId}'>
			<$
				var count = 0;
				for (var i = 0; i < data.list.length; i++) {
					var contact = data.list[i];
					if (count % 2 == 0) {
			$>
						<tr>
					<$ }
						count++;
					$>

					<td valign=top id='${id}_contact_<$= contact.id $>'></td>

					<$ if (count % 2 == 0) { $>
						</tr>
					<$ } $>
			<$ } $>
		</table>
	</center>
</template>

<template id="CardsView-NoResults">
	<center>
		<div class='NoResults' id='${id}'>
			<br><br><$= AjxMsg.noResults $>
		</div>
	</center>
</template>

<template id="CardBase">
	<div ${attrs} id='${id}' _itemIndex='${itemIndex}' style='width:${width}'>
		<table border=0 width=100% height=100% cellpadding=0 cellspacing=0>
			<tr class='contactHeader ${headerColor}'>
				<td width=16>
					<$= AjxImg.getImageHtml(data.contact.getIcon(), "width:16") $>
				</td>
				<td width=100% valign=top>
					<div class='contactHeader'><$= data.contact.getFileAs() $></div>
				</td>
				<$ if (data.tagCellId) { $>
					<td width=16 id='${tagCellId}'>${tagIcon}</td>
				<$ } $>
			</tr>
			<$ if (data.contact.isGroup()) { $>
				<$= AjxTemplate.expand("zimbraMail.abook.templates.Contacts#CardGroup", {data:data}) $>
			<$ } else { $>
				<$= AjxTemplate.expand("zimbraMail.abook.templates.Contacts#CardContact", {data:data}) $>
			<$ } $>
		</table>
	</div>
</template>

<template id="CardGroup">
	<$
		var members = data.data.groupMembers;
		var len = members.length;
		var size = len <= 5 ? len : Math.min(len, 5);
	$>

	<tr height=100%>
		<td colspan=3 valign=top width=100% style='padding-left:2px'>
			<table border=0>
				<$ for (var i = 0; i < size; i++) { $>
					<tr>
						<td width=20>
							<$= AjxImg.getImageHtml("Message") $>
						</td>
						<td>
							<nobr><$= AjxStringUtil.htmlEncode(members[i].toString()) $></nobr>
						</td>
					</tr>
				<$ } $>

				<$ if (size < len) { $>
					<tr>
						<td colspan=2>
							<a href="javascript:;" onclick="ZmContactCardsView._moreDetailsCallback('<$= data.data.contact.id $>')">
								<$= ZmMsg.more $>
							</a>
						</td>
					</tr>
				<$ } $>
			</table>
		</td>
	</tr>
</template>

<template id="CardContact">
	<$
		var value;
		var contact = data.data.contact;
	$>

	<tr>
		<td colspan=2 valign=top width=100% style='font-weight:bold; padding-left:2px'>
			<$= contact.getCompanyField() || "&nbsp;" $>
		</td>
	</tr>
	<tr height=100%>
		<td valign=top colspan=10>
			<table height=100% border=0 cellpadding=1 cellspacing=1>
				<tr height=100%>
					<td valign=top>
						<table border=0>
							<$ if (value = contact.getWorkAddrField()) { $>
								<$= AjxTemplate.expand("zimbraMail.abook.templates.Contacts#CardContactField", {data:data, fname:"W", value:value}) $>
							<$ } else if (value = contact.getHomeAddrField()) { $>
								<$= AjxTemplate.expand("zimbraMail.abook.templates.Contacts#CardContactField", {data:data, fname:"H", value:value}) $>
							<$ } $>

							<$ if (value = contact.getAttr("email")) { $>
								<$= AjxTemplate.expand("zimbraMail.abook.templates.Contacts#CardContactField", {data:data, fname:"E", value:value, type:ZmObjectManager.EMAIL}) $>
							<$ } $>

							<$ if (value = contact.getAttr("email2")) { $>
								<$= AjxTemplate.expand("zimbraMail.abook.templates.Contacts#CardContactField", {data:data, fname:"E2", value:value, type:ZmObjectManager.EMAIL}) $>
							<$ } else if (value = contact.getAttr("email3")) { $>
								<$= AjxTemplate.expand("zimbraMail.abook.templates.Contacts#CardContactField", {data:data, fname:"E3", value:value, type:ZmObjectManager.EMAIL}) $>
							<$ } $>
						</table>
					</td>
					<td valign=top>
						<table border=0>
							<$ if (value = contact.getAttr("workPhone")) { $>
								<$= AjxTemplate.expand("zimbraMail.abook.templates.Contacts#CardContactField", {data:data, fname:"W", value:value, type:ZmObjectManager.PHONE}) $>
							<$ } $>

							<$ if (value = contact.getAttr("workPhone2")) { $>
								<$= AjxTemplate.expand("zimbraMail.abook.templates.Contacts#CardContactField", {data:data, fname:"W2", value:value, type:ZmObjectManager.PHONE}) $>
							<$ } $>

							<$ if (value = contact.getAttr("workFax")) { $>
								<$= AjxTemplate.expand("zimbraMail.abook.templates.Contacts#CardContactField", {data:data, fname:"F", value:value, type:ZmObjectManager.PHONE}) $>
							<$ } $>

							<$ if (value = contact.getAttr("mobilePhone")) { $>
								<$= AjxTemplate.expand("zimbraMail.abook.templates.Contacts#CardContactField", {data:data, fname:"M", value:value, type:ZmObjectManager.PHONE}) $>
							<$ } $>

							<$ if (value = contact.getAttr("homePhone")) { $>
								<$= AjxTemplate.expand("zimbraMail.abook.templates.Contacts#CardContactField", {data:data, fname:"H", value:value, type:ZmObjectManager.PHONE}) $>
							<$ } $>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<$ if (!contact.isLoaded) { $>
		<tr>
			<td colspan=10 class="FinishLoading" onclick="ZmContactCardsView._loadContact(this, '<$= contact.id $>')">
				<center><$= ZmMsg.finishLoading $></center>
			</td>
		</tr>
	<$ } $>
</template>

<template id="CardContactField">
	<$
		var newValue = data.data.data.isDnd
			? data.value
			: data.data.data.view._generateObject(data.value, data.type)
	$>

	<tr>
		<td valign=top class='ZmContactFieldValue'>
			<$= data.fname $>
		</td>
		<td valign=top class='ZmContactField'>
			<$= AjxStringUtil.nl2br(newValue) $>
		</td>
	</tr>
</template>



<!----------------------------------------------------------------------------->
<!---------------------------- ZmContactSplitView ----------------------------->
<!----------------------------------------------------------------------------->
<template id="SplitView">
	<table border=0 cellpadding=0 cellspacing=0 width=100% height=100%>
		<tr class='contactHeaderRow ${hdrColor}' id='${id}_headerRow'>
			<td width='${width}' id='${id}_header'>
				<table border=0 width=100% cellpadding=0 cellspacing=0>
					<tr>
						<td width=20>
							<center><$= AjxImg.getImageHtml(data.contact.getIcon()) $></center>
						</td>
						<td class='${hdrClass}'>
							<$= data.contact.getFileAs() $>
						</td>
						<$ if (data.tagCellId) { $>
							<td align=right id='${tagCellId}'>${tagHtml}</td>
						<$ } $>
					</tr>
				</table>
			</td>
		</tr>
		<tr height=100%>
			<td colspan=3 valign=top>
				<div style='width:${width}; height:${height}; overflow:auto' id='${id}_body'>
					<$ if (data.groupMembers) { $>
						<$= AjxTemplate.expand("zimbraMail.abook.templates.Contacts#SplitViewGroup", data) $>
					<$ } else { $>
						<$= AjxTemplate.expand("zimbraMail.abook.templates.Contacts#SplitViewContact", data) $>
					<$ } $>
				</div>
			</td>
		</tr>
	</table>
</template>

<template id="SplitViewGroup">
	<table border=0 cellpadding=2 cellspacing=2 width=100%>
		<tr>
			<td width=100%>
				<table border=0>
					<$ for (var i = 0; i < data.groupMembers.length; i++) { $>
						<tr>
							<td width=20><$= AjxImg.getImageHtml("Message") $></td>
							<td><nobr><$= AjxStringUtil.htmlEncode(data.groupMembers[i].toString()) $></nobr></td>
						</tr>
					<$ } $>
				</table>
			</td>
			<td width=20 valign=top>
				<$= AjxImg.getImageHtml(data.folderIcon) $>
			</td>
			<td class='companyFolder' valign=top>
				<$= data.folderName $>
			</td>
		</tr>
	</table>
</template>

<template id="SplitViewContact">
	<$
		var contact 	= data.contact;
		var companyStr 	= contact.getCompanyField() || "&nbsp;";

		var email  		= contact.getAttr(ZmContact.F_email);
		var email2 		= contact.getAttr(ZmContact.F_email2);
		var email3 		= contact.getAttr(ZmContact.F_email3);
		var hasEmail 	= email || email2 || email3;

		var workField	= AjxStringUtil.nl2br(contact.getWorkAddrField());
		var workPhone	= contact.getAttr(ZmContact.F_workPhone);
		var workPhone2	= contact.getAttr(ZmContact.F_workPhone2);
		var workFax		= contact.getAttr(ZmContact.F_workFax);
		var workAsst	= contact.getAttr(ZmContact.F_assistantPhone);
		var workCompany = contact.getAttr(ZmContact.F_companyPhone);
		var workCallback= contact.getAttr(ZmContact.F_callbackPhone);
		var workURL 	= contact.getAttr(ZmContact.F_workURL);
		var hasWork		= workField || workPhone || workPhone2 || workFax || workAsst || workCompany || workCallback || workURL;

		var homeField 	= AjxStringUtil.nl2br(contact.getHomeAddrField());
		var homePhone 	= contact.getAttr(ZmContact.F_homePhone);
		var homePhone2 	= contact.getAttr(ZmContact.F_homePhone2);
		var homeFax 	= contact.getAttr(ZmContact.F_homeFax);
		var mobile 		= contact.getAttr(ZmContact.F_mobilePhone);
		var pager 		= contact.getAttr(ZmContact.F_pager);
		var homeURL 	= contact.getAttr(ZmContact.F_homeURL);
		var hasHome 	= homeField || homePhone || homePhone2 || homeFax || mobile || pager || homeURL;

		var otherField 	= AjxStringUtil.nl2br(contact.getOtherAddrField());
		var otherPhone 	= contact.getAttr(ZmContact.F_otherPhone);
		var otherFax 	= contact.getAttr(ZmContact.F_otherFax);
		var otherURL 	= contact.getAttr(ZmContact.F_otherURL);
		var birthday 	= contact.getAttr(ZmContact.F_birthday);
		var parsedBday 	= birthday ? (new AjxDateFormat("yyyy-MM-dd")).parse(birthday) : null;
		var birthdayStr = parsedBday ? AjxDateUtil.simpleComputeDateStr(parsedBday) : null;
		var hasOther 	= otherField || otherPhone || otherFax || otherURL || parsedBday;

		var notes 		= data.view._generateObject(contact.getAttr(ZmContact.F_notes));
	$>

	<table border=0 cellpadding=2 cellspacing=2 width=100%>
		<tr>
			<td width=100% class='companyName'><$= companyStr $></td>
			<$ if (contact.addrbook) { $>
				<td width=20><$= AjxImg.getImageHtml(contact.addrbook.getIcon()) $></td>
				<td class='companyFolder'><$= contact.addrbook.getName() $></td>
			<$ } else if (data.isGal) { $>
				<td width=20><$= AjxImg.getImageHtml("GAL") $></td>
				<td class='companyFolder'><$= ZmMsg.GAL $></td>
			<$ } $>
		</tr>
	</table>

	<table border=0 width=100% cellpadding=3 cellspacing=3>

	<$ if (hasEmail) { $>
		<tr>
			<td colspan=4 valign=top class='sectionLabel'><$= ZmMsg.email $></td>
		</tr>
		<tr>
			<td width=5>&nbsp;</td>
			<td class='contactOutput'>
				<$= email  ? (data.view._generateObject(email, ZmObjectManager.EMAIL)) : "" $><br>
				<$= email2 ? (data.view._generateObject(email2, ZmObjectManager.EMAIL)) : "" $><br>
				<$= email3 ? (data.view._generateObject(email3, ZmObjectManager.EMAIL)) : "" $><br>
			</td>
		</tr>
		<tr><td><br></td></tr>
	<$ } $>

	<$ if (hasWork) { $>
		<tr>
			<td colspan=4 valign=top class='sectionLabel'><$= ZmMsg.work $></td>
		</tr>
		<tr>
			<td width=5>&nbsp;</td>
			<td valign=top width='${bodyWidth}'>
				<$ if (workField || workURL) { $>
					<div class='contactOutput'>
						<$= workField ? workField : "" $><br>
						<$= workURL ? (data.view._generateObject(workURL, ZmObjectManager.URL)) : "" $>
					</div>
				<$ } $>
			</td>
			<td valign=top>
				<table border=0>
					<$= workPhone 	? (AjxTemplate.expand("zimbraMail.abook.templates.Contacts#SplitViewObject", {data:data, label:ZmMsg.phone, value:workPhone, type:ZmObjectManager.PHONE})) : "" $>
					<$= workPhone2	? (AjxTemplate.expand("zimbraMail.abook.templates.Contacts#SplitViewObject", {data:data, label:ZmMsg.phone2, value:workPhone2, type:ZmObjectManager.PHONE})) : "" $>
					<$= workFax		? (AjxTemplate.expand("zimbraMail.abook.templates.Contacts#SplitViewObject", {data:data, label:ZmMsg.fax, value:workFax, type:ZmObjectManager.PHONE})) : "" $>
					<$= workAsst	? (AjxTemplate.expand("zimbraMail.abook.templates.Contacts#SplitViewObject", {data:data, label:ZmMsg.AB_FIELD_assistantPhone, value:workAsst, type:ZmObjectManager.PHONE})) : "" $>
					<$= workCompany ? (AjxTemplate.expand("zimbraMail.abook.templates.Contacts#SplitViewObject", {data:data, label:ZmMsg.company, value:workCompany, type:ZmObjectManager.PHONE})) : "" $>
					<$= workCallback? (AjxTemplate.expand("zimbraMail.abook.templates.Contacts#SplitViewObject", {data:data, label:ZmMsg.AB_FIELD_callbackPhone, value:workCallback, type:ZmObjectManager.PHONE})) : "" $>
				</table>
			</td>
		</tr>
		<tr><td><br></td></tr>
	<$ } $>

	<$ if (hasHome) { $>
		<tr>
			<td colspan=4 valign=top class='sectionLabel'><$= ZmMsg.home $></td>
		</tr>
		<tr>
			<td width=5>&nbsp;</td>
			<td valign=top width='${bodyWidth}'>
				<$ if (homeField || homeURL) { $>
					<div class='contactOutput'>
						<$= homeField ? homeField : "" $><br>
						<$= homeURL ? (data.view._generateObject(homeURL, ZmObjectManager.URL)) : "" $>
					</div>
				<$ } $>
			</td>
			<td valign=top>
				<table border=0>
					<$= homePhone 	? (AjxTemplate.expand("zimbraMail.abook.templates.Contacts#SplitViewObject", {data:data, label:ZmMsg.phone, value:homePhone, type:ZmObjectManager.PHONE})) : "" $>
					<$= homePhone2 	? (AjxTemplate.expand("zimbraMail.abook.templates.Contacts#SplitViewObject", {data:data, label:ZmMsg.phone2, value:homePhone2, type:ZmObjectManager.PHONE})) : "" $>
					<$= homeFax 	? (AjxTemplate.expand("zimbraMail.abook.templates.Contacts#SplitViewObject", {data:data, label:ZmMsg.fax, value:homeFax, type:ZmObjectManager.PHONE})) : "" $>
					<$= mobile 		? (AjxTemplate.expand("zimbraMail.abook.templates.Contacts#SplitViewObject", {data:data, label:ZmMsg.mobile, value:mobile, type:ZmObjectManager.PHONE})) : "" $>
					<$= pager 		? (AjxTemplate.expand("zimbraMail.abook.templates.Contacts#SplitViewObject", {data:data, label:ZmMsg.AB_FIELD_pager, value:pager, type:ZmObjectManager.PHONE})) : "" $>
				</table>
			</td>
		</tr>
		<tr><td><br></td></tr>
	<$ } $>

	<$ if (hasOther) { $>
		<tr>
			<td colspan=4 valign=top class='sectionLabel'><$= ZmMsg.other $></td>
		</tr>
		<tr>
			<td width=5>&nbsp;</td>
			<td valign=top width='${bodyWidth}'>
				<$ if (otherField || otherURL) { $>
					<div class='contactOutput'>
						<$= otherField ? otherField : "" $><br>
						<$= otherURL ? (data.view._generateObject(otherURL, ZmObjectManager.URL)) : "" $>
					</div>
				<$ } $>
			</td>
			<td valign=top>
				<table border=0>
					<$= otherPhone 	? (AjxTemplate.expand("zimbraMail.abook.templates.Contacts#SplitViewObject", {data:data, label:ZmMsg.AB_FIELD_otherPhone, value:otherPhone, type:ZmObjectManager.PHONE})) : "" $>
					<$= otherFax 	? (AjxTemplate.expand("zimbraMail.abook.templates.Contacts#SplitViewObject", {data:data, label:ZmMsg.AB_FIELD_otherFax, value:otherFax, type:ZmObjectManager.PHONE})) : "" $>
					<$= birthdayStr	? (AjxTemplate.expand("zimbraMail.abook.templates.Contacts#SplitViewObject", {data:data, label:ZmMsg.AB_FIELD_birthday, value:birthdayStr, type:ZmObjectManager.DATE})) : "" $>
				</table>
			</td>
		</tr>
		<tr><td><br></td></tr>
	<$ } $>

	<$ if (notes) { $>
		<tr>
			<td valign=top colspan=4 class='sectionLabel'><$= ZmMsg.notes $></td>
		</tr>
		<tr>
			<td colspan=4 class='contactOutput'>
				<$= AjxStringUtil.nl2br(notes) $><br><br>
			</td>
		</tr>
	<$ } $>

	</table>
</template>

<template id="SplitViewObject">
	<tr>
		<td class='contactLabel'>${label}:</td>
		<td class='contactOutput'><$= data.data.view._generateObject(data.value, data.type) $></td>
	</tr>
</template>



<!----------------------------------------------------------------------------->
<!-------------------------------- ZmGroupView -------------------------------->
<!----------------------------------------------------------------------------->
<template id="GroupView">
	<!-- title bar -->
	<table id='${id}_header' cellspacing=0 cellpadding=0 width=100%>
		<tr class='contactHeaderRow' id='${id}_headerRow'>
			<td width=20><center><$= AjxImg.getImageHtml("Group") $></center></td>
			<td><div id='${id}_title' class='contactHeader'></div></td>
			<td align='right' id='${id}_tags'></td>
		</tr>
	</table>

	<table border=0 cellpadding=5 cellspacing=5 width=100% height=100%>
		<tr>
			<!-- content: left pane -->
			<td width=50% valign=top>
				<table border=0 cellpadding=2 cellspacing=2 width=100%>
					<tr>
						<td colspan=2 nowrap>*&nbsp;<$= ZmMsg.groupName $>:&nbsp;<input type='text' autocomplete='off' size=25 id='${id}_groupName'></td>
					</tr>
					<tr>
						<td nowrap>*&nbsp;<$= ZmMsg.groupMembers $>:</td>
						<td class='hintLabel'><$= ZmMsg.groupHint $></td>
					</tr>
				</table>
				<textarea wrap=off class='groupMembers' id='${id}_groupMembers'></textarea>
			</td>

			<!-- content: right pane -->
			<td width=50% valign=top>
				<fieldset>
					<legend class='groupFieldset'><$= ZmMsg.addMembers $></legend>
					<table border=0>
						<tr>
							<td class='editLabel'><$= ZmMsg.find $>:</td>
							<td><input type='text' id='${id}_searchField'></td>
							<td id='${id}_searchButton'></td>
						</tr>
						<$ if (data.showSearchIn) { $>
						<tr>
							<td class='editLabel'><$= ZmMsg.searchIn $>:</td>
							<td colspan=2 id='${id}_listSelect'></td>
						</tr>
						<$ } $>
					</table>
					<div class='groupMembers' id='${id}_listView'></div>
					<table border=0 cellpadding=3 cellspacing=2>
						<tr>
							<td id='${id}_addButton'></td>
							<td id='${id}_addAllButton'></td>
						</tr>
					</table>
				</fieldset>
			</td>
		</tr>
	</table>
</template>



<!----------------------------------------------------------------------------->
<!------------------------------ Contact Tooltip ------------------------------>
<!----------------------------------------------------------------------------->
<template id="Tooltip">
	<table cellpadding=0 cellspacing=0 border=0 width=250>
		<tr>
			<td colspan=2 valign=top>
				<div style='border-bottom: 1px solid black; margin-bottom:2px'>
					<table cellpadding=0 cellspacing=0 border=0 width=100%>
						<tr valign='bottom'>
							<td style='font-weight:bold'><$= AjxStringUtil.htmlEncode(data.entryTitle); $></td>
							<td align='right'><$= AjxImg.getImageHtml(data.contact.getIcon()); $></td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<$ if (data.contact.isGroup()) {
			var members = data.contact.getGroupMembers().good.getArray();
			for (var i = 0; i < members.length; i++) {
		$>
		<tr>
			<td width=20><$= AjxImg.getImageHtml("Message") $></td>
			<td><$= AjxStringUtil.htmlEncode(members[i].toString()) $></td>
		</tr>
		<$	} 
		} else {
		$>
			<$= AjxTemplate.expand("zimbraMail.abook.templates.Contacts#AddEntry", {data:data, field:"fullName"}) $>
			<$= AjxTemplate.expand("zimbraMail.abook.templates.Contacts#AddEntry", {data:data, field:"jobTitle"}) $>
			<$= AjxTemplate.expand("zimbraMail.abook.templates.Contacts#AddEntry", {data:data, field:"company"}) $>
			<$= AjxTemplate.expand("zimbraMail.abook.templates.Contacts#AddEntry", {data:data, field:"mobilePhone"}) $>
			<$= AjxTemplate.expand("zimbraMail.abook.templates.Contacts#AddEntry", {data:data, field:"workPhone"}) $>
			<$= AjxTemplate.expand("zimbraMail.abook.templates.Contacts#AddEntry", {data:data, field:"homePhone"}) $>
			<$ if (data.contact.isGal) {
				var emails = data.contact.getEmails();
				for (var i = 0; i < emails.length && emails.length <= 3; i++) {
			$>
					<$= AjxTemplate.expand("zimbraMail.abook.templates.Contacts#AddEntry", {data:data, field:"email", val:emails[i]}) $>
			<$	} $>
				<$= AjxTemplate.expand("zimbraMail.abook.templates.Contacts#AddEntry", {data:data, field:"notes", truncate:500}) $>
			<$	} else { $>
				<$= AjxTemplate.expand("zimbraMail.abook.templates.Contacts#AddEntry", {data:data, field:"email", val:data.email}) $>
			<$	} $>
		<$	} $>

		<$ if (data.buddy) { $>
			<tr>
				<td colspan="2">
					<table align="center">
						<tr>
							<td><$= AjxImg.getImageHtml(data.buddy.getPresence().getIcon()) $></td>
							<td><$= data.buddy.getPresence().getShowText() $></td>
						</tr>
					</table>
				</td>
			</tr>
		<$ } $>

		<$ if (data.hint) { $>
			<tr>
				<td colspan="2">
					<div class='TooltipHint'>
						<hr color=black size=1>
						<$= data.hint $>
					</div>
				</td>
			</tr>
		<$ } $>
	</table>
</template>

<template id="TooltipNotInAddrBook">
	<$ if (data.hint) { $>
	<table cellpadding=0 cellspacing=0 border=0 width=250>
		<tr>
			<td valign=top>
				<div style='border-bottom: 1px solid black;'>
					<table cellpadding=0 cellspacing=0 border=0 width=100%>
						<tr valign='bottom'>
							<td style='font-weight:bold'><$= ZmMsg.newContact $></td>
							<td align='right'><$= AjxImg.getImageHtml("NewContact"); $></td>
						</tr>
					</table>
				</div>
				<div class="TooltipNotInAddrBook">
					<$= AjxStringUtil.htmlEncode(data.addrstr) $>
				</div>
				<hr color=black size=1>
				<div class='TooltipHint'><$= data.hint $></div>
			</td>
		</tr>
	</table>
	<$ } else { $>
		<span style='font-weight:bold'><$= ZmMsg.email $>: </span>
		<$= AjxStringUtil.htmlEncode(data.addrstr) $>
	<$ } $>
</template>

<template id="AddEntry">
	<$ if (data.val == null) {
		data.val = data.field == "fullName" ? data.data.contact.getFullName() : data.data.contact.getAttr(data.field);
	} $>

	<$ if (data.val != null && data.val != "") { $>
		<tr valign=top>
			<td class='ZmTooltipLabel'>
				<$= AjxStringUtil.htmlEncode(ZmContact._AB_FIELD[data.field]) $>:
			</td>
		<$ if (data.truncate) { $>
			<td><$= AjxStringUtil.htmlEncode(data.val.substring(0,data.truncate)) $></td>
		<$ } else { $>
			<td style='white-space:nowrap;'><$= AjxStringUtil.htmlEncode(data.val) $></td>
		<$ } $>
		</tr>
	<$ } $>
</template>


<!----------------------------------------------------------------------------->
<!---------------------------- ZmOneContactPicker ----------------------------->
<!----------------------------------------------------------------------------->
<template id="OneContactPicker">
	<table>
		<tr>
			<td><label for="${id}_entry"><$= ZmMsg.search $>:</label></td>
			<td id="${id}_entryCell"></td>
		</tr>
	</table>
</template>
