BODY						{	margin:0px; 				}


#skin_outer *				{	@FixBoxModel@	}

/** generics **/
.skin_table					{	width:100%; height:100%; 						}
.skin_container				{	width:100%; height:100%; position:relative;		}
.skin_container_ad			{	width:100%; height:100%; position:relative; 	}

/* hide the main screen initially */
#skin_outer					{	display:none;				}

/* hide search builder initially */
#skin_tr_search_builder		{	display:none;				}

/* hide all ads initially */
.skin_outer_ad				{	display:none;				}



/** Outer container of the entire skin **/
#skin_outer 							{	@SkinOuter@			}
#skin_table_outer						{	padding:5px;		}


/** set the height for the top row -- must be set to a fixed number! **/
#skin_spacing_top_row					{	height:40px;	}


/** Logo displayed in the app **/
#skin_spacing_logo						{}
#skin_container_logo					{	width:@TreeStartWidth@;			}
	
/** Search box **/	
#skin_spacing_search					{	width:66%; padding:0px 10px 4px @cssValue(HSashContainer,width)@;			}
#skin_container_search					{	@SkinBorderSearch@	}

/** Web Search box **/	
#skin_spacing_web_search				{	width:33%; padding:0px 10px 4px 10px;		}
#skin_container_web_search				{	@SkinBorderWebSearch@	}
	
	
/** Help link **/	
#skin_spacing_help						{}
#skin_container_help					{	padding:0px 10px;}
	
/** Logoff link **/	
#skin_spacing_logoff					{}
#skin_container_logoff					{	padding:0px 10px;		}

/** Search Builder & its toolbar **/
#skin_spacing_search_builder			{	padding-bottom:5px;	}
#skin_container_search_builder			{	@SkinBorderSB@	}
#skin_spacing_search_builder_toolbar	{}
#skin_container_search_builder_toolbar	{	@SkinBorderSBToolbar@		}


/** combined username/quota **/
#skin_spacing_tree_top					{	text-align:center;	}
#skin_container_tree_top				{	@SkinBorderUsername@	}

/** User Name section **/
#skin_container_username				{	height:auto; padding-top:2px;	}
#skin_container_username *				{	@SkinTextUsername@	}

/** Quota section **/	
#skin_container_quota					{	@SkinBorderQuota@	}


/** Tree Toolbar a.k.a.  "current app" **/
#skin_spacing_current_app				{}
#skin_container_current_app				{	@SkinBorderCurrentApp@		}

#skin_spacing_switch					{}
#skin_container_switch					{	white-space:nowrap; padding:0px 10px;	}

/** Tree Toolbar **/
#skin_spacing_tree						{	height:100%; padding-bottom:5px;			}
#skin_container_tree					{	@SkinBorderTree@ 			}


/** Tree Footer (mini-calendar) **/
#skin_tr_tree_footer					{ display: none; }
#skin_spacing_tree_footer				{}
#skin_container_tree_footer				{	@SkinBorderMiniCal@ 	}


/** Tree/App Sash **/
#skin_spacing_tree_app_sash				{}
#skin_container_tree_app_sash			{	@SkinBorderTreeSash@		}

/** App Chooser **/
#skin_spacing_app_chooser				{}
#skin_border_app_chooser				{	@SkinBorderAppChooser@ 		}

#skin_container_app_chooser				{
	position:absolute;
	width:auto;
	z-index:1;
	height:30px;
}
#skin_container_offline_status			{	
	position:absolute; 
	white-space:nowrap; 
	height:auto;
	right:12px;
	top:5px;
	z-index:2;
}


/** App Toolbar **/
#skin_spacing_app_top_toolbar			{	}
#skin_container_app_top_toolbar			{	@SkinBorderAppToolbar@	width:auto;	}

/** App  **/
#skin_spacing_app_main					{	height:100%;			}
#skin_container_app_main				{	@SkinBorderApp@		}



/** Top ad **/
#skin_spacing_top_ad					{}
#skin_container_top_ad					{	@AdStyle@ height:@TopAdHeight@;		}

/** Sidebar ad **/
#skin_spacing_sidebar_ad				{	padding:10px 0px 0px 5px;		}
#skin_container_sidebar_ad				{	@AdStyle@ width:@SidebarAdWidth@;		}



/** Tree Top Ad **/
#skin_spacing_tree_top_ad				{}
#skin_container_tree_top_ad				{	@AdStyle@ height:@TreeTopAdHeight@;		}


/** Tree Bottom Ad **/
#skin_spacing_tree_bottom_ad			{}
#skin_container_tree_bottom_ad			{	@AdStyle@ height:@TreeBottomAdHeight@;	}

/** Bottom ad **/
#skin_spacing_bottom_ad					{}
#skin_container_bottom_ad				{	@AdStyle@ height:@BottomAdHeight@;		}



/*** HACKS: this makes the tables work properly -- rationalize this!  **/
#skin_td_tree				{	width:@TreeStartWidth@;	}
#skin_td_tree_app_sash 		{	width:@SashSize@;	}
#skin_td_main				{	width:auto;	}
#skin_td_sidebar_ad			{	width:@SidebarAdWidth@;	}



/** LoginPanel and Splash screen **/
#skin_container_splash_screen			{	@SkinOuter@	@FullWindow@ z-index:90000000;		}

#ZLoginPanel 			{	@LoginPanelOuterBorder@	}	
#ZLoginBodyContainer	{	@LoginPanelInnerBorder@	}

#ZSplashPanel			{	@SplashOuterBorder@		}
#ZSplashBodyContainer	{	@SplashInnerBorder@		}

/** Logo Images **/
.ImgAppBanner			{	@AppBanner@		}
.ImgLoginBanner			{	@LoginBanner@	}	





/* TO INTEGRATE */
.DwtVerticalSash div {
	position:relative;
	top:1px;
	margin-top:0px;
}


.UserInfoLink {
	width:100%;
	text-align:left;
	white-space:nowrap;
}

.ZmPicker .ZToolbar {
	@WidgetHeaderContainer@
	@WidgetHeaderContainer-normal@
}


.BannerTextUser {
	font-weight:bold;
}



/* App Chooser and App Tab Overrides -- TODO: Merge into main */

.ZmAppChooser					{	margin:0px !important; 		}

.ZAppTabBorder .ZLeftIcon 		{	padding-left:5px;			}
.ZAppTabBorder .ZWidgetTitle 	{	padding-right:10px;			}

.ZSelectedPrev .ZAppTabBorder 	{	@AppTabBorder-selectedPrev@	}
.ZSelectedNext .ZAppTabBorder	{	@AppTabBorder-selectedNext@	}
.ZFirstItem .ZAppTabBorder 		{	@AppTabBorder-first@		}
.ZLastItem .ZAppTabBorder 		{	@AppTabBorder-last@			}
.ZAppTabSpacer 					{	@AppTab@ @AppTabSpacer@		}



/* Normal Tab Overrides  -- TODO: Merge into main */

.ZSelectedPrev .ZTabBorder 		{	@TabBorder-selectedPrev@	}
.ZSelectedNext .ZTabBorder		{	@TabBorder-selectedNext@	}
.ZFirstItem .ZTabBorder 		{	@TabBorder-first@			}
.ZLastItem .ZTabBorder 			{	@TabBorder-last@			}
.ZTabBarPrefix 					{	@TabBarPrefix@				}
.ZTabBarSuffix 					{	@TabBarSuffix@				}



/* Quota */
.quotaBar 						{	height:8px;			}

/* USED? */
.quotaLabel {		
	@FontSize-smaller@
	text-align:right;
}



.ZmInviteToolBar .ZToolbarTable, .ZmShareToolBar .ZToolbarTable {
	height:100%;
}





/* Input stuff -- adding classes properly -- TODO: put this back into dwt.css  */
.DwtInputField INPUT[type="text"], 
.DwtInputField INPUT[type="password"],
.DwtSimpleInput {
	@InputField@
	@InputField-normal@
}
.DwtInputField TEXTAREA {
	@TextArea@
	@TextArea-normal@
}

.DwtInputField-error INPUT[type="text"],
.DwtInputField-error INPUT[type="password"],
.DwtSimpleInput-error {
	@InputField@
	@InputField-error@
}
.DwtInputField-error TEXTAREA {
	@TextArea@
	@TextArea-error@
}

.DwtInputField-focused INPUT[type="text"],
.DwtInputField-focused INPUT[type="password"],
.DwtSimpleInput-focused {
	@InputField@
	@InputField-focused@
}
.DwtInputField-focused TEXTAREA {
	@TextArea@
	@TextArea-focused@
}

.DwtInputField-disabled INPUT[type="text"],
.DwtInputField-disabled INPUT[type="password"],
.DwtSimpleInput-disabled {
	@InputField@
	@InputField-disabled@
}
.DwtInputField-disabled TEXTAREA {
	@TextArea@
	@TextArea-disabled@
}

.DwtInputField-hint INPUT[type="text"],
.DwtInputField-hint INPUT[type="password"],
.DwtInputField-hint INPUT,
.DwtSimpleInput-hint {
	@InputField@
	@InputField-normal@
	@InputField-hint@
}
.DwtInputField-hint TEXTAREA {
	@TextArea@
	@InputField-hint@
}

.DwtInputField-errorhint INPUT[type="text"],
.DwtInputField-errorhint INPUT[type="password"],
.DwtSimpleInput-errorhint {
	@InputField@
	@InputField-error@
	@InputField-hint@
}
.DwtInputField-errorhint TEXTAREA {
	@TextArea-error@
	@Text-light@
}
TEXTAREA
.BannerBar * {
	@FontSize-smaller@
}

.BannerBar {
	padding-top:1px;
}
.BannerBar TD {
	padding-right:0px;
}
.BannerTextQuota {
	text-align:center;
	vertical-align:top;
}
.BannerTextUser,
.BannerTextQuota {
	cursor:default;
}


/* styles for the HTML client */
INPUT[type="text"],
INPUT[type="password"]		{	@FieldBorder@	}
SELECT						{	@FieldBorder@	}
.TabSpacer 					{	display:none;		}
.Tab						{	white-space:nowrap;	height:30px; padding-right:5px !important;	}
.TbTop						{	border-width:0 1 1 0 !important; padding-right:5px !important;	}
.TbBottom					{	border-width:0 1 1 0 !important; padding-right:5px !important;	}
.TabFiller					{	@AppTabSpacer@ width:100%;	}
.List .Header TH			{	@RightSeparator@	}
.ZhSubTabs					{	@TabBar@	}
.ZhSubTabs					{	padding:5px !important;	}
.ZhSubTabs .TabSelected		{	@TabBorder-selected@	}

.ZhRow TD,
.ZhRowOdd TD				{	border-width:0 0 1 0 !important; padding-left:3px !important;	}


