<template id="VoicemailTooltip">
<table border=0 cellpadding=0 cellspacing=0>
	<tr><td>
		<div style='border-bottom:solid black 1px;margin-bottom:0.25em'>
		<table width=100% border=0 cellpadding=0 cellspacing=0>
			<tr valign=top>
				<td><b><$= ZmMsg.voicemail $></b></td>
				<td align=right style='padding-left:0.5em'><div class='ImgVoicemail'></div></td>
			</tr>
		</table>
		</div>
	</td></tr>
	<tr><td>
	    <table border=0 cellpadding=0 cellspacing=0>
			<tr valign=top>
				<td class='ZmTooltipLabel'><b><$= ZmMsg.fromLabel $></b></td>
				<td>${caller}</td>
			</tr>
			<tr valign=top>
				<td class='ZmTooltipLabel'><b><$= ZmMsg.durationLabel $></b></td>
				<td>${duration}</td>
			</tr>
			<tr valign=top>
				<td class='ZmTooltipLabel'><b><$= ZmMsg.dateLabel $></b></td>
				<td>${date}</td>
			</tr>
		</table>
	</td></tr>
</table>
</template>

<template id="CallTooltip">
<table border=0 cellpadding=0 cellspacing=0>
	<tr><td>
		<div style='border-bottom:solid black 1px;margin-bottom:0.25em'>
		<table width=100% border=0 cellpadding=0 cellspacing=0>
			<tr valign=top>
				<td><b><$= ZmMsg.call $></b></td>
				<td align=right style='padding-left:0.5em'><div class='${image}'></div></td>
			</tr>
		</table>
		</div>
	</td></tr>
	<tr><td>
	    <table border=0 cellpadding=0 cellspacing=0>
			<tr valign=top>
				<td class='ZmTooltipLabel'><b><$= ZmMsg.fromLabel $></b></td>
				<td>${caller}</td>
			</tr>
			<tr valign=top>
				<td class='ZmTooltipLabel'><b><$= ZmMsg.durationLabel $></b></td>
				<td>${duration}</td>
			</tr>
			<tr valign=top>
				<td class='ZmTooltipLabel'><b><$= ZmMsg.dateLabel $></b></td>
				<td>${date}</td>
			</tr>
			<tr valign=top>
				<td class='ZmTooltipLabel'><b><$= ZmMsg.locationLabel $></b></td>
				<td>${location}</td>
			</tr>
		</table>
	</td></tr>
</table>
</template>

<template id='ZmSoundPlayer' class='ZmSoundPlayer ZWidget'>
    <table cellspacing=0 cellpadding=0><tr>
    	<td><div id='${id}_play' class='ZmPlayButton'>Play</div></td>
    	<td><div id='${id}_pause' class='ZmPauseButton'>Pause</div></td>
    	<td><div id='${id}_status' class='ZmSoundStatus'>Grrrrrrrrr</div></td>
    	<td><div id='${id}_postition' class='DwtPositionSlider'>...Position...</div></td>
    	<td><div id='${id}_volume' class='ZmVolumeButton'>Volume</div></td>
    </tr></table>
</template>

<template id='ZmVoicePrefsView'>
    <table>
	    <tr id='${id}_anonymousRejection'>
	    	<td class='ZLabelCell'><$= ZmMsg.anonymousRejectionLabel $></td>
	    	<td><div id='${id}_anonymousRejectionCheckbox'></div></td>
	    </tr>
	    <tr id='${id}_emailNotification'>
	    	<td class='ZLabelCell'><$= ZmMsg.emailNotificationLabel $></td>
	    	<td><div id='${id}_emailNotificationCheckbox'></div></td>
	    </tr>
	    <tr id='${id}_callForwarding'>
	    	<td class='ZLabelCell'><$= ZmMsg.callForwardingLabel $></td>
	    	<td>
	    		<div id='${id}_callForwardingCheckbox'></div>
	    		<div id='${id}_callForwardingComboBox'></div>
	    	</td>
	    </tr>
    </table>
</template>





