<template id="VoicemailTooltip">
<table border=0 cellpadding=0 cellspacing=0>
	<tr><td>
		<div style='border-bottom:solid black 1px;margin-bottom:0.25em'>
		<table width=100% border=0 cellpadding=0 cellspacing=0>
			<tr valign=top>
				<td><b><$= ZmMsg.voiceMail $></b></td>
				<td align=right style='padding-left:0.5em'><div class='ImgVoicemail'></div></td>
			</tr>
		</table>
		</div>
	</td></tr>
	<tr><td>
	    <table border=0 cellpadding=0 cellspacing=0>
			<tr valign=top>
				<td class='ZmTooltipLabel'><b><$= ZmMsg.fromLabel $></b></td>
				<td>${caller}</td>
			</tr>
			<tr valign=top>
				<td class='ZmTooltipLabel'><b><$= ZmMsg.durationLabel $></b></td>
				<td>${duration}</td>
			</tr>
			<tr valign=top>
				<td class='ZmTooltipLabel'><b><$= ZmMsg.dateLabel $></b></td>
				<td>${date}</td>
			</tr>
		</table>
	</td></tr>
</table>
</template>

<template id="CallTooltip">
<table border=0 cellpadding=0 cellspacing=0>
	<tr><td>
		<div style='border-bottom:solid black 1px;margin-bottom:0.25em'>
		<table width=100% border=0 cellpadding=0 cellspacing=0>
			<tr valign=top>
				<td><b><$= ZmMsg.call $></b></td>
				<td align=right style='padding-left:0.5em'><div class='${image}'></div></td>
			</tr>
		</table>
		</div>
	</td></tr>
	<tr><td>
	    <table border=0 cellpadding=0 cellspacing=0>
			<tr valign=top>
				<td class='ZmTooltipLabel'><b><$= ZmMsg.fromLabel $></b></td>
				<td>${caller}</td>
			</tr>
			<tr valign=top>
				<td class='ZmTooltipLabel'><b><$= ZmMsg.durationLabel $></b></td>
				<td>${duration}</td>
			</tr>
			<tr valign=top>
				<td class='ZmTooltipLabel'><b><$= ZmMsg.dateLabel $></b></td>
				<td>${date}</td>
			</tr>
			<tr valign=top>
				<td class='ZmTooltipLabel'><b><$= ZmMsg.locationLabel $></b></td>
				<td>${location}</td>
			</tr>
		</table>
	</td></tr>
</table>
</template>

<template id='ZmSoundPlayer' class='ZmSoundPlayer ZWidget'>
    <table cellspacing=0 cellpadding=0><tr>
    	<td><div id='${id}_play' class='ZmPlayButton'>Play</div></td>
    	<td><div id='${id}_pause' class='ZmPauseButton'>Pause</div></td>
    	<td><div id='${id}_status' class='ZmSoundStatus'>Time</div></td>
    	<td><div id='${id}_postition' class='DwtPositionSlider'>...Position...</div></td>
    </tr></table>
</template>

<template id='ZmSoundPlayerNoScript' class='ZmSoundPlayer ZWidget'>
    <table cellspacing=0 cellpadding=0><tr>
    	<td><div id='${id}_play' class='ZmPlayButton'>Play</div></td>
    	<td><div id='${id}_status' class='ZmSoundStatus'>Time</div></td>
    	<td id='${id}_player' style='padding-left:6px'></td>
    </tr></table>
</template>

<template id='ZmVoicePrefsView'>
    <table cellspacing=4 cellpadding=4>
	    <tr id='${id}_anonymousRejection' valign='top'>
	    	<td class='prefLabel'><$= ZmMsg.anonymousRejectionLabel $></td>
	    	<td>
	    		<table><tr><td>
			    	<div id='${id}_anonymousRejectionCheckbox'></div>
		    	</td></tr></table>
			</td>
	    </tr>
	    <tr><td colspan=2><hr></td></tr>
	    
	    <tr id='${id}_emailNotification' valign='top'>
	    	<td class='prefLabel'><$= ZmMsg.emailNotificationLabel $></td>
	    	<td>
	    		<table><tr>
	    			<td><div id='${id}_emailNotificationCheckbox'></div></td>
	    			<td><div id='${id}_emailNotificationComboBox'></div></td>
		    	</tr></table>
	    	</td>
	    </tr>
	    <tr><td colspan=2><hr></td></tr>

	    <tr id='${id}_callForwarding' valign='top'>
	    	<td class='prefLabel'><$= ZmMsg.callForwardingLabel $></td>
	    	<td>
	    		<table><tr>
	    			<td><div id='${id}_callForwardingCheckbox'></div></td>
	    			<td><div id='${id}_callForwardingComboBox'></div></td>
		    	</tr></table>
	    	</td>
	    </tr>
	    <tr><td colspan=2><hr></td></tr>

	    <tr id='${id}_selectiveCallForwarding' valign='top'>
	    	<td class='prefLabel'><$= ZmMsg.selectiveCallForwardingLabel $></td>
	    	<td>
	    		<table><tr>
	    			<td><div id='${id}_selectiveCallForwardingCheckbox'></div></td>
		    		<td><div id='${id}_selectiveCallForwardingComboBox'></div></td>
		    	</tr></table>
		    	<div style='padding-left:10'>
					<div class='ZSmallSpacer'></div>
		    		<div id='${id}_selectiveCallForwardingTableParent'></div>
					<div class='ZSmallSpacer'></div>
		    		<table><tr>
			    		<td><b><$= ZmMsg.addLabel $></b></td>
		    			<td><div id='${id}_selectiveCallForwardingAddInput'></div></td>
			    		<td><div id='${id}_selectiveCallForwardingAddButton'></div></td>
			    	</tr></table>
					<div class='ZSmallSpacer'></div>
			    	<div style='padding-left: 16'><$= ZmMsg.selectiveCallForwardingRules$></div>
		    	</div>
	    	</td>
	    </tr>
	    
    </table>
</template>

<template id='ZmVoiceSelectiveCallForwardingTable'>
	<table id='${id}_selectiveCallForwardingTable' cellspacing=0 cellpadding=0 width=260>
		<tr><td class='DwtListView-Column' style='padding-left:6'><b><$= ZmMsg.selectiveCallForwardingHeader $></b></td></tr>
		<$ for (var i = 0, count = data.phones.length; i < count; i++) { $>
			<tr class='Line<$= (i % 2) ? 2 : 1 $>'><td>
			<$ var args = { text: data.phones[i], linkId: data.id + '_selectiveCallForwardingRemove_' + i }; $>
			<$= AjxTemplate.expand("zimbraMail.voicemail.templates.Voicemail#ZmVoiceSelectiveCallForwardingTableRow", args) $>
			</td></tr>
		<$ } $>
	</table>
</template>

<template id='ZmVoiceSelectiveCallForwardingTableRow'>
	<table cellspacing=0 cellpadding=0 width='100%'><tr>
		<td style='padding-left:6'><$= data.text $></td>
		<td width=80><a id=${linkId} class='Object'><$= ZmMsg.remove $></a></td>
	</tr></table>
</template>

<template id='ZmCallListPrintView'>
	<div class='ZmHead'><b>${name}</b></div>
	<div class='ZSmallSpacer'></div>
	<table class="ZmCallListPrintView" cellspacing=0>
		<tr style='font-weight:bold'>
			<td> ${callerHeader} </td>
			<td> <$= ZmMsg.duration $> </td>
			<td> ${dateHeader} </td>
		</tr>
		${rows}
	</table>
</template>

<template id='ZmCallListPrintViewRow'>
	<tr>
		<td> ${caller} </td>
		<td> ${duration} </td>
		<td> ${date} </td>
	</tr>
</template>
