$base-color: #0095D3; // VMware Serenity Blue
$base-gradient: 'matte';  // switch to 'flat' for no gradient

$light-grey: #E3E3E3;
$medium-grey: #C3C3C3;
$dark-grey: #3F3F3F;	 
$white: #FFF;

$default-border-color: $medium-grey;
$default-border: 1px solid $default-border-color;
$default-border-disabled: 1px solid $light-grey;

$default-readonly-color: #F0F0F0;

$default-textarea-radius: 3px;

//Form overrides
$form-label-background-color: $white;