
$light-grey: #E3E3E3;
$medium-grey: #C3C3C3;
$dark-grey: #3f3f3f;	 
$white: #FFF;

$default-border-color: $medium-grey;
$default-border: 1px solid $default-border-color;
$default-border-disabled: 1px solid #E0E0E0;

$default-readonly-color: #f0f0f0;

$default-textarea-radius: 3px;

//Form overrides
$form-label-background-color: #fff;