
#skin_td_tree	{	
}

#skin_td_app_main	{	
	padding:5px;
}

#skin_td_tree_footer	{	
	padding:5px;
}

#skin_container_current_app,
#skin_container_app_top_toolbar,
#skin_container_app_toolbar_sep	{	
	height:28px;
	padding:2px;
}

#skin_container_app_toolbar_sep .vertSep {
	display:none;
}

.ZmComposeView {
	background-color: #CBE0F1 !important;
	@FullWidth@
}

.ZmContactInfoView .contactHeaderSection {
	padding: 4px;
	background-color: #CBE0F1 !important; 				/* get this from skin.properties */
	@FontSize-big@
	font-weight: bold;
	margin-top: 10px;
	border-bottom: 1px solid #c0d9ee;		/* get this from skin.properties */
}