<template id="bubble" xml:space="strip">
<div id="${id}_bubble" class='ZInfoBox'>
	<table id='${id}_bubble_outer' width='100%' cellspacing=0 cellpadding=0>
	<tr>
		<td rowspan=2 style='vertical-align:top'><div class='ImgInformation_32'></div></td>
		<td><div id="${id}_bubble_close" class="ZInfoTitleClose" onclick='controller.hide("${id}")'><$= ZmMsg.close $></div><div id="${id}_title" class='ZInfoTitle'>${title}</div></td>
	</tr>
	<tr>
		<td id="${id}_body">${body}</td>
	</tr>
	</table>
</div>
</template>
