#skin_container_app_chooser		{	margin-top:5px;					}
#skin_container_app_main		{	border-left-width:1px;			}
#skin_container_tree			{	border-width:1px;				}
#skin_container_tree_footer		{	border-width:1px;				}
#skin_spacing_search			{	width:46%;						}
#skin_container_web_search		{	width:95%; height:20px;			}
#skin_container_app_top_toolbar	{
	border-left-width:1px;
	border-left-color:@darken(AppC,50)@;
	border-right-color:@darken(AppC,50)@;
	background:@AppC@ url('/zimbra/skins/_base/base2/img/gradient/10x32,v,15-0,1,0_16-31,1,0.png') left top repeat-x !important;
}
#skin_container_tree_top		{
	background:@AltC@ url('/zimbra/skins/_base/base2/img/gradient/10x32,v,15-0,2,0_16-31,2,0.png') left top repeat-x;
	margin-bottom:6px;
}
#skin_container_links			{
	padding-right:10px;
	white-space:nowrap;
	overflow:hidden;
	border-bottom:1px solid @darken(AppC,50)@;
}
#skin_container_username {
}
#skin_container_username .BannerTextUser {
    text-align: center;
}
#skin_container_quota {
}

#yahoo_userarea {
    background-color: @Lighten(AppC,20)@;
}

#skin_search_web_input			{
	border:1px solid @SelC@;
	padding: 2px 4px;
	height:20px;
	width: 11em;
}
#skin_search_local_button {
	/* this needs to be made visible by com_zimbra_local zimlet! */
	display: none;
}
#skin_border_app_chooser {
	height: 25px;
}
#skin_container_app_chooser {
	margin-top: 0px;
	height: 25px;
}
#skin_container_app_chooser .ZToolbarTable {
	background-color:@AppC@;
}

#skin_yahoo_links {
	white-space:nowrap;
}

.ZAppTab						{	margin-right:3px;				}
.ZAppTabBorder		 			{
	@AppTabRoundCorners@
	border-width:1px !important;
	border-color:@darken(AppC,50)@;
	background:@AltC@ url('/zimbra/skins/_base/base2/img/gradient/10x32,v,15-0,2,0_16-31,2,0.png') left top repeat-x;
}
.ZSelected .ZAppTabBorder		{
	border-bottom-width:0px !important;
	background:@AppC@ url('/zimbra/skins/_base/base2/img/gradient/10x32,v,0-15,3,0.png') left top repeat-x;
}
.ZAppTabBorder .ZLeftIcon DIV	{	margin-top:4px;					}
.BannerTextUser					{	text-align: left;				}
.ZmAppChooser					{	margin-left:0px; 				}
.ZAppTabSpacer					{	border-bottom:1px solid @darken(AppC,50)@; }
.Row-Selected .ZmConvListFragment {
	color:#dddddd;
}


/* Yahoo! skin-specific CSS */
.skin_yahoo_userinfo			{	padding-left:10px;				}

.skin_yahoo_websearch_button	{
	border:1px solid #7f7f7f;
	margin-left: 4px;
	height:20px;
	background: #ffdc8a url('/zimbra/skins/_base/base2/img/gradient/10x32,v,16-31,3,0.png') repeat-x left -7px;
	cursor: pointer;
}
.skin_yahoo_websearch_button:hover {
	background-color: @lighten(#ffdc8a,40)@;
}

.skin_yahoo_link, .skin_yahoo_link:link .skin_yahoo_link:visited,
A.skin_yahoo_link, A.skin_yahoo_link:link A.skin_yahoo_link:visited 
{
	color: #255ed1;
	cursor: pointer;
	text-decoration: none;
}
.skin_yahoo_link:hover, A.skin_yahoo_link:hover {
	text-decoration: underline !important;
}

.Overview {
	padding:0px 6px 0px 0px !important; 
}

.overviewHeader {
	padding: 1px;
}