#skin_td_logo					{	vertical-align:top;	}
#skin_td_username				{	padding-top:0px;	}

#skin_td_app_chooser 			{	padding:5px 0px 0px 0px !important;	}
#skin_container_app_chooser		{	height:25px;}
.ZAppTabBorder		 			{	border-width:0px !important;	}
.ZmAppChooser .ZToolbarTable	{	margin-left:5px;	}
.ZAppTabBorder .ZLeftIcon DIV	{	margin-top:4px;		}


#skin_td_logoff					{	text-align:left; white-space:nowrap;	}
.BannerTextUser 				{	text-align:left;	}

.DwtListView-Column				{	background:#c3dcf3 url(@SkinImgDir@/skin/DwtListView-Column.repeatx.gif) left top repeat-x;	
									padding-top:0px;
								}

#skin_td_app_toolbar_sep .vertSep	{	display:none;		}

#skin_container_current_app, 
#skin_container_app_top_toolbar, 
#skin_container_app_toolbar_sep {	height:28px !important;	}


#skin_td_search					{	width:200px;	}
#skin_container_search			{	border-width:0px !important; 
									padding:0px !important; 
									@ChromeBg@
									width:450px;
								}
#skin_container_links			{	padding-right: 10px; white-space:nowrap; }
.ZmSearchToolbar				{	margin-top:3px;	}								
.ZmSearchToolbarCell			{	padding:0px; vertical-align:top;		}
.ZmSearchToolbarCell .ZButton	{	margin-left:-1px;	}
.ZmSearchToolbarCell .ZButtonBorder
								{	height:20px !important;	}
.ZmSearchLink .ZWidgetTitle				{	@Text-anchor@			}
.ZmSearchLink .ZHover .ZWidgetTitle		{	@Text-anchor-hover@		}
.ZSearchButtonCell .ZButtonBorder	{	-moz-border-radius:0px 5px 5px 0px;	}

#ZLoginPanel					{	background-color:#d3e7f7;	}

.ZHover .ZToolbarButtonBorder	{	background-color:#E9F2FA !important;	}
/* NOT SURE WHY THIS REQUIRES A SPECIFIC OVERRIDE -- SEEMS TO A PROBLEM WITH IMAGEMERGE */
.ImgPrefsHeader					{	background:url(@SkinImgDir@/icons/prefs/ImgPrefsHeader.repeatx.gif) repeat-x !important;	}
.ZOptionsHeader					{	color:black;	}

.DialogBody 					{	background-color:#f2f9ff;	}
.DwtDialogTitle					{	padding-top:4px;	}
#IFDEF MSIE

#skin_container_app_toolbar_sep,#skin_container_current_app,#skin_container_app_top_toolbar{margin-top: 5px;}

#ENDIF

.ZHover .ZMenuItemTable TD{background-color:#3e79b0 !important;}

.Row-Selected .ZmConvListFragment {
	@Text-contrast@
	font-weight: normal;
}
.ImgCalendarDayGrid {
	background:transparent url(@SkinImgDir@/icons/calendar/ImgCalendarDayGrid.repeat.gif)!important;
}
