<!-- Table Properties dialog -->

<table class="ZmHEDialog"><tr><td>

  <fieldset class="ZmFieldset">
    <legend class="ZmLegend">$msg.description</legend>
    <table width="100%">
      <tr>
        <td class="Label" style="width: auto">$msg.caption:</td>
        <td width="100%" id="$id.Caption"></td>
      </tr>
      <tr>
        <td class="Label" style="width: auto">$msg.summary:</td>
        <td width="100%" id="$id.Summary"></td>
      </tr>
    </table>
  </fieldset>

  <fieldset class="ZmFieldset">
    <legend class="ZmLegend">$msg.layout</legend>
    <table cellspacing="0">
      <tr>
        <td class="Label">$msg.tableWidth:</td>
        <td colspan="4">
          <table cellpadding="0" cellspacing="0">
            <tr>
              <td style="padding-right: 2px"><input id="$id.WidthAuto" checked="checked" name="$id.WidthAuto" type="radio" /></td>
              <td style="padding-right: 2em" colspan="2"><label for="$id.WidthAuto">$msg.auto</label></td>
            </tr>
            <tr>
              <td style="padding-right: 2px"><input id="$id.WidthAuto1" name="$id.WidthAuto" type="radio" /></td>
              <td style="padding-right: 3px" id="$id.Width"></td>
              <td id="$id.WidthUnit"></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <table cellspacing="0" id="$id.AdvancedMode1" style="margin-top: 4px; display: none">
      <tr>
        <td class="Label">$msg.tableAlignment:</td>
        <td class="col2" id="$id.Align"></td>
        <td class="VSep-L">&nbsp;</td>
        <td class="VSep-R">&nbsp;</td>
        <td>
          <table cellpadding="1" cellspacing="1">
            <tr>
              <td><input type="checkbox" id="$id.FixedLayout" /></td>
              <td><label for="$id.FixedLayout">$msg.fixedCellWidth</label></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </fieldset>

  <fieldset class="ZmFieldset">
    <legend class="ZmLegend">$msg.textStyle</legend>
    <table cellspacing="0">
      <tr>
        <td class="Label">$msg.textAlign:</td>
        <td class="col2" id="$id.TextAlign"></td>

        <td class="VSep-L">&nbsp;</td>
        <td class="VSep-R">&nbsp;</td>

        <td class="Label">$msg.fontColor:</td>
        <td id="$id.ForegroundColor"></td>
      </tr>

      <tr>
        <td class="Label">$msg.verticalAlign:</td>
        <td id="$id.TextVAlign"></td>

        <td class="VSep-L">&nbsp;</td>
        <td class="VSep-R">&nbsp;</td>

        <td class="Label">$msg.fontBackground:</td>
        <td id="$id.BackgroundColor"></td>
      </tr>
    </table>
  </fieldset>

  <fieldset class="ZmFieldset">
    <legend class="ZmLegend">$msg.borderStyle</legend>
    <table cellspacing="0">
      <tr>
        <td class="Label">$msg.borderWidth:</td>
        <td class="col2" id="$id.BorderWidth"></td>

        <td class="VSep-L">&nbsp;</td>
        <td class="VSep-R">&nbsp;</td>

        <td class="Label">$msg.borderColor:</td>
        <td>
          <table cellspacing="0">
            <tr>
              <td id="$id.BorderColor"></td>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td class="Label">$msg.cellPadding:</td>
        <td id="$id.CellPadding"></td>

        <td class="VSep-L">&nbsp;</td>
        <td class="VSep-R">&nbsp;</td>

        <td class="Label">$msg.borderStyle:</td>
        <td id="$id.BorderStyle"></td>
      </tr>

      <tr id="$id.AdvancedMode2" style="display: none">
        <td class="Label">$msg.cellSpacing:</td>
        <td id="$id.BorderSpacing"></td>

        <td class="VSep-L">&nbsp;</td>
        <td class="VSep-R">&nbsp;</td>

        <td colspan="2" style="padding: 2px 0 2px 0">
          <table cellpadding="1" cellspacing="1" align="center">
            <tr>
              <td><input type="checkbox" id="$id.BorderCollapse" /></td>
              <td><label for="$id.BorderCollapse">$msg.collapsedBorders</label></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </fieldset>

</td></tr></table>
