<table class="ZmHEDialog">
  <tr>
    <td>

      <fieldset class="ZmFieldset">
        <legend class="ZmLegend">$msg.borderStyle</legend>
        <table>
          <tr>
            <td style="width: 17em">
              <!-- If you're wondering why this has to be so complex, check out this bug:
                   https://bugzilla.mozilla.org/show_bug.cgi?id=258255 -->
              <div style="padding-left: 1em; padding-top: 1em">$msg.clickToDrawABorder:</div>
              <table id="$id.PreviewGridHolder"
                     style="width: 100px; height: 100px;"
                     cellspacing="0" cellpadding="0" align="center"><tr><td>
                <table cellspacing="0" cellpadding="0" align="center"><tr><td>
                  <table id="$id.PreviewGrid"
                         style="border-collapse: collapse; background-color: #fff; border: 1px dashed #ccc;"
                         cellspacing="0" cellpadding="0">
                    <tr>
                      <td style="border: 1px dashed #ccc;"><div style="width: 30px; height: 30px;"></div></td>
                      <td style="border: 1px dashed #ccc;"><div style="width: 30px; height: 30px;"></div></td>
                    </tr>
                    <tr>
                      <td style="border: 1px dashed #ccc;"><div style="width: 30px; height: 30px;"></div></td>
                      <td style="border: 1px dashed #ccc;"><div style="width: 30px; height: 30px;"></div></td>
                    </tr>
                  </table>
                </td></tr></table>
              </td></tr></table>
              <div style="margin-top: 15px">
                <table align="center">
                  <tr>
                    <td class="SmallLabel">$msg.style:</td>
                    <td id="$id.BorderStyle"></td>
                  </tr>
                  <tr>
                    <td class="SmallLabel">$msg.colorLabel</td>
                    <td>
                      <!-- embedded in a table so the widget doesn't enlarge -->
                      <table cellspacing="0" cellpadding="0"><tr><td id="$id.BorderColor"></td></tr></table>
                    </td>
                  </tr>
                  <tr>
                    <td class="SmallLabel">$msg.width:</td>
                    <td id="$id.BorderWidth"></td>
                  </tr>
                </table>
              </div>
            </td>
            <td class="VSep-L">&nbsp;</td>
            <td class="VSep-R">&nbsp;</td>
            <td valign="top">
              <div style="padding-left: 1em; padding-top: 1em; padding-bottom: 1em">$msg.orPickAStyleBelow:</div>
              <table align="center">
                <tr>
                  <td><img src="/zimbra/js/ajax/config/style/BorderLeft.gif" /></td>
                  <td><img src="/zimbra/js/ajax/config/style/BorderTop.gif" /></td>
                  <td><img src="/zimbra/js/ajax/config/style/BorderRight.gif" /></td>
                  <td><img src="/zimbra/js/ajax/config/style/BorderBottom.gif" /></td>
                  <td><img src="/zimbra/js/ajax/config/style/BorderInnerVert.gif" /></td>
                  <td><img src="/zimbra/js/ajax/config/style/BorderInnerHoriz.gif" /></td>
                </tr>
              </table>
              <div style="color: red; text-align: center; margin: 1em 0">FIXME: work in progress</div>
            </td>
          </tr>
        </table>
      </fieldset>

      <fieldset class="ZmFieldset">
        <legend class="ZmLegend">$msg.textStyle</legend>
        <table cellspacing="0">
          <tr>
            <td class="Label">$msg.textAlign:</td>
            <td class="col2" id="$id.TextAlign"></td>

            <td class="VSep-L">&nbsp;</td>
            <td class="VSep-R">&nbsp;</td>

            <td class="Label">$msg.fontColor:</td>
            <td id="$id.ForegroundColor"></td>
          </tr>

          <tr>
            <td class="Label">$msg.verticalAlign:</td>
            <td class="col2" id="$id.TextVAlign"></td>

            <td class="VSep-L">&nbsp;</td>
            <td class="VSep-R">&nbsp;</td>

            <td class="Label">$msg.fontBackground:</td>
            <td id="$id.BackgroundColor"></td>
          </tr>
        </table>
      </fieldset>

    </td>
  </tr>
</table>
