/* Global ELEMENT declarations */

BODY {
	margin: 0px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
}

FORM {
	margin: 0;
	padding: 0;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
}

TD {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
}

INPUT {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
}

TEXTAREA {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
}

/* Login Panel */
.LaLoginDialog {
	background-color: #b7b7b7; 
	background-image:url(/liquidAdmin/skins/steel/images/bg_steel.gif);
	overflow:hidden;
}
.LaLoginDialog-Transparent {background-color: transparent;}
.LaLoginDialog-HeaderPanel, .LaLoginDialog-MainPanel {width: 448px;}
.LaLoginDialog-HeaderPanel {
	background-image: url("/liquidAdmin/img/hiRes/non-web/LoginBanner.jpg");
	border: 1px solid rgb(124, 124, 148);
}
.LaLoginDialog-HeaderText, .LaLoginDialog-SubHeaderText {
	color: white;
}
.LaLoginDialog-HeaderText {
	font-style: bold;
}

.LaLoginButton {
	font-size: 12px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	background-image:url(/liquidAdmin/skins/steel/images/bg_button_up.gif);
	border:1px outset #999999;	
	width:50px;
}

.LaLoginButton-activated {
	background-image:url(/liquidAdmin/skins/steel/images/bg_button_down.gif);
	border:1px outset #999999;	
	font-size: 12px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	width:50px;
}

.LaLoginButton-triggered {
	background-image:url(/liquidAdmin/skins/steel/images/bg_button_down.gif);
	border:1px inset #999999;	
	font-size: 12px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	width:50px;
}

.LaLoginDialog_LogOnButton {
	font-size: 12px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.LaLoginDialog-SubHeaderText {font-size: 12pt;}
.LaLoginDialog-MainPanel, .LaLoginDialog-ErrorPanel {
	border: 1px solid rgb(124, 124, 148);
}
.LaLoginDialog-MainPanel {background-color: white; table-layout:fixed;}

.LaLoginDialog-ErrorPanel {
  background-color: rgb(255, 255, 204);
  width:417px;
}
.LaLoginDialog-ErrorIcon {width: 16px;}
.LaLoginDialog-ErrorText {width: 360px;}

.Text {
	font-size:12px;
}

.LaStatusView {background-color: white; }

.LaNewAccountDialog {
	width: 500px;
}

.LaNewDomainDialog {
	width: 500px;
}

.LaNewCosDialog {
	width: 500px;
}

/* Account */
.LaAccountView {
	background-color: rgb(245, 245, 245);
}

.AdminTitleBar {
	background-color: rgb(215, 215, 215);
	font-size: 12pt;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	padding: 3px;
}

.AdminSubtitleBar {
	background-color: rgb(215, 215, 215);
	font-size: 8pt;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	padding: 3px;
}

.LaChngPwdDlg {
	width: 500px;
}

.LaDomainGeneralPropPage {
	background-color: rgb(245, 245, 245);
}
.LaDomainGeneralPropPage .TitleBar {
	background-color: rgb(215, 215, 215);
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#FFF0F0F0,endColorStr=#FF9997B5);
}
.LaDomainGeneralPropPage .Title {
	font: bold 12pt Arial, Helvetica, sans-serif;
	padding: 3px;
}

.LaDomainGALPropPage {
	background-color: rgb(245, 245, 245);
}
.LaDomainGALPropPage .TitleBar {
	background-color: rgb(215, 215, 215);
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#FFF0F0F0,endColorStr=#FF9997B5);
}
.LaDomainGALPropPage .Title {
	font: bold 12pt Arial, Helvetica, sans-serif;
	padding: 3px;
}

.LaDomainAuthPropPage {
	background-color: rgb(245, 245, 245);
}
.LaDomainAuthPropPage .TitleBar {
	background-color: rgb(215, 215, 215);
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#FFF0F0F0,endColorStr=#FF9997B5);
}
.LaDomainAuthPropPage .Title {
	font: bold 12pt Arial, Helvetica, sans-serif;
	padding: 3px;
}

.LaDomainView {
	background-color: rgb(245, 245, 245);
	width: 100%;
	align: left;
}
.LaDomainView .TitleBar {
	background-color: rgb(215, 215, 215);
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#FFF0F0F0,endColorStr=#FF9997B5);
}
.LaDomainView .Title {
	font: bold 12pt Arial, Helvetica, sans-serif;
	padding: 3px;
}

/* COS */
.LaCosView {
	background-color: rgb(245, 245, 245);
}
.LaCosView .TitleBar {
	background-color: rgb(215, 215, 215);
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#FFF0F0F0,endColorStr=#FF9997B5);
}
.LaCosView .Title {
	font: bold 12pt Arial, Helvetica, sans-serif;
	padding: 3px;
}

.DwtTabView {
	width: 100%;
	align: left;	
	background-color: white;
}
.DwtTabView .Title {
}

.DwtTabButtonTL {
}
.DwtTabButtonTM {
}
.DwtTabButtonTR {
}
.DwtTabButtonML {
	width: 9px;
}
.DwtTabButtonMM {
}
.DwtTabButtonMR {
	width: 9px;
}
.DwtTabButtonBL {
}
.DwtTabButtonBM {
}
.DwtTabButtonBR {
}

.LaServerGeneralPropPage {
	background-color: rgb(245, 245, 245);
	width: 100%;
	align: left;	
}

.LaServerGeneralPropPage .TitleBar {
	background-color: rgb(215, 215, 215);
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#FFF0F0F0,endColorStr=#FF9997B5);
}
.LaServerGeneralPropPage .Title {
	font: bold 12pt Arial, Helvetica, sans-serif;
	padding: 3px;
}

.StatsImageTitle {
	font: bold 16pt Arial, Helvetica, sans-serif;
	padding: 3px;
}

.serverPickList {
	width: 180px;
	height: 200px;
	border: 1px solid black;
	margin: 10px 10px 0 10px;
	background-color: transparent;
	overflow:auto;
}

.LaToolBar {
	width: 100%;
	background-image:url(/liquidAdmin/skins/steel/images/bg_pebble.gif);
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-bottom-color: #777777;
}

.userquotaused {
	height: 6px; 
	font-size: 6px; /* WEIRD IE QUIRK */
}

.userquotabar {
	width: 100px;
	border: 1px solid white;
	background-color: white;
}

.adminfootnote {
	font-size: 8pt;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: black;
}

.LaStatusServicesPage {
	background-color: rgb(255, 255, 255);
}

.LaStatusServicesPage .DwtButton { 
  width: 60px;
}


.admin_xform_number_input {
	width:5em;
}

.admin_xform_name_input {
	width:25em;
}

.LaGlobalAttachExt {
	height: 200px;
}


//the stuff below is copied from lm.css
/*
* Conventions
*
* - Classes that start with "Dwt" or "Lm" have a corollary Javascript object.
* - Use one line if there is only one selector and one declaration. Otherwise, indent each declaration on its own line.
* - Group selectors to avoid repetition of styles, as appropriate (ie group within a section). That means you may have
*   to look at more than one definition to figure out all the applicable styles, but it lets you give the styles a 
*   hierarchy. That way, you're more likely to need to change a style in just one place.
* - Use shorthand styles when possible (font, margin, padding, etc).
* - When grouping selectors that correspond to our Javascript objects, show inheritance by using a different line for
*   each level of inheritance. CSS doesn't care about our object hierarchy, but doing that enhances readability.
* - Use decimal RGB values for colors that don't have names.
* - Modifiers are lower case, whether they're a class (eg .activated) or tacked on (eg -selected).
*
* Classes are laid out in the following general order:
*	- HTML elements
*	- General app stuff (shell, overlays, banner)
*	- Widgets that tend toward abstract (minimal subclassing), such as tool tips and sashes
*	- Heavier use widgets such as buttons and dialogs
*		- General widget stuff, then specialized subclasses
*	- List views, with common stuff first
*	- Other views (lots of them)
*	- Miscellaneous stuff that multiple apps might use (objects, autocomplete)
*	- Modifiers
*
* Many of the Dwt widgets don't have corresponding classes here, since they are only subclassed. If you create and
* display one of those widgets, you'll have to add a class for it.
*/

/* 
* HTML elements - use for global declarations
*/

/* In preparation for variable substitution script

@TRIGGERED-COLOR@=rgb()
@COMPONENT_BACKGROUND=rgb(198, 197, 215)
@DEF-FONT@=Tahoma, Arial, Helvetica, sans-serif
@DEF-FONTSIZE@=11px
*/



/* Horizontal separator */
.horizSep {
	border-bottom: 1px solid rgb(102, 102, 102);
        margin: 10px 0;
	width: 100%;
}
/* Vertical separator */
.vertSep {
	border-left: 1px ridge rgb(200, 200, 200);
	height: 100%;
}

/* Vertical space */
DIV.vSpace {
	margin: 10px 0;
}

/* Link to open an attachment */
.AttLink:link, .AttLink:active, .AttLink:visited, .AttLink:hover {
	text-decoration: none;
	cursor:hand;
}
.AttLink:link, .AttLink:active, .AttLink:visited {
	color: black;
}
.Row-selected .AttLink:link, .Row-selected .AttLink:active, .Row-selected .AttLink:visited {
	color: white;
}
.AttLink:hover, .Row-selected .AttLink:hover {color: rgb(179, 61, 26);}

/* 
* Drag N Drop
*/

.DndIcon {
	filter:alpha(opacity=70)
		   progid:DXImageTransform.Microsoft.Shadow(color=black,direction=135,strength=8);
	-moz-opacity:0.7;
	opacity:0.7;
}

.DropNotAllowed {
	border: 2px solid red;
	background-color: white;	
	filter:alpha(opacity=70)
		   progid:DXImageTransform.Microsoft.Shadow(color=black,direction=135,strength=8);
	-moz-opacity:0.7;
	opacity:0.7;	
}
.DropAllowed {
	border: 2px solid green;
	background-color: white;	
	filter:alpha(opacity=70)
		   progid:DXImageTransform.Microsoft.Shadow(color=black,direction=135,strength=8);
	-moz-opacity:0.7;
	opacity:0.7;
}

/* Used by the text in the multi-select Icon */
.MailMultiSelectText {
	font-size: 11px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: white;
}

/*
* Top-level (shell) stuff
*/

.DwtShell, .MainShell {
    width: "100%";
    height: "100%";
}
.MainShell {
	background-color: #B7B7B7;
	background-image:url(/liquidAdmin/skins/steel/images/bg_steel.gif);
}

/* As of 07/22/05 Linux (or rather X) has a nasty issue that causes a huge perf problem with opacity.*/
.BusyOverlay-linux table, .VeilOverlay-linux table {
	cursor: "wait";
	background-color: transparent;
}

.BusyOverlay table, .VeilOverlay table {
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity:0.5;
	cursor: "wait";
	background-color: transparent;
}

.VeilOverlay table {
	cursor: "not-allowed";
	background-color: white;
}

.VeilOverlay-linux table {
	cursor: "not-allowed";
}


/*
* Splash Screen
*/
.LaSplashScreen, .LaSplashScreen table {
	background-color: #B7B7B7;
	background-image:url(/liquidAdmin/skins/steel/images/bg_steel.gif);
}


/*
* Banner (enlarges, turns green when angry)
*/

.Logo { 
  height:38px;
  width:200px;
}

.BannerBar {
	width:400px;
	float:right;
}
.BannerBar td {padding-right: 5px;}
.BannerBar a:link, .BannerBar a:active, .BannerBar a:visited, BannerBar a:hover {
	color: black; 
	text-decoration: none;
}

.BannerText {
	font-size: 11px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: black;
	text-align: center;
}

/*
* Tool tips
*/

.DwtToolTip {
	XXXMOWXXXbackground-color: rgb(255, 247, 176);
    XXXMOWXXXborder: solid 1px;
}

/*
* Sashes
*/

.DwtSash, .AppSash-horiz, .AppSash-vert { 	background-image:url(/liquidAdmin/skins/steel/images/bg_steel.gif); }
.AppSash-horiz { width: 5px; }
.AppSash-vert { 
	height: 5px;
	width: 100%;
	font-size: 5px; /* WEIRD IE QUIRK */
}

/*
* Trees
*/

.DwtTree, .DwtTreeItem {
	background-color: transparent;
	cursor: default;
}

.DwtTreeItem, .DwtTreeItem-selected, .DwtTreeItem-actioned {
	padding-left:2px;
	padding-right:2px;
	cursor: default;
}

.DwtTreeItem-selected {
	background-color: #ADD6D6;
}

.DwtTreeItem-actioned {
	background-color: #D6EBEB;
}

.DwtTreeItem-NoDrag {}
.DwtTreeItem-DragOver {
	background-color: #D6EBEB;
}

.DwtTreeItem .imageCell, .overviewPanelHeader .imageCell {
	padding-right:4px;
	white-space: nowrap;
}

.DwtTreeItemChildDiv {
	padding-left:16px;
}

.DwtTreeItemLevel1ChildDiv {
	padding-left:16px;
	padding-top:2px;
}


/*
* Buttons
*
* The background color is set by a modifier.
* TBButton - toolbar button, very light border (so we can show a border on mouseover)
* States for buttons:
*	-activated	-- mouseover state
*	-triggered	-- mousedown state
*/


.TBButton {
	border: 1px solid #EEEEEE;
}

.TBButtonWhite {
	border: 1px solid white;
}

.DwtButton, .ColorButton, .TBButton-activated, .TBButtonWhite-activated {
	background-image:url(/liquidAdmin/skins/steel/images/bg_button_up.gif);
	border:1px outset #999999;	
}

.DwtButton-activated, .ColorButton-activated {
	background-image:url(/liquidAdmin/skins/steel/images/bg_button_down.gif);
	border:1px outset #999999;	
}

.DwtButton-triggered, .ColorButton-triggered, .TBButton-triggered, .TBButtonWhite-triggered {
	background-image:url(/liquidAdmin/skins/steel/images/bg_button_down.gif);
	border:1px inset #999999;	
}


.DwtButton-toggled, .ColorButton-toggled, .TBButton-toggled, .TBButtonWhite-toggled {
	background-image:url(/liquidAdmin/skins/steel/images/bg_button_down.gif);
	border:1px inset #999999;	
}

.DisabledText { color: rgb(130, 130, 130); }

/*
* Dialogs
*/

.DwtDialog { background-color: transparent; }
.DwtDialog .Title {
	background: #2557AD;
	color: white;
	font-size: 10pt;
	font-weight: bold;
	padding: 5px 0 3px 10px;
}
.DwtDialog .MainPanel {
	background-color: #C6C5D7;
	border: 2px solid #2557AD;
	padding: 10px;
}
.DwtDialog textarea { width: 100%; }
.DwtDialog .Label { font-size: 10pt; }
.DwtDialog .Field { width: 290px; }

/* Message dialog */
.DwtMsgDialog { width: 400px; }
.DwtMsgArea { padding-left: 12px; }

/* DwtColorPicker */
.DwtColorPicker { border: 1px solid rgb(124, 124, 148); }
.DwtColorPicker table td img { border: 1px none black; }

/* Login Panel */
.LmLoginDialog {background-color: rgb(58, 110, 165);}
.LmLoginDialog-Transparent {background-color: transparent;}
.LmLoginDialog-HeaderPanel, .LmLoginDialog-MainPanel {width: 448px;}
.LmLoginDialog-HeaderPanel {
	background-image: url("/liquidAdmin/img/hiRes/non-web/LoginBanner.jpg");
	border: 1px solid rgb(124, 124, 148);
}
.LmLoginDialog-HeaderText, .LmLoginDialog-SubHeaderText {
	color: white;
}
.LmLoginDialog-HeaderText {
	font-style: bold
	font-size: 14pt;
}
.LmLoginDialog-SubHeaderText {font-size: 12pt;}
.LmLoginDialog-MainPanel, .LmLoginDialog-ErrorPanel {
	border: 1px solid rgb(124, 124, 148);
}
.LmLoginDialog-MainPanel {background-color: white; table-layout:fixed;}
.LmLoginDialog-Field {width: 290px}

.LmLoginDialog-ErrorPanel {
  background-color: rgb(255, 255, 204);
  width:417px;
}

.LmLoginDialog-ErrorText {width: 360px;}
.LmLoginDialog .DwtButton { width: 50px; }

/* New tag dialog */
.TagColorMenu {
	background-color: white;
	border: solid rgb(189, 189, 189) 1px;
}

/* New folder dialog */
.FolderTree {
	background-color: white;
	width: 400px;
	height: 200px;
	border: 1px solid rgb(124, 124, 148);
	padding: 5px 0 0 5px;
}
.FolderTree td {padding: 0;}

/* Contact picker */
.LmContactPicker .abPickList {
	width: 250px;
	height: 285px;
	margin: 5 5 0 5;
}

.LmContactPicker .DwtListView {
	border: 1px solid black;
	background-color: white;
}

/*
* Menus
*/

.DwtMenu, .ActionMenu {
	border: solid rgb(189, 189, 189) 1px;
}
.DwtMenu {background-color: rgb(198, 197, 215);}
.DwtMenuItem {background-color: transparent;}
.DwtMenuItem-selected, .DwtMenuItem-IconArea-selected, .DwtMenuItem-CheckedArea-selected {
	background-color: rgb(249, 221, 135);
}
.DwtMenuItem-IconArea, .DwtMenuItem-CheckedArea {background-color: rgb(198, 197, 215);}
.DwtMenuItem-Separator {background-color: rgb(124, 124, 148);}
.DwtMenuItem .Text, .DwtMenuItem .DisabledText, .DwtMenuItem-selected .Text {
	font: menu;
}
.DwtMenuItem .DisabledText {color: rgb(130, 130, 130);}
.ActionMenu {background-color: white;}

/*
* List views
*/


/*
* List views
*/

/* Common styles */
.DwtListView {
	width: 100%;
}

.DwtListView-Rows {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #FFFFFF;
}

.DwtListView-Rows td {
	padding: 2px;
}

.DwtListView-Sash {
	width: 1px; 
	height: 100%;
	vertical-align: top;
}

.DwtListView-ColHeader {
	background-color: #C6C5D7;
	position: relative;
	height: 24px;
}

.DwtListView-Column {
	padding: 0 0 0 2;
	border-style: solid;
	border-width: 0 0 2 0;
	border-bottom-color: #777777;
	background-color: #EEEEEE;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.DwtListView-ColumnEmpty {
	background-color: #555555;
}

.DwtListView-ColumnSash {
	width: 2px;
	background-color: #000000;
}

.DwtListView .DwtListView-ColumnHover {
	background-color: #D8D8E0;
	border-bottom-color: #AAAAAA;
}

.DwtListView-ColumnActive {
	background-color: #EEEEEE;
}

.DwtAddRemove {
}
.DwtAddRemoveListView {
	border: solid #777777 1px;
}
.DwtAddRemoveListViewRow {
	padding-left: .25em;
}

.DwtAlert {
	border-style: solid;
	border-width: 1px;
	margin: .5em 2em;
	padding: .25em;
}
.DwtAlertBare {
	margin: 0px;
	padding: 0px;
	border-style: none;
	background-color: transparent;
}
.DwtAlertInfo {
	border-color: #9d9; /* dark green */
	background-color: #cfc; /* light green */
} 
.DwtAlertWarn {
	border-color: #dd9; /* dark yellow */
	background-color: #ffc; /* light yellow */
}
.DwtAlertCrit {
	border-color: #d99; /* dark red */
	background-color: #fcc; /* light red */
}
.DwtAlertIcon {
	margin: 0.25em;
	margin-right: 0.5em;
}
.DwtAlertTitle {
	font-size: 1.1em;
	font-weight: bold;
}
.DwtAlertContent {
}

.NoResults {
	font-size: 10pt;
	text-align: center;
}
/* Autocompletion */
.LmAutocompleteListView {
	background-color: rgb(245, 245, 245);
	border: 1px outset;
	padding: 1px;
	width: auto;
}
.LmAutocompleteListView .Row, .LmAutocompleteListView .Row-selected {padding: 1px;}
.LmAutocompleteListView .Row-selected { color: white; }

/* Row display and highlighting */
.Row, .Row-selected, .Row-matched, .Row-matched-drag, 
.Row-drag, .Row-selected-drag, .Row-selected-right, .Row-selected-disabled {
	border-bottom: 1px solid rgb(198, 197, 215);
}

.Row-selected, .Row-selected-drag { 
  background-color: rgb(37, 87, 173); 
  color: white;
}
.Row-selected-disabled {
	background-color: rgb(233,236,216);
	color: rgb(201, 201, 194);
}
.Row-matched, .Row-matched-dnd { background-color: rgb(255, 247, 176); }
.Row-selected-right, .Row-drag, .Row-matched-drag { background-color: rgb(175, 175, 175); }

.Row-selected table, .Row-selected-drag table, .Row-drag table, 
.Row-matched-drag table, .Row-selected-right table { 
	color: white; 
}

.Row table, .Row-selected table, .Row-matched table, .Row-matched-drag table, .Row-dnd table, 
.Row-selected-drag table, .Row-drag table, .Row-selected-right table {
	table-layout: fixed;
}

.Row, .Row-selected, .Row-selected-disabled, .Row-dnd, 
.Row td, .Row div, .Row-selected td, .Row-matched td, .Row-dnd td, .Row-selected-drag td, 
.Row-drag td, .Row-matched-drag td, .Row-selected-right td {
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Row td.Flag, .Row td.Attach, .Row td.Tag, .Row td.Icon,
.Row-dnd td.Flag, .Row-dnd td.Attach, .Row-dnd td.Tag, .Row-dnd td.Icon, 
.Row-selected-drag td.Flag, .Row-selected-drag td.Attach, .Row-selected-drag td.Tag, .Row-selected-drag td.Icon, 
.Row-matched-drag td.Flag, .Row-matched-drag td.Attach, .Row-matched-drag td.Tag, .Row-matched-drag td.Icon, 
.Row-drag td.Flag, .Row-drag td.Attach,.Row-drag td.Tag, .Row-drag td.Icon {
	text-align: center;
}

/* Flags */
.Unread { font-weight: bold; }
.Trash { text-decoration: line-through; }
.Sent { font-style: italic; }
	
/*
* Other views
*/

/* Overview Panel */
.OverviewPanel, .OverviewTreePanel {width: 150px;}
.OverviewPanel {height: 100%;}
.OverviewTreePanel {background-color: white;}
.OverviewTree {padding: 5px;}

/* Search bar */

.SearchPanel {
	width:100%;
	background-image:url(/liquidAdmin/skins/steel/images/bg_steel.gif);	
}

.SearchToolBar {
	width:100%;
	background-image:url(/liquidAdmin/skins/steel/images/bg_steel.gif);	
}

.SearchTBSearchField {
	width:100%;
	background-image:url(/liquidAdmin/skins/steel/images/bg_steel.gif);	
}

.nobreak {
	white-space: nowrap;
	overflow: hidden;
}


/*
* Modifiers
*
* A modifier represents a change in state that is the same across several objects. For example, different types of
* buttons all display activation and triggering the same. There's no "selected" modifier because the different
* objects that can become selected display it differently.
* <p>
* The reason that there are chained selectors is so that the modifier won't lose in precedence due to specificity.
* By itself, the modifier is a single class, so that component of the specificity is 1. A matching declaration with
* a conflicting style (namely, background-color) will win on specificity if it has two classes. So we need to give
* the two-class version of the modifier, which will win because it comes later in this file.
*
* So far these just apply to buttons.
*/

/* button in a toolbar */
.transparent {
	background-color: transparent;
}
/* button in a form or dialog */
.contrast {
	background-color: rgb(198, 197, 215);
}	
/* button that is the default for some action */
.active, .DwtDialog .DwtButton.active {
	background-color: rgb(245, 245, 245);
}	
/* button onmouseover */
.activated, .DwtDialog .DwtButton.activated, .DwtDialog .ColorButton.activated {
	background-color: rgb(249, 221, 135);
}
/* button onmousedown */
.triggered, .DwtDialog .DwtButton.triggered, .DwtDialog .ColorButton.triggered {
	background-color: rgb(240, 160, 38);
}

/* button toggled on */
.toggled {background-color: rgb(255, 255, 255);}

/* button in the tab bar */
.DwtTabButton {
}

.DwtTabButton-active {
}

.DwtTabButton-inactive {
}

.active {
	background-color: rgb(245, 245, 245);
}
.inactive {
	background-color: rgb(198, 197, 215);
}

.DwtTabTable {
	background-color: rgb(198, 197, 215);
}

.LmFilterPrefView .LmToolBar { 
  position : relative;
  height:25px;
  border-top: 2px solid rgb(37, 87, 173);
  border-bottom: 2px solid rgb(37, 87, 173);
  border-left: 1px solid rgb(37, 87, 173);
  border-right: 1px solid rgb(37, 87, 173);

}

.LmFilterPrefView .summaryTable { 
  table-layout:fixed; 
  width:100%; 
  height:100%;
}

.LmFilterPrefView .DwtListView { 
  width:100%;
}
.LmFilterPrefView .filterSummaryContainer { 
  height :100%;
  overflow : visible;
}

.LmFilterPrefView .DwtButton { 
  margin-bottom:5px;
}

.LmFilterDetailsView {  
  width:760px;
}

.LmFilterDetailsView .shadedBox  {
  border-top: 1px solid rgb(150, 150, 150); 
  border-bottom:1px solid rgb(240, 240, 240); 
  border-right: 1px solid rgb(200, 200, 200);
  border-left: 1px solid rgb(180, 180,180);
  background-color: rgb(210, 210, 210);
}

.LmFilterDetailsView .shadedBox .pickerButton,
.LmFilterDetailsView .shadedBox .pickerButton-activated, 
.LmFilterDetailsView .shadedBox .pickerButton-triggered{ 
  width: 120px;
  background-color: white;
  border: 1px solid rgb(127,157, 185); 
}

.LmFilterDetailsView .paddedTableCell { 
  padding: 4px 0px 0px 2px;
}

.LmFilterDetailsView .DwtButton {
  border: 1px solid black;
  background-color: rgb(198, 197, 215);
  width: 50px;
}
.LmFilterDetailsView .DwtButton.activated {  
  background-color: rgb(249, 221, 135);
}

.LmFilterPrefView .DwtListView {
  border-bottom:1px solid rgb(189, 189, 189); 
  border-left:1px solid rgb(189, 189, 189); 
  border-top:1px solid rgb(100, 100, 100); 
  border-right:1px solid rgb(110, 110, 110)
}

.LmFilterPrefView .DwtListView-Rows {
  overflow:visible;
  /* 
     *  this is very important for the filter rules on IE
     *  For some reason, having height set to 100% makes all
     *  the content disappear on IE */
  height:auto;
}

/*
* Print View
*/
.LmPrintView-username {
	font-size: 14pt;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.LmPrintView-company {
	font-size: 18pt;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

/*
* Preferences
*/

.LmPrefView {background-color: rgb(245, 245, 245); height:100%}
.LmPrefView .TitleBar {padding-top: 10px;}
.LmPrefView .DwtTabTable {background-color: rgb(198, 197, 215);}

/* Tabs */
.LmPrefView .DwtTabButton .Text {font-weight: bold;}
.LmPrefView .DwtTabButton-active {background-color: rgb(245, 245, 245);}
.LmPrefView .DwtTabButton-inactive {background-color: rgb(198, 197, 215);}

.LmPrefView tr {vertical-align: top;}

/* Divider between groups of related preferences */
.LmPrefView .horizSep {
	margin-top: 4px;
	border-bottom: 2px solid rgb(198, 197, 215);
	font-size: 1px;
}

/* Prefs are laid out in a table */
.prefTable {
	table-layout: fixed;
	width: 100%;
}
.prefLabel {width: 300px;}
.prefContent {width: 410px;}

/* make things line up visually */
.LmPrefView .leftPad {padding-left: 5px;}

/* buttons */
.LmPreferencesPage .changePasswordButton {width: 50px;}
.LmPreferencesPage .resetButton {width: 100px;}

.Row .LmFilterDetailsView td {
  vertical-align: center;
  white-space: nowrap;
  overflow: hidden;
}


/* DwtSelect */
.DwtSelect {  
  border-width:0;
  cursor: default;
  overflow:hidden;
  height:20px;
  background-color:white; 
  border: 1px solid rgb(127,157, 185); 
  min-width:40px;
}

.DwtSelect table {
  border-spacing:none;
  width:100%;
  border-collapse: collapse;
  padding:none;
}

.DwtSelect td {
  padding: 2px;
}

.DwtSelect .Text {
  text-align:left;
  padding-left:4px;
}

.DwtSelect.disabled {
  background-color: rgb(233,236,216);
  color: rgb(201, 201, 194);
}

.DwtSelectMenu table { 
  width:99%;
}

.DwtSelectMenu .DwtMenuItem-text {
  text-align:left;
  padding-left:4px;
}

.DwtSelectMenu .DwtMenuItem-leftFill {
  width:19px;
}

.DwtSelectMenu .DwtMenuItem-selected {
  background-color: rgb(49, 106, 197);
  color: white;
  cursor: default;
}

.DwtSelectMenu .DwtMenuItem-selected .DwtMenuItem-text{
  color: white;
  cursor: default;
}

.DwtSelectMenu .DwtMenuItem {
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: default;
}

.DwtSelect .dropDownCell { 
  width: 19px;
}

.DwtSelectMenu { 
  background-color :rgb(255, 255, 255);
  border-top: 1px solid rgb(178, 178, 178);
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid rgb(178, 178, 178);
  position : absolute;
}


//wizard dialog
.DwtWizardDialogPageDiv {
	background-color: rgb(245, 245, 245);
	position: static;
}

.DwtStepLabelActive {
	font-size: 12pt;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: black;	
	padding-right: 2px;
	padding-left: 2px;	
}

.DwtStepLabelInactive {
	font-size: 14pt;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: rgb(130, 130, 130);	
	padding-right: 2px;
	padding-left: 2px;	
}


.DwtTabViewPage {
	background-color: rgb(245, 245, 245);
}
.DwtTabViewPage .TitleBar {
	background-color: rgb(198, 197, 215);
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#FFF0F0F0,endColorStr=#FF9997B5);
}
.DwtTabViewPage .Title {
	font: bold 12pt Arial, Helvetica, sans-serif;
	padding: 3px;
}


.DwtPropertyPage {
	background-color: rgb(245, 245, 245);
}
.DwtPropertyPage .TitleBar {
	background-color: rgb(198, 197, 215);
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#FFF0F0F0,endColorStr=#FF9997B5);
}
.DwtPropertyPage .Title {
	font: bold 12pt Arial, Helvetica, sans-serif;
	padding: 3px;
}

.LmChangePasswordDialogInput { 
  width:250px;
}

.DwtTabViewPage .DwtButton { 
  width: 60px;
}


.redAsteric {
	font-size: 11px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: rgb(250, 0, 0);
}

.LmBalloonDialog P, .LmBalloonDialog TD, .LmBalloonDialog DIV, 
.LmBalloonDialog SPAN, .LmBalloonDialog SELECT, .LmBalloonDialog INPUT, 
.LmBalloonDialog TEXTAREA {
  font-size:10px;
}

.LmBalloonDialog {
  position:absolute;
  left:200;
  top:100;
  z-index:1000000;
  width:400px;
  opacity:.99;
}


.LmBalloonDialog .buttonsDiv .DwtButton { 
  width:40px;
  border-left:      2px groove rgb(154, 155, 155);
  border-top:       2px groove rgb(154, 155, 155);
  border-bottom:    2px groove rgb(123, 123, 123);
  border-right:     2px groove rgb(123, 123, 123);
}

.LmBalloonDialog .buttonsDiv .DwtButton.activated { 
  width:40px;
  border-left:      2px groove rgb(154, 155, 155);
  border-top:       2px groove rgb(154, 155, 155);
  border-bottom:    2px groove rgb(123, 123, 123);
  border-right:     2px groove rgb(123, 123, 123);
  background-color: #4da5FF;
}

.LmBalloonDialog .buttonsDiv .DwtButton.activated .Text { 
  color: white;
}

.leftAlign { 
  text-align:left;
}

.rightAlign { 
  text-align:right;
}

.checkboxLabel { 
  font-weight:bold;
};

.balloonFrame {
   position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:1;
}

.balloonFrameTable {
  border-collapse:collapse;
  padding:0;
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
}

.balloonFrameTable td { 
  padding:0;
}
.balloonClose {
  position:absolute;
  top:5;
  right:17;
  z-index:3;
}

.balloonEdit {
  Xposition:relative;
  Xright:36;
}

.balloonContents {
  position:relative;
  /*width:200;*/
  left:0;
  top:0;
  padding-left:46;
  padding-top:18;
  padding-right:22;
  padding-bottom:70;
  z-index:2;
}
/** The balloon dialog images are here temporarily **/ 
.balloonClose {
  width:15;
  height:14;
  /*background-image:url(/liquidAdmin/img/hiRes/balloon_close.png);*/
  /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/liquidAdmin/img/hiRes/balloon_close.png', sizingMethod='scale');*/
}
.balloonCloseOver { 
  width:15;
  height:14;
  /*background-image:url(/liquidAdmin/img/hiRes/balloon_close_over.png);*/
  /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/liquidAdmin/img/hiRes/balloon_close_over.png', sizingMethod='scale');*/
}
.balloonEdit { 
  width:30;
  height:19;
  /*background-image:url(/liquidAdmin/img/hiRes/balloon_edit.png);*/
  /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/liquidAdmin/img/hiRes/balloon_edit.png', sizingMethod='scale');*/
}
.balloonEditOver { 
  width:30;
  height:19;
  /*background-image:url(/liquidAdmin/img/hiRes/balloon_edit_over.png);*/
  /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/liquidAdmin/img/hiRes/balloon_edit_over.png', sizingMethod='scale');*/
}
.balloonSave { 
  width:35;
  height:19;
  /*background-image:url(/liquidAdmin/img/hiRes/balloon_save.png);*/
  /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/liquidAdmin/img/hiRes/balloon_save.png', sizingMethod='scale');*/
}
.balloonSaveOver { 
  width:35;
  height:19;
  /*background-image:url(/liquidAdmin/img/hiRes/balloon_save_over.png);*/
  /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/liquidAdmin/img/hiRes/balloon_save_over.png', sizingMethod='scale');*/
}
.balloonMore {
  width:35;
  height:19;
  /*background-image:url(/liquidAdmin/img/hiRes/balloon_more.png);*/
  /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/liquidAdmin/img/hiRes/balloon_more.png', sizingMethod='scale');*/
}
.balloonMoreOver { 
  width:35;
  height:19;
  /*background-image:url(/liquidAdmin/img/hiRes/balloon_more_over.png);*/
  /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/liquidAdmin/img/hiRes/balloon_more_over.png', sizingMethod='scale');*/
}

.balloonCancel	{ 
  width:42;
  height:19;
  /*background-image:url(/liquidAdmin/img/hiRes/balloon_cancel.png);*/
  /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/liquidAdmin/img/hiRes/balloon_cancel.png', sizingMethod='scale');*/
}
.balloonCancelOver{ 
  width:42;
  height:19;
  /*background-image:url(/liquidAdmin/img/hiRes/balloon_cancel_over.png);*/
  /*filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/liquidAdmin/img/hiRes/balloon_cancel_over.png', sizingMethod='scale');*/
}
.balloonTL { 
  width:141;
  height:21;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/liquidAdmin/img/hiRes/corners/balloon_TL.png', sizingMethod='scale');
}
html>body .balloonTL { 
  background-image:url(/liquidAdmin/img/hiRes/corners/balloon_TL.png);
}
.balloonTM { 
  Xwidth:100%;
  height:21;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/liquidAdmin/img/hiRes/horizborders/balloon_TM.png', sizingMethod='scale');
}
html>body .balloonTM { 
  background-image:url(/liquidAdmin/img/hiRes/horizborders/balloon_TM.png);
}
.balloonTR { 
  width:22;
  height:21;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/liquidAdmin/img/hiRes/corners/balloon_TR.png', sizingMethod='scale');
}
html>body .balloonTR { 
  background-image:url(/liquidAdmin/img/hiRes/corners/balloon_TR.png);
}
.balloonML { 
  width:141;
  height:100%;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/liquidAdmin/img/hiRes/vertborders/balloon_ML.png', sizingMethod='scale');
}
html>body .balloonML { 
  background-image:url(/liquidAdmin/img/hiRes/vertborders/balloon_ML.png);
}
.balloonMM { 
  width:100%;
  height:100%;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/liquidAdmin/img/hiRes/other/balloon_MM.png', sizingMethod='scale');
}
html>body .balloonMM { 
  background-image:url(/liquidAdmin/img/hiRes/other/balloon_MM.png);
}
.balloonMR { 
  width:22;
  height:100%;
  background-image:url(/liquidAdmin/img/hiRes/vertborders/balloon_MR.png);
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/liquidAdmin/img/hiRes/vertborders/balloon_MR.png', sizingMethod='scale');
}
html>body .balloonMR { 
  background-image:url(/liquidAdmin/img/hiRes/vertborders/balloon_MR.png);
}
.balloonBL { 
  width:141;
  height:69;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/liquidAdmin/img/hiRes/corners/balloon_BL.png', sizingMethod='scale');
}

html>body .balloonBL { 
  background-image:url(/liquidAdmin/img/hiRes/corners/balloon_BL.png);
}

.balloonBM { 
  width:100%;
  height:69;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/liquidAdmin/img/hiRes/horizborders/balloon_BM.png', sizingMethod='scale');
}
html>body .balloonBM { 
  background-image:url(/liquidAdmin/img/hiRes/horizborders/balloon_BM.png);
}
.balloonBR { 
  width:22;
  height:69;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/liquidAdmin/img/hiRes/corners/balloon_BR.png', sizingMethod='scale');
}
html>body .balloonBR { 
  background-image:url(/liquidAdmin/img/hiRes/corners/balloon_BR.png);
}




/*****
  XForms things

	Please don't change the below, if you think you need to, come talk to Owen

*****/



/* tables */
.xform_table {
	border-collapse:collapse;
	padding:0;
}
.xform_composite_table {
	border-collapse:collapse;
	padding:0;
}

.xform_container {
  padding:1px;
  text-align:left;  
}


/* widgets */

.xform_field,
.xform_select,
.xform_select1,
.xform_textarea,
.xform_checkbox,
.xform_output,
.xform_button,
.xform_anchor{
  font-family:Verdana;
  font-size:10px;
}

.xform_checkbox {
 	text-align:left;
}

.xform_output {
	padding-left:2px;
	padding-right:2px;
}

.xform_select1 {

}

.xform_select {
  height:100px;
  width:200px;
}

.xform_label {
  color:#666666;
  width:80px;
  padding-left:4px;
  padding-right:2px;
  white-space:nowrap;
  text-align:right;
}

.xform_label_left {
  color:#666666;
  width:80px;
  padding-left:4px;
  padding-right:2px;
  white-space:nowrap;
  text-align:right;
}


.xform_separator {
	width:100%;
	height:1;
	border-bottom:1px solid black;
}



/* "small" button grid */

.xform_button_grid_small {}
.xform_button_grid_small_table {
	border-collapse:collapse;
	padding:0;
}
.xform_button_grid_small_table td {
	padding:0;
}

.xform_button_grid_small_button {
	cursor:pointer;
	width:12px;
	height:12px;
	padding:3px;
	background-color:white;
	border:1px outset gray;
	margin:1px;
	text-align:center;
}
.xform_button_grid_small_button_selected {
	cursor:pointer;
	width:12px;
	height:12px;
	padding:3px;
	background-color:gray;
	border:1px inset gray;
	margin:1px;
	text-align:center;
}



/* "medium" button grid */

.xform_button_grid_medium {}
.xform_button_grid_medium_table {
	border-collapse:collapse;
	padding:2;
}
.xform_button_grid_medium_table td {
	padding:2;
}
.xform_button_grid_medium_button {
	cursor:pointer;
	white-space:nowrap;
	overflow:hidden;
	width:40px;
	padding:3px;
	background-color:white;
	border:1px outset gray;
	text-align:center;
}
.xform_button_grid_medium_button_selected {
	cursor:pointer;
	white-space:nowrap;
	overflow:hidden;
	width:40px;
	padding:3px;
	background-color:gray;
	border:1px inset gray;
	text-align:center;
}


/* FOR XFORM _TAB_BAR_ WIDGETS */


.xform_button_grid_tab_table {
	border-collapse:collapse;
	padding:0;
}
.xform_button_grid_tab_table td {
	padding:0;
}
.xform_button_grid_tab {}
.xform_button_grid_tab_button,
.xform_button_grid_tab_button_selected {
	cursor:pointer;
	white-space: nowrap;
	padding-top:3px;padding-bottom:3px;
	padding-left:10px;padding-right:10px;
	background-color:#CCCCCC;
	border:1px outset black;
	text-align:center;
}
.xform_button_grid_tab_button  {
	height:13px;
}	
.xform_button_grid_tab_button_selected {
	background-color:white;
	border:1px outset black;
	border-top:1px solid #666666;
	border-bottom:1px solid white;
	height:15px;
}


.xform_button_grid_tab_start,
.xform_button_grid_tab_end{
	height:15px;
	padding-top:3px;padding-bottom:3px;
	padding-left:10px;padding-right:10px;
	border-bottom:1px solid black;
}


/*******

	OSELECT FormItem Widget

*******/

.oselect, .oselect_check {
	cursor:pointer;
}
.oselect_table,
.oselect_check_table {
	border-collapse:collapse;
	background-color:white;
	border-left:1px solid #EEEEEE;
	border-top:1px solid #EEEEEE;
	border-right:1px solid gray;
	border-bottom:1px solid gray;
	padding:0;
}
.oselect_table TD,
.oselect_check_table TD {
	padding:0;
}
.oselect_display {
	white-space:nowrap;
	overflow:hidden;
	margin-left:4px;
	margin-right:4px;
}

.oselect_disabled {
	background-color: rgb(233,236,216);
}

.oselect_table_disabled {
	background-color: rgb(233,236,216);
	border-collapse:collapse;
	color: rgb(201, 201, 194);
	border-left:1px solid #EEEEEE;
	border-top:1px solid #EEEEEE;
	border-right:1px solid gray;
	border-bottom:1px solid gray;
	padding:0;
}

.oselect_display_disabled {
    background-color: rgb(233,236,216);
	color: rgb(201, 201, 194);
	white-space:nowrap;
	overflow:hidden;
	margin-left:4px;
	margin-right:4px;
}


.oselect_menu {
	position:absolute;
	z-index:10000000000;
	cursor:pointer;
	border-bottom:1px outset gray;
	border-right:1px outset gray;
}
.oselect_choice_table,
.oselect_check_choice_table {
	border-collapse:collapse;
	border:1px solid black;
}
.oselect_choice {
	background-color:white;
	color:black;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:10px;
	padding-right:20px;
	margin:1px;
	white-space:nowrap;
}
.oselect_choice_selected {
	color:black;
	background-color:FFFF66;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:10px;
	padding-right:20px;
	margin:1px;
}

.oselect_check_choice {
	background-color:white;
	color:black;
	padding:4px;
	white-space:nowrap;
}
.oselect_check_choice_selected {
	color:black;
	background-color:FFFF66;
	padding:4px;
}


/**** BORDER STUFF ****/
.card_border_table {
	border-collapse:collapse;
	padding:0;
}


.card_contents {
	position:relative;
	background-color:pink;
	/* position up and to the left to center w/in the margins */
	top:-3; left:-3;
}

.card_contents_table {
	Xwidth:100%;
}


.card_spacer_c		{ width:10; 	height:10;		overflow:hidden;	}
.card_spacer_h		{ width:100%; 	height:10;		overflow:hidden;	}
.card_spacer_v		{ width:10; 	height:100%;	overflow:hidden;	}
.card_spacer_m		{ width:100%; 	height:100%;	overflow:hidden;	}

.selected_card_spacer_c		{ width:10; 	height:10;		overflow:hidden;	}
.selected_card_spacer_h		{ width:100%; 	height:10;		overflow:hidden;	}
.selected_card_spacer_v		{ width:10; 	height:100%;	overflow:hidden;	}
.selected_card_spacer_m		{ width:100%; 	height:100%;	overflow:hidden;	}

.balloon_frame 			{	width:200;	height:70;	z-index:1;	}
.balloon_frame_table 	{	width:100%;	height:100%;	border-collapse:collapse;	padding:0;	}
.TL_balloon_contents {
	position:relative;
	left:-5;
	top:2;
	margin-bottom:5px;
	Xheight:30;
	Xwidth:60;
	overflow:visible;
	z-index:2;
}

.balloon_spacer_c	 	{	width:20;		height:20;}
.balloon_spacer_h 		{	width:100%;		height:20;}
.balloon_spacer_v 		{	width:20;		height:100%;}
.balloon_spacer_m 		{	width:100%;		height:100%;	background-color:#EEEEEE;}





.dialog_title				{	background-color:#3d3d3d; cursor:move}
.dialog_title_text			{	color:white;	width:auto;	 font-weight:bold;	}
.dialog_title_cell			{	color:white;	width:auto;	 font-weight:bold;	}

.dialog_table				{	border-collapse:collapse;	width:auto; height:100%;}

.dialog_outset				{	}
.dialog_outset_contents		{	width:auto;height:100%;		}
.dialog_outset_table TD		{	padding:0px;	}

.dialog_inset				{background-color:#EEEEEE	}
.dialog_inset_contents		{	width:auto;height:100%;		}

.dialog_shadow_c			{ 	width:6; 		height:6;		}
.dialog_shadow_h			{ 	width:100%; 	height:6;		}
.dialog_shadow_v			{ 	width:6; 		height:100%;	}

.border_outset_c			{ 	width:4; 		height:4;		}
.border_inset_c				{ 	width:10; 		height:10;		}
.border_h				{	width:auto;						}
.border_v				{					height:100%;	}

.border_shadow_c			{ 	width:6; 		height:6;		}
.border_shadow_h			{ 	width:auto;		height:6;		}
.border_shadow_v			{ 	width:6; 		height:100%;	}



/* should be dynamically generated */

.dialog_inset_tl			{	background-image:url(/liquidAdmin/skins/steel/images/dialog_inset_tl.gif);	 	width:10;	height:10;	overflow:hidden;	}
.dialog_inset_t				{	background-image:url(/liquidAdmin/skins/steel/images/dialog_inset_t.gif); 		width:10;	height:10;	overflow:hidden;	}
.dialog_inset_tr			{	background-image:url(/liquidAdmin/skins/steel/images/dialog_inset_tr.gif); 		width:10;	height:10;	overflow:hidden;	}
.dialog_inset_l				{	background-image:url(/liquidAdmin/skins/steel/images/dialog_inset_l.gif); 		width:10;	height:10;	overflow:hidden;	}
.dialog_inset_r				{	background-image:url(/liquidAdmin/skins/steel/images/dialog_inset_r.gif); 		width:10;	height:10;	overflow:hidden;	}
.dialog_inset_bl			{	background-image:url(/liquidAdmin/skins/steel/images/dialog_inset_bl.gif); 		width:10;	height:10;	overflow:hidden;	}
.dialog_inset_b				{	background-image:url(/liquidAdmin/skins/steel/images/dialog_inset_b.gif); 		width:10;	height:10;	overflow:hidden;	}
.dialog_inset_br			{	background-image:url(/liquidAdmin/skins/steel/images/dialog_inset_br.gif);	 	width:10;	height:10;	overflow:hidden;	}

.dialog_shadow_tr			{	background-image:url(/liquidAdmin/skins/steel/images/dialog_shadow_tr.gif);	 	width:6;	height:6;	overflow:hidden;	}
.dialog_shadow_r			{	background-image:url(/liquidAdmin/skins/steel/images/dialog_shadow_r.gif);	 	width:6;	height:6;	overflow:hidden;	}
.dialog_shadow_br			{	background-image:url(/liquidAdmin/skins/steel/images/dialog_shadow_br.gif);	 	width:6;	height:6;	overflow:hidden;	}
.dialog_shadow_bl			{	background-image:url(/liquidAdmin/skins/steel/images/dialog_shadow_bl.gif);	 	width:6;	height:6;	overflow:hidden;	}
.dialog_shadow_b			{	background-image:url(/liquidAdmin/skins/steel/images/dialog_shadow_b.gif);	 	width:6;	height:6;	overflow:hidden;	}


.dialog_outset_tl			{	background-image:url(/liquidAdmin/skins/steel/images/dialog_outset_tl.gif); 		width:4;	height:4;	overflow:hidden;	}
.dialog_outset_t			{	background-image:url(/liquidAdmin/skins/steel/images/dialog_outset_t.gif); 		width:4;	height:4;	overflow:hidden;	}
.dialog_outset_tr			{	background-image:url(/liquidAdmin/skins/steel/images/dialog_outset_tr.gif); 		width:4;	height:4;	overflow:hidden;	}
.dialog_outset_l			{	background-image:url(/liquidAdmin/skins/steel/images/dialog_outset_l.gif); 		width:4;	height:4;	overflow:hidden;	}
.dialog_outset_r			{	background-image:url(/liquidAdmin/skins/steel/images/dialog_outset_r.gif); 		width:4;	height:4;	overflow:hidden;	}
.dialog_outset_bl			{	background-image:url(/liquidAdmin/skins/steel/images/dialog_outset_bl.gif); 		width:4;	height:4;	overflow:hidden;	}
.dialog_outset_b			{	background-image:url(/liquidAdmin/skins/steel/images/dialog_outset_b.gif); 		width:4;	height:4;	overflow:hidden;	}
.dialog_outset_br			{	background-image:url(/liquidAdmin/skins/steel/images/dialog_outset_br.gif); 		width:4;	height:4;	overflow:hidden;	}


.h_sash_l					{	background-image:url(/liquidAdmin/skins/steel/images/h_sash_l.gif); 				width:4;	height:7;	overflow:hidden;	}
.h_sash_m					{	background-image:url(/liquidAdmin/skins/steel/images/h_sash_m.gif); 				width:20;	height:7;	overflow:hidden;	}
.h_sash_r					{	background-image:url(/liquidAdmin/skins/steel/images/h_sash_r.gif); 				width:4;	height:7;	overflow:hidden;	}
.h_sash_grip				{	background-image:url(/liquidAdmin/skins/steel/images/h_sash_grip.gif); 			width:29;	height:7;	overflow:hidden;	}


.tab_spacer.gif				{	background-image:url(/liquidAdmin/skins/steel/images/tab_spacer.gif);	 		width:100%;	height:28;	overflow:hidden;	}

.Imgtab_L					{	background-image:url(/liquidAdmin/skins/steel/images/tab_L.gif);	 				width:9;	height:28;	overflow:hidden;	}
.Imgtab_M					{	background-image:url(/liquidAdmin/skins/steel/images/tab_M.gif);	 				width:100%;	height:28;	overflow:hidden;	}
.Imgtab_R					{	background-image:url(/liquidAdmin/skins/steel/images/tab_R.gif);	 				width:9;	height:28;	overflow:hidden;	}

.Imgtab_active_L			{	background-image:url(/liquidAdmin/skins/steel/images/tab_active_L.gif);	 		width:9;	height:28;	overflow:hidden;	}
.Imgtab_active_M			{	background-image:url(/liquidAdmin/skins/steel/images/tab_active_M.gif);	 		width:100%;	height:28;	overflow:hidden;	}
.Imgtab_active_R			{	background-image:url(/liquidAdmin/skins/steel/images/tab_active_R.gif);	 		width:9;	height:28;	overflow:hidden;	}

.Imgtab_selected_L			{	background-image:url(/liquidAdmin/skins/steel/images/tab_selected_L.gif);	 	width:9;	height:28;	overflow:hidden;	}
.Imgtab_selected_M			{	background-image:url(/liquidAdmin/skins/steel/images/tab_selected_M.gif);	 	width:100%;	height:28;	overflow:hidden;	}
.Imgtab_selected_R			{	background-image:url(/liquidAdmin/skins/steel/images/tab_selected_R.gif);	 	width:9;	height:28;	overflow:hidden;	}

.Imgtab_disabled_L			{	background-image:url(/liquidAdmin/skins/steel/images/tab_disabled_L.gif);	 	width:9;	height:28;	overflow:hidden;	}
.Imgtab_disabled_M			{	background-image:url(/liquidAdmin/skins/steel/images/tab_disabled_M.gif);	 	width:100%;	height:28;	overflow:hidden;	}
.Imgtab_disabled_R			{	background-image:url(/liquidAdmin/skins/steel/images/tab_disabled_R.gif);	 	width:9;	height:28;	overflow:hidden;	}

/* end dynamically generated */

/**** END BORDER STUFF ****/
