<template id='share.Widgets#ZmChooseFolderDialog'>
	<table cellpadding=0 cellspacing=0 border=0 width='260'>
		<tr>
			<td class='Label' colspan=2 id='${id}_folderDesc'></td>
		</tr>
		<tr>
			<td colspan=2 id='${id}_folderTreeCell'></td>
		</tr>
	</table>
</template>
