<project basedir=".">
<!--
 * ***** BEGIN LICENSE BLOCK *****
 * Zimbra Collaboration Suite Web Client
 * Copyright (C) 2013 Zimbra Software, LLC.
 * 
 * The contents of this file are subject to the Zimbra Public License
 * Version 1.4 ("License"); you may not use this file except in
 * compliance with the License.  You may obtain a copy of the License at
 * http://www.zimbra.com/license.
 * 
 * Software distributed under the License is distributed on an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or implied.
 * ***** END LICENSE BLOCK *****
-->
    <!--
    This file can be freely edited, so long as the <import file="plugin-impl.xml"/>
    statement is not removed.

    One of the purposes of this file is to hook various Sencha Command operations and do
    processing before or after the command is processed. To do this, simply provide the
    logic in a <target> using one of these names:

        -before-generate-app            Called before an application is generated
        -after-generate-app             Called after an application is generated

        -before-generate-controller     Called before a controller is generated
        -after-generate-controller      Called after a controller is generated

        -before-generate-model          Called before a model is generated
        -after-generate-model           Called after a model is generated

        -before-generate-profile        Called before a profile is generated
        -after-generate-profile         Called after a profile is generated
    -->
    <import file="${workspace.config.dir}/plugin.xml"/>

    <!--
    <target name="-after-generate-model">
        ... use ${args.path}, ${args.name} and ${args.fields} as needed ...
    </target>

    Other targets are similar. There are properties prefixed with "args." and the name of
    the command line option that hold the parameters for the command.
    -->
</project>