
/* 
* HTML elements - use for global declarations
*/

P, TD, DIV, SPAN, SELECT, INPUT, TEXTAREA, BUTTON {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
}

BODY {
	margin: 0px;
}

FORM {
	margin: 0;
	padding: 0;
}

HTML>BODY INPUT {		/* clean border that works in FF */
	border:1px solid;
	border-color: black AAAAAA AAAAAA black;
	padding-left:2px;
}




/* Generic classes -- try to use one of these if you can */
.ZmHead {
	font-size:18px;
	font-weight:bold;
	height:20px;
}

.ZmSubHead {
	font-size:13px;
	font-weight:bold;
	height:18px;
}

.ZmBigger {
	font-size:13px;
	height:18px;
}

.ZmImportant {
	font-weight:bold;
	color:darkred;
}

.ZmOverride {
	background-color:#FFF6BF;
}

.ZmSelectedHeaderBg {
	background-color:#ADD6D6;
}

.subtleAnchor {
	color:black;
	Xtext-decoration:none;
}

.subtleAnchor:hover {
	color:blue;
	text-decoration:underline;
}




/* splash screen and login banner pieces */

/* "url" substitution:  eg:  "<a href='http://www.zimbra.com'>http:/www..." */
#SplashScreenUrl {
Xborder:1px solid #cccccc;
	position:absolute;
	left:164;
	top:9;
	width:300;
	font-size:12px;
	text-align:right;
}


/* "appName" substitution:  eg:  "Collaboration Suite" */
#SplashScreenAppName {
Xborder:1px solid #eeeeee;
	position:absolute;
	left:80;
	top:115;
	width:350;
	height:30;
	font-size:24px;
	text-align:right;
}

/* "version" substitution:  eg:  "V 1.23 * 'Birdseye' * Wed Oct 12, 2005" */
#SplashScreenVersion {
Xborder:1px solid #eeeeee;
	position:absolute;
	left:80;
	top:145;
	width:350;
	text-align:right;
}

/* "shortVersion" substitution:  eg:  "BETA" */
#SplashScreenShortVersion {
Xborder:1px solid #cccccc;
	position:absolute;
	left:384;
	top:45;
	width:80;
	font-size:24px;
	color:#CCCCCC;
}


/* "contents" substitution:  eg:  "Version: XXX, etc" */
#SplashScreenContents {
Xborder:1px solid #eeeeee;
	position:absolute;
	left:240;
	top:185;
	width:215;
	height:105;
	overflow:auto;
}

/* "button" substitution:  eg:  "<button style='width:60px;'>OK</button>" */
#SplashScreenOKButton {
Xborder:1px solid #eeeeee;
	position:absolute;
	left:395;
	top:294;
	width:60;
	height:20;
}

/* "license" substitution:  eg:  "Copyright 2005 Zimbra, Inc..." */
#SplashScreenLicense {
Xborder:1px solid #eeeeee;
	position:absolute;
	left:8;
	top:315;
	font-size:9px;
	color:#999999;
	background-color:white;
}



/* "url" substitution:  eg:  "<a href='http://www.zimbra.com'>http:/www..." */
#LoginBannerUrl {
Xborder:1px solid #cccccc;
	Xvisibility:hidden;
	position:absolute;
	left:25;
	top:106;
	width:270;
	font-size:12px;
}


/* "appName" substitution:  eg:  "Collaboration Suite" */
#LoginBannerAppName {
Xborder:1px solid #eeeeee;
	position:absolute;
	left:60;
	top:80;
	width:350;
	height:30;
	font-size:24px;
	text-align:right;
}

/* "version" substitution:  eg:  "V 1.23 * 'Birdseye' * Wed Oct 12, 2005" */
#LoginBannerVersion {
Xborder:1px solid #eeeeee;
	position:absolute;
	left:60;
	top:107;
	width:350;
	text-align:right;
}

/* "shortVersion" substitution:  eg:  "BETA" */
#LoginBannerShortVersion {
Xborder:1px solid #cccccc;
	position:absolute;
	left:358;
	top:15;
	width:80;
	font-size:24px;
	color:#CCCCCC;
}

.ImgBarberPole_216 {
	background-image:url(/zimbra/img/animated/BarberPole_216.gif);
	width:216;
	height:14;
}


/*
 *  Skin pieces -- MOVE INTO SKIN???
 */

.LogoContainer {
	left: 54px;
	top: 6px;
}







/* Horizontal separator */
.horizSep {
	border-bottom: 1px solid #666666;
    margin: 10px 0;
	width: 100%;
}
/* Vertical separator */
.vertSep {
	border-left:1px solid #666666;
	margin-left:1px;
	padding-right:1px;
	width:3;
	height: 16;
}

/* Vertical space */
DIV.vSpace {
	margin: 10px 0;
}

/* Link to open an attachment */
.AttLink:link, .AttLink:active, .AttLink:visited, .AttLink:hover {
	text-decoration: none;
	cursor:hand;
}
.AttLink:link, .AttLink:active, .AttLink:visited {
	color: black;
}
.Row-selected .AttLink:link, .Row-selected .AttLink:active, .Row-selected .AttLink:visited {
	color: white;
}
.AttLink:hover, .Row-selected .AttLink:hover {color: #CC3333;}




/* 
* Drag N Drop
*/

.DndIcon {
	filter:alpha(opacity=70)
		   progid:DXImageTransform.Microsoft.Shadow(color=black,direction=135,strength=8);
	-moz-opacity:0.7;
	opacity:0.7;
}

.DropNotAllowed {
	border: 2px solid red;
	background-color: white;	
	filter:alpha(opacity=70)
		   progid:DXImageTransform.Microsoft.Shadow(color=black,direction=135,strength=8);
	-moz-opacity:0.7;
	opacity:0.7;	
}

/* bug fix# 3235 */
.DropNotAllowed-linux {
	border: 2px solid red;
	background-color: white;	
}

.DropAllowed {
	border: 2px solid green;
	background-color: white;	
	filter:alpha(opacity=70)
		   progid:DXImageTransform.Microsoft.Shadow(color=black,direction=135,strength=8);
	-moz-opacity:0.7;
	opacity:0.7;
}

/* bug fix# 3235 */
.DropAllowed-linux {
	border: 2px solid green;
	background-color: white;	
}


/* Used by the text in the multi-select Icon */
.MailMultiSelectText {
	font-size: 11px;
	font-weight: bold;
	color: white;
}




.BusyOverlay table, .VeilOverlay table {
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity:0.5;
	cursor: "wait";
	background-color: transparent;
}
/* As of 07/22/05 Linux (or rather X) has a nasty issue that causes a huge perf problem with opacity.*/

.BusyOverlay-linux table, .VeilOverlay-linux table {
	cursor: "wait";
	background-color: transparent;
}


.VeilOverlay table {
	cursor: "not-allowed";
	background-color: white;
}

.VeilOverlay-linux table {
	cursor: "not-allowed";
}






/*
 *  New tag dialog 
 */
.TagColorMenu {
	background-color: white;
	border: solid #CCCCCC 1px;
}

/* 
 * New folder dialog 
 */
.FolderTree {
	background-color: white;
	width: 400px;
	height: 200px;
	border: 1px solid #999999;
	padding: 5px 0 0 5px;
}
.FolderTree td {padding: 0;}

/* 
 *  Row display and highlighting 
 */
.Row, .Row-selected, .Row-matched, .Row-matched-drag, 
.Row-drag, .Row-selected-drag, .Row-selected-right, .Row-selected-disabled {
	border-bottom: 1px solid #DDDDDD;
}

.selected, .Row-selected, .Row-selected-drag { 
	background-color: #ADD6D6;
	color:black;
}
.Row-selected-disabled {
	background-color: rgb(233,236,216);
	color: rgb(201, 201, 194);
}
.Row-matched, .Row-matched-dnd { background-color: #FFFFBB; }
.Row-selected-right, .Row-drag, .Row-matched-drag { background-color: #EAF5F5; }

.Row-selected table, .Row-selected-drag table, .Row-drag table, 
.Row-matched-drag table, .Row-selected-right table { 
	color: black;
}

.Row table, .Row-selected table, .Row-matched table, .Row-matched-drag table, .Row-dnd table, 
.Row-selected-drag table, .Row-drag table, .Row-selected-right table {
	table-layout: fixed;
}

.Row, .Row-selected, .Row-selected-disabled, .Row-dnd, 
.Row td, .Row div, .Row-selected td, .Row-matched td, .Row-dnd td, .Row-selected-drag td, 
.Row-drag td, .Row-matched-drag td, .Row-selected-right td {
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Row td.Flag, .Row td.Attach, .Row td.Tag, .Row td.Icon,
.Row-dnd td.Flag, .Row-dnd td.Attach, .Row-dnd td.Tag, .Row-dnd td.Icon, 
.Row-selected-drag td.Flag, .Row-selected-drag td.Attach, .Row-selected-drag td.Tag, .Row-selected-drag td.Icon, 
.Row-matched-drag td.Flag, .Row-matched-drag td.Attach, .Row-matched-drag td.Tag, .Row-matched-drag td.Icon, 
.Row-drag td.Flag, .Row-drag td.Attach,.Row-drag td.Tag, .Row-drag td.Icon {
	text-align: center;
}



/* 
 * Flags 
 */
.Unread { font-weight: bold; }
.Trash { text-decoration: line-through; }




/* Overview */

.overview {
	width: 100%;
	height: 100%;
}

.dialogOverview {
	background-color: white;
	height: 200px;
	border: 1px solid #999999;
	padding: 5px 0 0 5px;
}

.pickerOverview {
	background-color: white;
	height: 100%;
}

.overviewHeader {
	border: 1px solid;
	border-color: #E0E0E0 #555555 #555555 #E0E0E0;
	background-image:url(/zimbra/skins/steel/images/tree_header_bg.gif);
	padding-top:1px;
	margin-left:2px;
	margin-bottom:2px;
	height:18px;
	cursor: default;
}

.overviewHeader-Text, .overviewHeader-actioned,
.overviewHeader-DragOver {
	font-weight:bold;
	height:18px;
}

.overviewHeader .imageCell {
	padding-right:4px;
	white-space: nowrap;
}
