.ZM-SPELLCHECK-MISSPELLED { border-bottom: 1px dashed #f88; background: #fc8; }
.ZM-SPELLCHECK-MISSPELLED2 { border-bottom: 1px dashed red; background: #ff0; z-index: 10; }
.ZM-SPELLCHECK-FIXED { background: #cfa; border-bottom: 1px dashed green; }
