
IMG {
border: none;
vertical-align: middle;

}

.tbButton, .searchButton {
    padding:2px;
    /* couldn't find a good match in base_subs for this */
    @_WidgetContainer_@;
    @FontSize-normal@
}

.ZhAppLinks {
    vertical-align: middle;
}

.ZhAppLinks a:link, .ZhAppLinks a:visited {
    text-decoration: none;
    font-weight: bold;
    color: darkblue;
}

/* ------- tabs --------------- */

.TabFiller {
padding:5px;
border: none;
}

.TabSpacer {
padding:2px; 
width: 2px;
border: none;
}

.Tabs { margin-right: 10px; }
.Tab {  }
.TabNormal {
 @ToolbarContainer@;
 border-bottom: none;
 @PageBg@
 padding: 0 5px 0 5px;
 text-align: center;
 vertical-align: middle;
}

.TabSelected {
@ToolbarContainer@
 border-bottom: none;
 @ToolbarBg@;
 padding: 0 5px 0 5px;
 text-align: center;
 vertical-align: middle;
}

.Tabs A:link, .Tabs A:visited  {
	color: black;
	text-decoration: none;
}

/* ------- tree --------------- */

.Tree {
 @OutsetBorder@
@TreeContainer@
/*padding-bottom: 5px;*/
}

.Tree TD {
    @TreeItem@
    padding: 2px 0px 2px 10px;
}

.Tree TH {
  @WidgetHeaderContainer@    
}

.Tree .Header {
    text-align: left;
	font-weight:bold;
	height:18px;
    padding: 1px 5px 0px 0px;
}

.Tree a:link, .Tree a:visited { color: black; text-decoration: none; }

.ZhTISelected {  @SelectedBg-blurred@}

/* ------- list --------------- */

.List TD {
    @ItemBottomBorder@
    padding-right: 6px;
}

.List TH {
	text-align: left;
    background-color: @HeaderColor@;
	font-weight:normal;
    padding: 5px 5px 5px 0;
}

.List {
    @ListContainer@;
}

.List A:link, .List A:visited  {
	color: black;
	text-decoration: none;
}

.List TH A:link, .List TH A:visited  {
	text-decoration: underline;
}

.List .Img {
    width: 20px;
    padding-right: 0px;
}

.List .CB {
    width: 20px;
    padding-right: 0px;
}

.List .Radio {
    width: 20px;
    padding-right: 0px;
    text-align: center;
}

/* ---- filter rules ----------- */


.RuleList TD {
    @ItemBottomBorder@
    padding: 8px;
}

.ZhDisplayRuleContent {
   @AppBg@  @OutsetBorder@
}

.ZhEditRuleContent {
   @PageBg@  @OutsetBorder@
}

.RuleList {
      @AppBg@
/*@InsetBorder@*/
  /*  @ListContainer@; */
}

.RuleHint {
    @Text-disabled@
    @FontSize-smaller@
}

.RuleList A:link, .RuleList A:visited  {
	color: black;
	text-decoration: underline;
}

.MsgStatusImg {
 width: 20px;
 padding-right: 6px;    
}

A:visited { color: blue; }



.ConvSummary A {
	color: black;
	text-decoration: none;    
}

.Overview { width: 162px; padding:0px 10px 0px 10px; }

.TopContent {
    padding:0 5px 0 0;
 /*   border-bottom: 1px solid #98adbe;*/ 
}


.Tree .ZhTreeEdit a:link, .Tree .ZhTreeEdit a:visited { color: black; text-decoration: underline; }
.ZhTreeEdit {
   @Text-light@
   @FontSize-normal@
padding-right:4px;
    font-weight: normal;
  	text-decoration: underline;
}

.ZhAppContent2 {
@AppBg@ @InsetBorder@
}

.Conv2Tb {
   @ToolbarBg@
}

.ZhAppContent {
   @PageBg@  @OutsetBorder@
   border-top-width:0px;
}

.ZhAppViewContent {
   @AppBg@  @OutsetBorder@
   border-top-width:0px;
}

.SearchBar {
    @SkinBorderSearch@;
padding: 5px;
}

.TbTop {
   @ToolbarContainer@

}

.TbBottom {
   @InlineToolbarContainer@
}

.Tb2 {
 @ToolbarBg@;
}

.TbBt {
    padding:5px;
}

.TbBt A {
padding: 0px 5px 0px 5px;
}

.TbBt#caltb a:link, .TbBt#caltb a:visited { color: black; text-decoration: none; }

.Tb SPAN { vertical-align: middle; }

.Tags SPAN { vertical-align: middle;  padding-right:5px;}

.Unread {	font-weight:bold; }

.RowSelected { @SelectedBg@ }
.RowMatched { background-color: @HilightColor@; }


.Folder { padding-bottom: 2px;  }

.Folder SPAN, .Tab SPAN { vertical-align: middle; padding-left: 3px; }


.Paging {
padding: 0px 5px 0px 5px;
}

.Compose {
@PageBg@;
border: 1px solid;
border-color: #98adbe #555555 #555555 #E0E0E0;
    
}

.ConvSummary  {
    	@PageHeaderBg@
	@BottomSeparator@
/*background-color: @_BaseColorD10_@; */
    
padding: 5px 0px 5px 0px; 
}

.ConvSummary2  {
	@BottomSeparator@
    @ToolbarBg@;
/*background-color: @_BaseColorD10_@; */

padding: 5px 0px 5px 5px;
}

.ConvSummary SPAN, .CompOrigAtt SPAN { vertical-align: middle; }

.MsgHdr {
    @WidgetHeaderContainer@
}
.MsgHdr TABLE {
background-color: @HeaderColor@;
padding: 5px 0 5px 0;


}

.MsgOps {
    background-color: @HeaderColor@;
}

.Msg { }

.MsgHdrName {
    width: 10%;
  padding: 3px 0px 3px 0px;
  vertical-align: top;
  text-align: right;
  font-weight: bold;
  white-space: nowrap;
}

.MsgHdrValue {
  padding: 3px 3px 3px 3px;
  vertical-align: top;
  overflow: hidden;
}

.MsgHdrValue IMG { vertical-align: top; }

.MsgHdrSub {
  font-size: 15px;
  font-weight:bold;
}

.MsgHdrSender {
  font-size: 13px;
  font-weight:bold;
  padding: 3px 3px 3px 3px;
  vertical-align: top;
  overflow: hidden;
}

.MsgHdrSent {
  padding: 3px 3px 3px 3px;
  vertical-align: top;
  overflow: hidden; 
  white-space: nowrap;
}

.MsgHdrAttAnchor {
  padding: 3px 3px 3px 3px;
  vertical-align: top;
  overflow: hidden;
  white-space: nowrap;
}

.MsgHdrAttAnchor A, .CompOrigAtt A {
	color: black;
	text-decoration: none;
}

.MsgBody {
 @AppBorder@
 background-color: #FFFFFF;
 font-family:monospace;
 font-size:13px;
 padding: 10px;
 overflow: auto;
}

.MsgBody .zUrl {
 font-family:monospace;
 font-size:13px;
}

.MsgCompose {
 font-family:monospace;
 font-size:13px;
}

.Fragment {
	color: gray; 
	font-weight: normal; 
}

.contactLabel {
   color: black;  white-space:nowrap; overflow:hidden;
   width: 1%;
   text-align: right;
}

.editContactLabel {
   color: black;  white-space:nowrap; overflow:hidden;
   width: 18em;
   text-align: right;
}

.editContactGroupLabel {
width: 18em;    
   color: black;  white-space:nowrap; overflow:hidden;
   text-align: left;
}

.editContactGroupHintLabel {
   color: gray;  white-space:nowrap; overflow:hidden;
   text-align: right;
}

.optionSectionLabel {
        color: black;  white-space:nowrap; overflow:hidden; font-size:15px; font-weight:bold;
}


.sectionLabel {
        color: black;  white-space:nowrap; overflow:hidden; border-bottom: 1px solid #8597a7; font-size:15px; font-weight:bold;
}

.companyName {
        font-size:15px; font-weight:bold;
}

.companyFolder {
        font-size:13px;
        white-space:nowrap; overflow:hidden;
        width: 1%;
}

.contactHeaderRow {
        background-color:#E9E9E9; /* TODO: dynamic based on folder */
        height:36px;
}

.contactTagsRow {
        background-color:#E9E9E9; /* TODO: dynamic based on folder */
}

.contactHeader, .ZhFolderHeader {
        font-size:18px; 
        font-weight:bold;
        color: black;
        overflow:hidden;
        padding: 3 0 3 2;
}

.ZhFolderHeader {
        white-space:nowrap;
}

.searchField {
    @InputField@
}

.NoResults { 
	text-align: center;	
	padding: 20px 0px 20px 0px;
	font-weight: bold;
}

.InitialContactSearch {
	text-align: center;
	padding: 20px 0px 20px 0px;
    color: gray;
}

.ImgDisabled {
    opacity: 0.3;
#IFDEF MSIE
    filter:alpha(opacity=30);
#ENDIF
}

.Displayimages {
        cursor: pointer;
        background-color: #FFFFCC;
        padding: 7px;
        font-size: 10pt;
        border-bottom: 1px solid #777777;
}

.AttachmentImage {
  width: 120px;
  height: 80px;
}

.Status  {
padding: 2px 0px 2px 0px;
}

.StatusEmpty  {
padding: 8px 0px 6px 0px;
}

.Status DIV {
    padding: 2px 25px 4px 25px;
    font-weight: bold;


}

.StatusInfo     { @WindowOuterContainer@ @ToastBg-info@ }
.StatusWarning  { @WindowOuterContainer@ @ToastBg-warning@}
.StatusCritical { @WindowOuterContainer@ @ToastBg-critical@ }

/*
 *   Shortcut key display
 */

.shortcutIntro {
        background-color: #FFFFCC;
        padding: 7px;
        border-bottom: 1px solid #777777;
}

.shortcutList {
	width:100%;
	border-collapse:collapse;
	margin-bottom:10px;
}

.shortcutListHeader {
	border:1px solid #999999;
}

.shortcutKeys {
	text-align:right;
	padding:6px;
	vertical-align:top;
	@SeparatorBorder@
	width:250px;
	font-weight:bold;
	@Text-disabled@;
}

.shortcutDescription {
	@SeparatorBorder@
	padding:5px;
	width:auto;
}

.shortcutKeyCombo {
	white-space:nowrap;
	margin-right:5px;
	margin-left:5px;
}

.shortcutKey {
	@SeparatorBorder@
	@Text@
	font-weight:bold;
	padding:2px 4px 2px 4px;
	margin:1px 1px 1px 1px;
	line-height:22px;
}

.shortcutTable {
	table-layout:fixed;
	border-collapse:collapse;
	margin-bottom:10px;
	border:1px solid #999999;
}

.shortcutTable TH {
	font-size:11px;
	text-align:left;
	font-weight:bold;
	padding-left:5px;
	color:#666666;
	border-bottom:1px solid #999999;
}

.SubHead,
.PanelHead {
	font-size:12px; font-weight:bold;
	padding:3 10 5 7;
}


.PanelHead {
	background-color:#bab09a;
}

.ZhSubTabs {
    padding-top: 4px;
}

.ZhEditFolderContent,.ZhEditAddressBookContent, .ZhEditCalendarContent, .ZhEditTagContent {
   @AppBg@  @OutsetBorder@
}

.ZhCalType, .ZhABType, .ZhFolderType {
@Text-disabled@;
}

.ZhCalMonthHeaderRow {
	@PageHeaderBg@
}


.ZhCalMonthTable {
	@CompactTable@
    @AppBg@
}

/* label for the month */
.ZhCalMonthHeaderMonth {
    @PageHeaderBg@
	@PageHeaderText@
	@FontSize-biggest@
	@Label@
	text-align:center;
}

/* day of week label for the month */
.ZhCalMonthHeaderCellsText {
 	@PageHeaderBg@
	@PageHeaderText@
	@FontSize-big@
	@SmallBoxPadding@
	@BottomSeparator@
	@Label@
	text-align:center;   
}

/* cell for each day in the month view in various states*/
.ZhCalMonthDay, .ZhCalMonthDaySelected {
    @SeparatorBorder@
	@NoWrap@
	vertical-align:top;
}

.ZhCalMonthDaySelected { @SelectedBg@ }

/* header for day view */
.ZhCalDayHeader, .ZhCalDayHeaderToday {
    @PageHeaderBg@
	@PageHeaderText@
	@Label@
	text-align:center;
    @BottomSeparator@
    line-height: 2.0em;
}


.ZhCalMonthHeaderRow a:link, .ZhCalMonthHeaderRow a:visited {
    @Text@
}

.ZhCalDayHeaderToday, .ZhCalDayHeaderToday a:link, .ZhCalDayHeaderToday a:visited {
    @Text-today@
}

/* label of a particular day in various states */
.ZhCalDOM,
.ZhCalDOMT,
.ZhCalDOMO,
.ZhCalDOMOT
{
	@NoWrap@
	@FontSize-big@
	@TextPadding@
	text-align:right;
}

.ZhCalMonthTable a:link, .ZhCalMonthTable a:visited,
.ZhCalMiniContainer a:link, .ZhCalMiniContainer a:visited,
    .ZhCalMonthHeaderRow a:link, .ZhCalMonthHeaderRow a:visited { text-decoration: none; color:inherit;}

.ZhCalDOM, .ZhCalDOM a:link, .ZhCalDOM a:visited {
	@Text@
}

.ZhCalDOMT, .ZhCalDOMT a:link, .ZhCalDOMT:visited {
	@Text-today@
}

.ZhCalDOMO, .ZhCalDOMO a:link, .ZhCalDOMO a:visited {
	@Text-disabled@
}

.ZhCalDOMOT, .ZhCalDOMOT a:link, .ZhCalDOMOT a:visited {
	@Text-disabled@
	@Text-today@
}

.ZhCalMiniContainer {
    @AppBg@ @OutsetBorder@
    height: 135px;
    padding-bottom: 5px;
}

.ZhCalMDS { @SelectedBg@ }

.ZhCalMDOM,
.ZhCalMDOMT,
.ZhCalMDOMO,
.ZhCalMDOMOT
{
	@NoWrap@
	@FontSize-small@
    @TextPadding@
    padding:2px; border:0px;
    text-align:center;
}

.ZhCalMDOMT {
padding:1px; border:1px solid darkred;
}

.ZhCalMDOMO, .ZhCalMDOMO a:link, .ZhCalMDOMO a:visited {
    @MiniCalDay-gray@

}


/*mini cal day has appt */
.ZhCalMDHA {
    @MiniCalDay-hilited@
}

.ZhCalMDOMOT, .ZhCalMDOMOT a:link, .ZhCalMDOMOT a:visited {
    padding:1px; border:1px solid darkred;
    @MiniCalDay-gray@
}

.ZhCalMDOM a:link, .ZhCalMDOM a:visited, ZhCalMDOMT a:link, .ZhCalMDOMT a:visited {
    @Text@
}


/* Container of the calendar titlebar (arrows and month label, not DOW labels) */
.ZhCalMiniTitlebar {
	@MiniCalHeaderBg@
}


/* Name of the month in the calendar titlebar */
.ZhCalMiniTitleCell {
    white-space:nowrap;	
	@MiniCalHeaderText@
	@ActiveCursor@
    font-weight: normal;
}

.ZhCalMiniTitleCell a:link, .ZhCalMiniTitleCell a:visited {
    @Text@
}

/* Label for the days of the week in calendar titlebar */
.ZhCalMiniDow {
	@MiniCalDOWText@
    font-weight: normal;
}

/* text box for a single appt in the month view in various states */
.ZhCalMonthAppt {
padding: 0 @BoxPaddingSize@ 0 @BoxPaddingSize@;
}

.ZhCalMonthAllDayAppt, .ZhCalMonthAllDayApptNew, .ZhCalDayAllDayAppt, .ZhCalDayAllDayApptNew {
    border:2px solid #333333;
#IFDEF GECKO
    -moz-border-radius:2 2 2 2;
#ENDIF
	border-top-width:1px;
	border-bottom-width:1px;
}

.ZhCalMonthAllDayAppt, .ZhCalMonthAllDayApptNew {
   padding: 0 @BoxPaddingSize@ 0 @BoxPaddingSize@;
}

.ZhCalDayAllDayAppt, .ZhCalDayAllDayApptNew {
    padding: 1 @BoxPaddingSize@ 1 @BoxPaddingSize@;
}

.ZhCalDayAppt, .ZhCalDayApptNew {
    border:1px solid;
  	border-color:#AAAAAA #333333 #333333 #AAAAAA;
}

.ZhCalDayApptNew, .ZhCalDayAllDayApptNew, .ZhCalMonthAllDayApptNew {
    color:white;
}

.ZhCalDAyApptEnd, .ZhCalTimeZone {
    @Text-disabled@
}

/* day of week label for the month */
.ZhCalDayHour {
 	@AppBg@
	@PageHeaderText@
	@SmallBoxPadding@
	@BottomSeparator@
    @Label@
	text-align:center;   
}

/* column between hours and appts */
.ZhCalDayHS {
    @RightSeparator@
}
.ZhCalAllDayDS {
    @LeftSeparator@
}
.ZhCalDayHSB {
    @RightSeparator@
  	@BottomSeparator@
}
/* half hour bottom */
.ZhCalDayHHB {
    @BottomSeparator-light@
    border-bottom-style: dashed;
}

/* hour bottom */
.ZhCalDayHB {
    @BottomSeparator-light@
}

/* allday bottom */
.ZhCalDayADB {
    @BottomSeparator-light@
    border-bottom-width:4px;
}

.ZhCalDaySEP {
    @LeftSeparator@       
}

.ZhCalDayADHS {
    @RightSeparator@
  	@BottomSeparator-light@
    border-bottom-width:4px;
}
/* day of week label for the month */
.ZhCalDayGrid {
 	@AppBg@
}

.ZhCalDayUnionSEP {
    @LeftSeparator@
    @RightSeparator@       
}

/* used in sched view for thermometer*/
.ZhCalSchedUnion {
	text-align:center;
	background-color:#D90000;
	color:black;
    width:25px;
}

/*
 * Colors, for use in calendar and elsewhere.
 *
 * Use the base color (eg: "Red") to show a list of colors.
 * Use the "Bg" version ("RedBg" as background in a list, etc)
 * Dark and Light are primarily for use in borders
 *
 */

.Selection			{ background-color:#ADD6D6;}
.SelectionDark		{ background-color:#91C8C8; }
.SelectionLight		{ background-color:#C8E4E4; }
.SelectionBg		{ background-color:#E3F1F1; }

.Red				{ background-color:#E34040;}
.RedDark			{ background-color:#D90000; }
.RedLight			{ background-color:#EC8080; }
.RedBg				{ background-color:#F5BFBF; }
.RedC				{ color:#E34040;}
.RedDarkC			{ color:#D90000; }
.RedLightC			{ color:#EC8080; }
.RedBgC				{ color:#F5BFBF; }

.Pink				{ background-color:#F492BF;}
.PinkDark			{ background-color:#F06EA9; }
.PinkLight			{ background-color:#F8B7D4; }
.PinkBg				{ background-color:#FBDBE9; }
.PinkC				{ color:#F492BF;}
.PinkDarkC			{ color:#F06EA9; }
.PinkLightC			{ color:#F8B7D4; }
.PinkBgC			{ color:#FBDBE9; }

.Orange				{ background-color:#FF9940;}
.OrangeDark			{ background-color:#FF7700; }
.OrangeLight		{ background-color:#FFBB80; }
.OrangeBg			{ background-color:#FFDDBF; }
.OrangeC			{ color:#FF9940;}
.OrangeDarkC		{ color:#FF7700; }
.OrangeLightC		{ color:#FFBB80; }
.OrangeBgC			{ color:#FFDDBF; }

.Yellow				{ background-color:#FFE640;}
.YellowDark			{ background-color:#FFDD00; }
.YellowLight		{ background-color:#FFEE80; }
.YellowBg			{ background-color:#FFF6BF; }
.YellowC			{ color:#FFE640;}
.YellowDarkC		{ color:#FFDD00; }
.YellowLightC		{ color:#FFEE80; }
.YellowBgC			{ color:#FFF6BF; }

.Green				{ background-color:#40A05F;}
.GreenDark			{ background-color:#00802A; }
.GreenLight			{ background-color:#80C095; }
.GreenBg			{ background-color:#BFDFCA; }
.GreenC				{ color:#40A05F;}
.GreenDarkC			{ color:#00802A; }
.GreenLightC		{ color:#80C095; }
.GreenBgC			{ color:#BFDFCA; }

.Cyan				{ background-color:#40D9D9;}
.CyanDark			{ background-color:#00CCCC; }
.CyanLight			{ background-color:#80E6E6; }
.CyanBg				{ background-color:#BFF2F2; }
.CyanC				{ color:#40D9D9;}
.CyanDarkC			{ color:#00CCCC; }
.CyanLightC			{ color:#80E6E6; }
.CyanBgC			{ color:#BFF2F2; }

.Blue				{ background-color:#4073D9;}
.BlueDark			{ background-color:#0044CC; }
.BlueLight			{ background-color:#80A2E6; }
.BlueBg				{ background-color:#BFD0F2; }
.BlueC				{ color:#4073D9;}
.BlueDarkC			{ color:#0044CC; }
.BlueLightC			{ color:#80A2E6; }
.BlueBgC			{ color:#BFD0F2; }

.Purple				{ background-color:#7940A0;}
.PurpleDark			{ background-color:#4C0080; }
.PurpleLight		{ background-color:#A680C0; }
.PurpleBg			{ background-color:#D2BFDF; }
.PurpleC			{ color:#7940A0; }
.PurpleDarkC		{ color:#4C0080; }
.PurpleLightC		{ color:#A680C0; }
.PurpleBgC			{ color:#D2BFDF; }

.Gray				{ background-color:#BFBFBF;}
.GrayDark			{ background-color:#A9A9A9; }
.GrayLight			{ background-color:#D4D4D4; }
.GrayBg				{ background-color:#E9E9E9; }
.GrayC				{ color:#BFBFBF;}
.GrayDarkC			{ color:#A9A9A9; }
.GrayLightC			{ color:#D4D4D4; }
.GrayBgC			{ color:#E9E9E9; }
