//$zcs-titlebar-fontsize: 1.2rem;       // for titlebar height
//$zcs-title-fontsize: 1.4rem;          // for titlebar text
//$zcs-list-header-fontsize: 0.9rem;    // for org list category header text
//$zcs-list-item-fontsize: 1.2rem;      // for app menu list items


.zcs-assignment-panel {
	.x-toolbar {
		font-size: $zcs-titlebar-fontsize;
		background-color:$medium-grey;
		border: none;
		@include border-radius(0);

		.x-title {
			font-size: $zcs-title-fontsize;
			font-weight: normal;
			color: $primary-text-color;
		}
	}

	.x-list-item {
		font-size: 1.2rem;

		&:active {
			background-color: $selection-color;
			color: white;
		}

		&.x-item-disabled SPAN {
			opacity: 0.4;
		}
	}
}

.zcs-preview-panel {
	background-color: transparent;

	.x-toolbar {
		background-image: none;
		background-color: transparent;
		border-bottom: none;

		.x-button {
			font-size:1rem;
		}
	}
}