.zcs-assignment-panel {

}

.zcs-preview-panel {
	background-color: transparent;

	.x-toolbar-dark {
		background-image: none;
		background-color: transparent;
		border-bottom: none;
	}
}

.zcs-assignment-panel .x-list-item.x-item-disabled SPAN {
  opacity: 0.4;
}

