.zcs-compose-form {
	.x-form-inner{
		padding: 0px !important;
	}
	.x-field {
		border-bottom: 1px solid $light-grey;
		min-height: 1.8em;
	}
	.vm-bubblearea {
		@include border-radius(0);
	}
	.x-form-label {
		text-align: right;
	}
}

.zcs-auto-complete-name, .zcs-auto-complete-email {
	height: 30px;
	@include ellipsis();
	display: block;
}

.zcs-fully-editable *, .zcs-fully-editable {
	-webkit-user-select: auto;
}

.zcs-body-field {
	background-color: white;
	padding: 8px;
}

.zcs-compose-form .zcs-attachments {
  background-color: white;
}

.zcs-compose-form .zcs-attachments .zcs-link {
  padding-top: .5em;
  padding-left: .5em;
}
