.zcs-fragment {
	font-size: 0.9em;
	color: gray;
}

.zcs-mail-date {
	float: right;
}

.zcs-msg-footer {
	background-image: none;
	background-color: transparent;
	border-style: none !important;
}

/* Work around Sencha bug TOUCH-3894, where a 46-pixel empty DIV gets added between msg body and footer
   http://www.sencha.com/forum/showthread.php?253388-List-with-useComponents-true-dosen-t-fire-the-itemtap-event */
.zcs-msgview .x-list-item-body {
	display: none;
}