/* BEGIN MSG HEADER */

$msgHdrTextSize: 0.9em;
$msgHdrTextIndent: 46px;
$msgHdrLabelIndent: 41px;
$msgHdrTopOffset: 5px;
$msgHdrLeftOffset: 5px;
$msgHdrRightOffset: 10px;
$msgHdrTopOffset2: 2.3em;

.zcs-mail-msgHdr {
	min-height: 46px;
	position: relative;
}

.zcs-msgHdr-element {
	position: absolute;
}

.zcs-msgHdr-person {
	@extend .zcs-msgHdr-element;
	height: 36px;
	left: $msgHdrLeftOffset;
	top: $msgHdrTopOffset;
	width: 36px;
}

.zcs-msgHdr-fromBubble {
	@extend .zcs-msgHdr-element;
	left: $msgHdrTextIndent;
	top: $msgHdrTopOffset;
}

.zcs-msgHdr-from {
	@extend .zcs-msgHdr-element;
	font-size: $msgHdrTextSize;
	left: $msgHdrTextIndent;
	overflow: hidden;
	text-overflow: ellipsis;
	top: $msgHdrTopOffset2;
	white-space: nowrap;
}

.zcs-colMsgHdr-fragment {
	@extend .zcs-msgHdr-element;
	@extend .zcs-fragment;
	left: $msgHdrTextIndent;
	overflow: hidden;
	right: $msgHdrRightOffset;
	text-overflow: ellipsis;
	top: $msgHdrTopOffset2;
	white-space: nowrap;
}

.zcs-msgHdr-date {
	@extend .zcs-msgHdr-element;
	@extend .zcs-date;
	top: $msgHdrTopOffset;
	right: $msgHdrRightOffset;
}

.zcs-msgHdr-to {
	@extend .zcs-msgHdr-element;
	font-size: $msgHdrTextSize;
	left: $msgHdrTextIndent;
	overflow: hidden;
	right: $msgHdrRightOffset;
	text-overflow: ellipsis;
	top: $msgHdrTopOffset2;
	white-space: nowrap;
}

.zcs-msgHdr-link {
	@extend .zcs-msgHdr-element;
	color: #336699;
	font-size: $msgHdrTextSize;
	text-decoration:underline;
	top: $msgHdrTopOffset2;
	right: $msgHdrRightOffset;
}

.zcs-msgHdr-label {
	display: inline-block;
	font-size: $msgHdrTextSize;
	text-align: right;
	width: $msgHdrLabelIndent;
	@include opacity(.75);
}

.zcs-mail-expMsgHdr {
	margin: .15em 0;
}

/* END MSG HEADER */

/* BEGIN MSG BODY */

.zcs-info-bar {
  background-color: #FF9;
  color: #333;
  padding-bottom: 5px;
  border-bottom: 1px solid #b2b2b2;
}

/* END MSG BODY */

/* BEGIN MSG FOOTER */

.zcs-msg-footer {
	background-image: none;
	background-color: transparent;
	border-style: none !important;
}


/* Work around Sencha bug TOUCH-3894, where a 46-pixel empty DIV gets added between msg body and footer
   http://www.sencha.com/forum/showthread.php?253388-List-with-useComponents-true-dosen-t-fire-the-itemtap-event */
.zcs-msgview .x-list-item-body {
	display: none;
}

/* END MSG FOOTER*/
