$msgBkgdColor: $white;

.zcs-item-panel {
	background-color: darken($msgBkgdColor, 10%);

	.zcs-msgview {
		background-color: transparent;
		height: 70px;
		padding: .5em .5em 0;

		.x-list-item-inner {
			background-color: $msgBkgdColor;
			border: 1px solid darken($msgBkgdColor, 25%);
		}
	}
}

/* BEGIN MSG HEADER */

$msgHdrTextSize: 0.9em;
$msgHdrImageSize: 3.2em;
$msgHdrStdMargin: $msgHdrTextSize;
$msgHdrLabelIndent: $msgHdrImageSize + $msgHdrStdMargin;
$msgHdrLeftIndent: $msgHdrImageSize + $msgHdrStdMargin*2;

$msgHdrButtonSize: $msgHdrImageSize/1.5;
$msgHdrRightIndent: $msgHdrButtonSize + $msgHdrStdMargin*3;

$msgHdrTopOffset: $msgHdrStdMargin;
$msgHdrTopOffset2: $msgHdrTextSize * 2.3 + $msgHdrTopOffset;
$msgHdrButtonDelta: $msgHdrImageSize - $msgHdrButtonSize;
$msgHdrButtonTopOffset: $msgHdrButtonDelta;

.zcs-mail-msgHdr {
	min-height: $msgHdrTextSize*5;
	position: relative;
}

.zcs-msgHdr-element {
	position: absolute;
}

.zcs-msgHdr-person {
	@extend .zcs-msgHdr-element;
	background-image: url('../images/person.png');
	background-size: 100% auto;
	height: $msgHdrImageSize;
	left: $msgHdrStdMargin;
	top: $msgHdrTopOffset;
	width: $msgHdrImageSize;
}

.zcs-msgHdr-fromBubble {
	@extend .zcs-msgHdr-element;
	left: $msgHdrLeftIndent;
	top: $msgHdrTopOffset;
}

.zcs-msgHdr-from {
	@extend .zcs-msgHdr-element;
	font-size: $msgHdrTextSize;
	left: $msgHdrLeftIndent+$msgHdrStdMargin;
	overflow: hidden;
	text-overflow: ellipsis;
	top: $msgHdrTopOffset2;
	white-space: nowrap;
}

.zcs-msgHdr-fragment {
	@extend .zcs-msgHdr-element;
	@extend .zcs-fragment;
	left: $msgHdrLeftIndent+$msgHdrStdMargin;
	overflow: hidden;
	right: $msgHdrRightIndent;
	text-overflow: ellipsis;
	top: $msgHdrTopOffset2;
	white-space: nowrap;
}

.zcs-msgHdr-date {
	@extend .zcs-msgHdr-element;
	@extend .zcs-date;
	top: $msgHdrTopOffset;
	right: $msgHdrRightIndent;
}

.zcs-mail-msgHdr.collapsed {
	.zcs-msgHdr-fragment {
		right: $msgHdrStdMargin;
	}
	.zcs-msgHdr-date {
		right: $msgHdrStdMargin;
	}
}

.zcs-msgHdr-to {
	@extend .zcs-msgHdr-element;
	font-size: $msgHdrTextSize;
	left: $msgHdrLeftIndent+$msgHdrStdMargin;
	overflow: hidden;
	right: $msgHdrRightIndent;
	text-overflow: ellipsis;
	top: $msgHdrTopOffset2;
	white-space: nowrap;
}

.zcs-msgHdr-link {
	@extend .zcs-msgHdr-element;
	color: #336699;
	font-size: $msgHdrTextSize;
	text-decoration:underline;
	top: $msgHdrTopOffset2;
	right: $msgHdrRightIndent;
}

.zcs-msgHdr-label {
	display: inline-block;
	font-size: $msgHdrTextSize;
	margin-right: $msgHdrStdMargin;
	text-align: right;
	width: $msgHdrLabelIndent;
	@include opacity(.75);
}

.zcs-mail-expMsgHdr {
	margin: .15em 0;
}

.zcs-msgHdr-menuButton {
	@extend .zcs-msgHdr-element;
	background-image: url('../../touch/resources/themes/images/default/pictos/arrow_down.png');
	background-size: 100% auto;
	height: $msgHdrButtonSize;
	right: $msgHdrStdMargin;
	top: $msgHdrButtonTopOffset;
	width: $msgHdrButtonSize;
	@include opacity(.5);
}

/* END MSG HEADER */

/* BEGIN MSG BODY */
.zcs-msg-body {
	margin: $msgHdrStdMargin;
}

.zcs-info-bar {
  background-color: #FF9;
  color: #333;
  padding-bottom: 5px;
  border-bottom: 1px solid #b2b2b2;
}

.zcs-invite-label {
  width: 1%;
}

.zcs-attachments {
  background-color: $light-grey;
  padding: 5px;
}

/* END MSG BODY */

/* BEGIN MSG FOOTER */

.zcs-msg-footer {
	background-image: none;
	background-color: transparent;
	border-style: none !important;
	font-size: 1.6em;
	margin-bottom: 2em;
}


/* Work around Sencha bug TOUCH-3894, where a 46-pixel empty DIV gets added between msg body and footer
   http://www.sencha.com/forum/showthread.php?253388-List-with-useComponents-true-dosen-t-fire-the-itemtap-event */
.zcs-msgview .x-list-item-body {
	display: none;
}

/* END MSG FOOTER*/
