.no-right-round {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.no-left-round {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.zcs-quick-reply {
	background-color: $light-grey;
	padding: .25em;

	.x-form-fieldset {
		margin: 0;

		.x-form-fieldset-inner {
			background: transparent;
			border: $default-border;
			border-radius: $default-textarea-radius;
			&.x-inner {
				@extend .no-right-round;
			}

			.x-field-input {
				border: none;
				border-radius: 0;
			}
		}
	}

	.x-button {
		border-color: $default-border-color;
		@extend .no-left-round;
		font-size: .9em;
		height: auto;
		border-left: none;
	}
}
