.no-right-round {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.no-left-round {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.no-bottom-round {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.no-top-round {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}


.zcs-quick-reply {
	background-color: $light-grey;
	font-size: 1.2em;
	padding: .25em;

	.x-toolbar {
		border: $default-border;
		border-top-left-radius: $default-textarea-radius;
		border-top-right-radius: $default-textarea-radius;
		border-bottom: none;
		height: auto;
		min-height: 30px;

		.x-title .x-innerhtml {
			font-weight: normal;
			text-align: left;
			white-space: normal;
		}
	}

	.x-form-fieldset {
		margin: 0;

		.x-form-fieldset-inner {
			background: transparent;
			border: $default-border;
			border-radius: $default-textarea-radius;

			&.x-inner {
				@extend .no-right-round;
			}

			.x-field-input {
				@include border-radius(0);
				border: none;
			}
		}
	}

	&.expanded {
		.x-form-fieldset-inner.x-inner {
			@extend .no-top-round;
		}

		.x-button {
			@extend .no-top-round;
		}
	}

	.x-button {
		@extend .no-left-round;
		background-color: $light-grey;
		border-color: $default-border-color;
		border-left: none;
		font-size: .9em;
		height: auto;
	}
}
