.no-right-round {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.no-left-round {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.zcs-quick-reply {
	background-color: $light-grey;
	border-top: 1px solid darken($light-grey,15%);
	padding: .25em;

	.x-form-fieldset {
		margin: 0;

		.x-form-fieldset-inner {
			@extend .no-right-round;
			border: 1px solid;
			border-color: rgba(0,0,0,.6) rgba(0,0,0,0) rgba(0,0,0,.2) rgba(0,0,0,.5);
		}
	}

	.x-button {
		@extend .no-left-round;
		font-size: .9em;
	}
}
