$contactFormButtonMinHeight: 40px;

.contact-form-remove-field-button{
    border: none;
    min-height: $contactFormButtonMinHeight;
    -webkit-border-radius: initial;
            border-radius: initial;
    .x-button-icon:before {
        color: red;
    }
}

.contact-form-add-field-button{
    border: none;
    min-height: $contactFormButtonMinHeight;
    .x-button-label{
        text-align: left;
        font-weight: bold;
        
        .contact-form-add-field-button-text:before{
            margin-right: 10px;
            font-size: 1.4em;
            text-align: center;
            font-family: "pictos";
            content: "+";
            color: #159c1f;
        }
    }
}
