.LoginScreen {
	background-color: @LoginColor@;
	background-image: -moz-linear-gradient(top, @LoginColor@, @darken(LoginColor,50)@); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, @LoginColor@),color-stop(1, @darken(LoginColor,50)@)); /* Saf4+, Chrome */
 	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='@LoginColor@', EndColorStr='@darken(LoginColor,50)@'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='@LoginColor@', EndColorStr='@darken(LoginColor,50)@')"; /* IE8 */
}
.LoginScreen .center, .LoginScreen .center-small {
	
	/*Linear gradient backgrounds*/
	background-color: @darken(LoginColor,30)@;
	background-image: -moz-linear-gradient(top, @LoginColor@, @darken(LoginColor,50)@); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, @LoginColor@),color-stop(1, @darken(LoginColor,50)@)); /* Saf4+, Chrome */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='@LoginColor@', EndColorStr='@darken(LoginColor,50)@'); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='@LoginColor@', EndColorStr='@darken(LoginColor,50)@')"; /* IE8 */

	/*Radial gradient backgrounds*/
	background-image: -moz-radial-gradient(50% 0, circle farthest-corner, @LoginColor@ 0%, @darken(LoginColor,50)@ 100%); /* FF3.6 */
	background-image: -webkit-gradient( radial, 50% 0%, 0, 50% 0%, 390, from(@LoginColor@), to(@darken(LoginColor,50)@) ); /* Saf4+, Chrome */

	-moz-border-radius: 15px; /* FF1+ */
	-webkit-border-radius: 15px; /* Saf3-4 */
	border-radius: 15px; /* Opera 10.5, IE 9, Saf5, Chrome */
	
	-moz-box-shadow: 0px 0px 10px #000000; /* FF3.5+ */
	-webkit-box-shadow: 0px 0px 10px #000000; /* Saf3.0+, Chrome */
	box-shadow: 0px 0px 10px #000000; /* Opera 10.5, IE 9.0 */
	#IFDEF MSIE
	border: 1px solid #000; /* Plain border for IE */
	#ENDIF
}

.form {
	color: #FFFFFF;
}
.form input[type='text'], 
.form input[type='password'] {
	border:1px solid @LoginColor@;
}
.LoginScreen #ZLoginWhatsThisAnchor {
	border-bottom: 1px dotted #FFF;
	color: #FFF;
	text-decoration:none;
}
.LoginScreen .ZLoginInfoMessage {
	background-color: @LoginColor@;	
	border:1px solid @lighten(LoginColor,65)@;
}
.LoginScreen #ZLoginNotice a {
	border-bottom: 1px dotted #FFF;
	text-decoration:none;
}
.LoginScreen #ZLoginWhatsThisAnchor:hover,
.LoginScreen #ZLoginNotice a:hover {
	border-bottom-style: solid;
}
.LoginScreen .copyright {
	color:@lighten(LoginColor,36)@; 
}
