@include icon('arrow_down', 'G', 'ZimbraTouch');

/* Floating List color overrides */
.zcs-floating-list {

    .x-button {
        border-color: $dark-grey;
        background-color: $medium-grey;

        .x-button-label {
            color: $dark-grey;
        }
    }

    .x-list-inner {
        .x-list-item {
            background-color: $medium-grey;
            border-color: $dark-grey !important;
            color: $dark-grey;

            &.x-item-disabled {
                color: $light-grey;
            }
        }
    }
}
