$linkTextSize: 0.9em;

.zcs-link {
  color: #336699;
  font-size: $linkTextSize;
  text-decoration: underline;
}

.zcs-quoted-link {
  @extend .zcs-link;
  padding-top: 1em;
}

.x-list-emptytext {
	font-style: italic;
	padding-top: 5em;
	text-align: center;
}

.zcs-msg-body-text {
  font-size: 1.1em;
  font-family: monospace;
  word-wrap: break-word;
}
