$linkTextSize: 0.9em;

.zcs-link {
  color: #336699;
  font-size: $linkTextSize;
  text-decoration: underline;
}

.zcs-quoted-link {
  @extend .zcs-link;
  padding-top: 1em;
}

.notes-list-empty-text {
	font-style: italic;
	padding-top: 5em;
	text-align: center;
}