
/**
 * Copied from Sencha's tooblar button mixin, and applied to tabbar
 *
 */
@mixin tabbar-button($bg-color, $type: $button-gradient){
  &, .x-tabbar-inner & {
    border: 1px solid darken($bg-color, 20%);
    border-top-color: darken($bg-color, 15%);
    @include color-by-background($bg-color);

    &.x-button-back:before, &.x-button-forward:before {
      background: darken($bg-color, 20%);
    }

    &, &.x-button-back:after, &.x-button-forward:after {
      @include background-gradient($bg-color, $type);
    }

    .x-button-icon.x-icon-mask {
      @include mask-by-background($bg-color);
    }

    &.x-button-pressing, &.x-button-pressed, &.x-button-active {
      &, &:after {
        @include background-gradient(darken($bg-color, 3%), 'recessed');
      }
    }
  }
}


.zcs-main-tabs {

	@include tabbar-button(darken($toolbar-base-color, 5%), $toolbar-gradient);
}