/* List Panel */

.zcs-list-panel {
	@extend .zcs-side-panel;

	.zcs-list-titlebar {
		font-size: $zcs-titlebar-fontsize;
		border: none;
		@include border-radius(0);

		.x-title {
			font-size: $zcs-title-fontsize;
			font-weight: normal;
			color: $primary-text-color;
		}
	}

	.x-list {
		font-size: $zcs-list-fontsize;

		.x-list-item {
			&.x-list-item-tpl::before {
				left: 0;
			}

//			&:active,
			&.x-item-pressed {
				background-color: darken($zcs-button-active-bkgd-color,15) !important;
				color: $zcs-button-active-color;
			}

			&.x-list-item-selected.x-list-item-tpl {
				background-color: $zcs-button-active-bkgd-color !important;
				color: $zcs-button-active-color;
			}

			&.x-item-swiping {
				background-color: #ddd !important; // red		
			}

			&.delete-active {
				background-color: #CE2A26 !important; // red
			}

			.zcs-mail-listitem-deleted {
				height: 90px/2;
				line-height: 90px/2;
				color: #fff;
				text-align: center;
				font-size: 1.2em;
			}

			.x-innerhtml {
				padding: 0px !important;

				&:before {
					position: absolute;
					right: 30px;
					text-align: center;
					font-family: "ZimbraTouch";
					content: "T";
					color: $white;
					line-height: 90px;
					font-size: 3em;
				}
			}
		}

	}
}