
$tag-none: #000000;
$tag-blue: #5b9bf2;
$tag-cyan: #43eded;
$tag-gray: #bebebe;
$tag-green: #6acb9e;
$tag-orange: #fdbc55;
$tag-pink: #fe98d3;
$tag-purple: #ba86e5;
$tag-red: #f66666;
$tag-yellow: #f8fa33;

$small-tag-size: 16px;
$large-tag-size: 32px;

@mixin zcs-tag($size, $name) {
	.zcs-tag-#{$name} {
		background-color: $tag-none;
		width: $size;
		height: $size;
		-webkit-mask-size: $size;
		margin-bottom: -4px;
		display:inline-block;
		/**
		 * Include the default sencha picto
		 */
		-webkit-mask-image: theme_image('default', "pictos/tag.png");
	}
}

@include zcs-tag($small-tag-size, 'small');
@include zcs-tag($large-tag-size, 'large');

.zcs-tag-0{
	background-color: $tag-none;
}

.zcs-tag-1{
	background-color: $tag-blue;
}

.zcs-tag-2{
	background-color: $tag-cyan;
}

.zcs-tag-3{
	background-color: $tag-green;
}

.zcs-tag-4{
	background-color: $tag-purple;
}


.zcs-tag-5{
	background-color: $tag-red;
}

.zcs-tag-6{
	background-color: $tag-yellow;
}

.zcs-tag-7{
	background-color: $tag-pink;
}

.zcs-tag-8{
	background-color: $tag-gray;
}

.zcs-tag-9{
	background-color: $tag-orange;
}
