.ImgAccordion2__H				{ width:100%; 	height:20;		background:repeat-x		url(../img/widgets/Accordion2__H.gif); }
.ImgAccordion2_R				{ width:15;		height:20;		background:no-repeat	url(../img/widgets/Accordion2_R.gif); }
.ZSelected .ImgAccordion2__H	{ width:100%; 	height:20;		background:repeat-x		url(../img/widgets/ZSelected-Accordion2__H.gif); }
.ZSelected .ImgAccordion2_R		{ width:15;		height:20;		background:no-repeat	url(../img/widgets/ZSelected-Accordion2_R.gif); }

.ImgAccordion_L					{ width:8;		height:20;		background:no-repeat	url(../img/widgets/Accordion_L.gif); }
.ImgAccordion__H				{ width:100%; 	height:20;		background:repeat-x		url(../img/widgets/Accordion__H.gif); }
.ImgAccordion_R					{ width:39;		height:20;		background:no-repeat	url(../img/widgets/Accordion_R.gif); }
.ZSelected .ImgAccordion_L		{ width:8;		height:20;		background:no-repeat	url(../img/widgets/ZSelected-Accordion_L.gif);	}
.ZSelected .ImgAccordion__H		{ width:100%; 	height:20;		background:repeat-x		url(../img/widgets/ZSelected-Accordion__H.gif);	}
.ZSelected .ImgAccordion_R		{ width:39;		height:20;		background:no-repeat	url(../img/widgets/ZSelected-Accordion_R.gif); 	}

.ImgButton_L					{ width:6;		height:20;		background:no-repeat	url(../img/widgets/Button_L.gif); }
.ImgButton__H					{ width:100%; 	height:20;		background:repeat-x		url(../img/widgets/Button__H.gif); }
.ImgButton_R					{ width:6;		height:20;		background:no-repeat	url(../img/widgets/Button_R.gif); }
.ZDisabled .ImgButton_L			{ width:6;		height:20;		background:no-repeat	url(../img/widgets/ZDisabled-Button_L.gif); }
.ZDisabled .ImgButton__H		{ width:100%; 	height:20;		background:repeat-x		url(../img/widgets/ZDisabled-Button__H.gif); }
.ZDisabled .ImgButton_R			{ width:6;		height:20;		background:no-repeat	url(../img/widgets/ZDisabled-Button_R.gif); }
.ZActive .ImgButton_L			{ width:6;		height:20;		background:no-repeat	url(../img/widgets/ZActive-Button_L.gif); }
.ZActive .ImgButton__H			{ width:100%; 	height:20;		background:repeat-x		url(../img/widgets/ZActive-Button__H.gif); }
.ZActive .ImgButton_R			{ width:6;		height:20;		background:no-repeat	url(../img/widgets/ZActive-Button_R.gif); }
.ZFocused .ImgButton_L			{ width:6;		height:20;		background:no-repeat	url(../img/widgets/ZFocused-Button_L.gif); }
.ZFocused .ImgButton__H			{ width:100%; 	height:20;		background:repeat-x		url(../img/widgets/ZFocused-Button__H.gif); }
.ZFocused .ImgButton_R			{ width:6;		height:20;		background:no-repeat	url(../img/widgets/ZFocused-Button_R.gif); }
.ZHover .ImgButton_L			{ width:6;		height:20;		background:no-repeat	url(../img/widgets/ZHover-Button_L.gif); }
.ZHover .ImgButton__H			{ width:100%; 	height:20;		background:repeat-x		url(../img/widgets/ZHover-Button__H.gif); }
.ZHover .ImgButton_R			{ width:6;		height:20;		background:no-repeat	url(../img/widgets/ZHover-Button_R.gif); }
.ZSelected .ImgButton_L			{ width:6;		height:20;		background:no-repeat	url(../img/widgets/ZSelected-Button_L.gif); }
.ZSelected .ImgButton__H			{ width:100%; 	height:20;		background:repeat-x		url(../img/widgets/ZSelected-Button__H.gif); }
.ZSelected .ImgButton_R			{ width:6;		height:20;		background:no-repeat	url(../img/widgets/ZSelected-Button_R.gif); }
.ZDefault .ImgButton_L			{ width:6;		height:20;		background:no-repeat	url(../img/widgets/ZDefault-Button_L.gif); }
.ZDefault .ImgButton__H			{ width:100%; 	height:20;		background:repeat-x		url(../img/widgets/ZDefault-Button__H.gif); }
.ZDefault .ImgButton_R			{ width:6;		height:20;		background:no-repeat	url(../img/widgets/ZDefault-Button_R.gif); }

.ImgField_L						{ width:6;		height:20;		background:no-repeat	url(../img/widgets/Field_L.gif); }
.ImgField__H					{ width:100%; 	height:20;		background:repeat-x		url(../img/widgets/Field__H.gif); }
.ImgField_R						{ width:6;		height:20;		background:no-repeat	url(../img/widgets/Field_R.gif); }
.ZDisabled .ImgField_L			{ width:6;		height:20;		background:no-repeat	url(../img/widgets/ZDisabled-Field_L.gif); }
.ZDisabled .ImgField__H			{ width:100%; 	height:20;		background:repeat-x		url(../img/widgets/ZDisabled-Field__H.gif); }
.ZDisabled .ImgField_R			{ width:6;		height:20;		background:no-repeat	url(../img/widgets/ZDisabled-Field_R.gif); }
.ZError .ImgField_L				{ width:6;		height:20;		background:no-repeat	url(../img/widgets/ZError-Field_L.gif); }
.ZError .ImgField__H			{ width:100%; 	height:20;		background:repeat-x		url(../img/widgets/ZError-Field__H.gif); }
.ZError .ImgField_R				{ width:6;		height:20;		background:no-repeat	url(../img/widgets/ZError-Field_R.gif); }
.ZFocused .ImgField_L			{ width:6;		height:20;		background:no-repeat	url(../img/widgets/ZFocused-Field_L.gif); }
.ZFocused .ImgField__H			{ width:100%; 	height:20;		background:repeat-x		url(../img/widgets/ZFocused-Field__H.gif); }
.ZFocused .ImgField_R			{ width:6;		height:20;		background:no-repeat	url(../img/widgets/ZFocused-Field_R.gif); }

.ImgHSash__H					{ width:100%; 	height:14;		background:repeat-x		url(../img/widgets/HSash__H.gif); }
.ImgHSash_thumb					{ width:14;		height:14;		background:no-repeat	url(../img/widgets/HSash_thumb.gif); }

.ImgListHeader__H				{ width:100%; 	height:20;		background:repeat-x		url(../img/widgets/ListHeader__H.gif); }
.ZSelected .ImgListHeader__H	{ width:100%; 	height:20;		background:repeat-x		url(../img/widgets/ZSelected-ListHeader__H.gif); }

.ImgOutset_E__V					{ width:6;		height:100%; 	background:repeat-y		url(../img/widgets/Outset_E__V.gif); }
.ImgOutset_N__H					{ width:100%; 	height:14;		background:repeat-x		url(../img/widgets/Outset_N__H.gif); }
.ImgOutset_NE					{ width:6;		height:14;		background:no-repeat	url(../img/widgets/Outset_NE.gif); }
.ImgOutset_NW					{ width:6;		height:14;		background:no-repeat	url(../img/widgets/Outset_NW.gif); }
.ImgOutset_S__H					{ width:100%; 	height:14;		background:repeat-x		url(../img/widgets/Outset_S__H.gif); }
.ImgOutset_SW					{ width:6;		height:14;		background:no-repeat	url(../img/widgets/Outset_SW.gif); }
.ImgOutset_SE					{ width:6;		height:14;		background:no-repeat	url(../img/widgets/Outset_SE.gif); }
.ImgOutset_W__V					{ width:6;		height:100%; 	background:repeat-y		url(../img/widgets/Outset_W__V.gif); }

.ImgPanel_SW					{ width:9;		height:10;		background:no-repeat	url(../img/widgets/Panel_SW.gif); }
.ImgPanel_SE					{ width:9;		height:10;		background:no-repeat	url(../img/widgets/Panel_SE.gif); }
.ImgPanel_S__H					{ width:100%; 	height:10;		background:repeat-x		url(../img/widgets/Panel_S__H.gif); }
.ImgPanel_W__V					{ width:5;		height:100%; 	background:repeat-y		url(../img/widgets/Panel_W__V.gif); }
.ImgPanel_E__V					{ width:5;		height:100%; 	background:repeat-y		url(../img/widgets/Panel_E__V.gif); }
.ImgPanel_NW					{ width:5;		height:22;		background:no-repeat	url(../img/widgets/Panel_NW.gif); }
.ImgPanel_NE					{ width:5;		height:22;		background:no-repeat	url(../img/widgets/Panel_NE.gif); }
.ImgPanel_N__H					{ width:100%; 	height:22;		background:repeat-x		url(../img/widgets/Panel_N__H.gif); }
.ImgPanel_bg__H					{ width:100%; 	height:91;		background:repeat-x		url(../img/widgets/Panel_bg__H.gif); }

.ImgSelect_L					{ width:9;		height:20;		background:no-repeat	url(../img/widgets/Select_L.gif); }
.ImgSelect__H					{ width:100%; 	height:20;		background:repeat-x		url(../img/widgets/Select__H.gif); }
.ImgSelect_R					{ width:40;		height:20;		background:no-repeat	url(../img/widgets/Select_R.gif); }
.ZDisabled .ImgSelect_L			{ width:9;		height:20;		background:no-repeat	url(../img/widgets/ZDisabled-Select_L.gif); }
.ZDisabled .ImgSelect__H		{ width:100%; 	height:20;		background:repeat-x		url(../img/widgets/ZDisabled-Select__H.gif); }
.ZDisabled .ImgSelect_R			{ width:40;		height:20;		background:no-repeat	url(../img/widgets/ZDisabled-Select_R.gif); }
.ZActive .ImgSelect_L			{ width:9;		height:20;		background:no-repeat	url(../img/widgets/ZActive-Select_L.gif); }
.ZActive .ImgSelect__H			{ width:100%; 	height:20;		background:repeat-x		url(../img/widgets/ZActive-Select__H.gif); }
.ZActive .ImgSelect_R			{ width:40;		height:20;		background:no-repeat	url(../img/widgets/ZActive-Select_R.gif); }
.ZFocused .ImgSelect_L			{ width:9;		height:20;		background:no-repeat	url(../img/widgets/ZFocused-Select_L.gif); }
.ZFocused .ImgSelect__H			{ width:100%; 	height:20;		background:repeat-x		url(../img/widgets/ZFocused-Select__H.gif); }
.ZFocused .ImgSelect_R			{ width:40;		height:20;		background:no-repeat	url(../img/widgets/ZFocused-Select_R.gif); }
.ZHover .ImgSelect_L			{ width:9;		height:20;		background:no-repeat	url(../img/widgets/ZHover-Select_L.gif); }
.ZHover .ImgSelect__H			{ width:100%; 	height:20;		background:repeat-x		url(../img/widgets/ZHover-Select__H.gif); }
.ZHover .ImgSelect_R			{ width:40;		height:20;		background:no-repeat	url(../img/widgets/ZHover-Select_R.gif); }

.ImgTab_L						{ width:6;		height:20;		background:no-repeat	url(../img/widgets/Tab_L.gif); }
.ImgTab__H						{ width:100%; 	height:20;		background:repeat-x		url(../img/widgets/Tab__H.gif); }
.ImgTab_R						{ width:6;		height:20;		background:no-repeat	url(../img/widgets/Tab_R.gif); }
.ImgTab_blank__H				{ width:100%; 	height:20;		background:repeat-x		url(../img/widgets/Tab_blank__H.gif); }
.ZHover .ImgTab_L				{ width:6;		height:20;		background:no-repeat	url(../img/widgets/ZHover-Tab_L.gif); }
.ZHover .ImgTab__H				{ width:100%; 	height:20;		background:repeat-x		url(../img/widgets/ZHover-Tab__H.gif); }
.ZHover .ImgTab_R				{ width:6;		height:20;		background:no-repeat	url(../img/widgets/ZHover-Tab_R.gif); }
.ZSelected .ImgTab_L			{ width:6;		height:20;		background:no-repeat	url(../img/widgets/ZSelected-Tab_L.gif); }
.ZSelected .ImgTab__H			{ width:100%; 	height:20;		background:repeat-x		url(../img/widgets/ZSelected-Tab__H.gif); }
.ZSelected .ImgTab_R			{ width:6;		height:20;		background:no-repeat	url(../img/widgets/ZSelected-Tab_R.gif); }
.ZFocused .ImgTab_L				{ width:6;		height:20;		background:no-repeat	url(../img/widgets/ZFocused-Tab_L.gif); }
.ZFocused .ImgTab__H			{ width:100%; 	height:20;		background:repeat-x		url(../img/widgets/ZFocused-Tab__H.gif); }
.ZFocused .ImgTab_R				{ width:6;		height:20;		background:no-repeat	url(../img/widgets/ZFocused-Tab_R.gif); }
.ZDisabled .ImgTab_L			{ width:6;		height:20;		background:no-repeat	url(../img/widgets/ZDisabled-Tab_L.gif); }
.ZDisabled .ImgTab__H			{ width:100%; 	height:20;		background:repeat-x		url(../img/widgets/ZDisabled-Tab__H.gif); }
.ZDisabled .ImgTab_R			{ width:6;		height:20;		background:no-repeat	url(../img/widgets/ZDisabled-Tab_R.gif); }
.ZActive .ImgTab_L				{ width:6;		height:20;		background:no-repeat	url(../img/widgets/ZActive-Tab_L.gif); }
.ZActive .ImgTab__H				{ width:100%; 	height:20;		background:repeat-x		url(../img/widgets/ZActive-Tab__H.gif); }
.ZActive .ImgTab_R				{ width:6;		height:20;		background:no-repeat	url(../img/widgets/ZActive-Tab_R.gif); }


.ImgListHeader__H				{ width:100%; 	height:20;		background:repeat-x		url(../img/widgets/ListHeader__H.gif); }
.ImgListHeader__H.ZSelected,
.ZSelected .ImgListHeader__H	{ width:100%; 	height:20;		background:repeat-x		url(../img/widgets/ZSelected-ListHeader__H.gif); }
