<template id='checkbox'>
    <input id='${id}_input' type='checkbox'>
</template>

<template id='checkbox-text-left'>
    <label id='${id}_text' for='${id}_input' style='text-align:right'></label>
    <input id='${id}_input' type='checkbox'>
</template>

<template id='checkbox-text-right'>
    <input id='${id}_input' type='checkbox'>
    <label id='${id}_text' for='${id}_input' style='text-align:right'></label>
</template>

<template id='DwtDialog' width='20' height='32'>
    <div class='DwtDialog WindowOuterContainer'>
        <table cellspacing=0 cellpadding=0 style='cursor:move;'>
            <tr id='${id}_title'>
                <td class='minWidth'>${icon}</td>
                <td id='${id}_title_cell' class='DwtDialogTitle'>${title}</td>
                <td class='minWidth'><div class='${closeIcon2}'></div></td>
                <td class='minWidth'><div class='${closeIcon1}'></div></td>
            </tr>
            <tr>
                <td id='${id}_container' class='DwtDialogBody WindowInnerContainer' colspan='3' style='cursor:default;'></td>
            </tr>
        </table>
    </div>
</template>

<template id='DwtSemiModalDialog' width='20' height='32'>
    <div class='DwtDialog LightWindowOuterContainer'>
        <table class='full_size' cellspacing=0 cellpadding=0 style='cursor:move;'>
            <tr id='${id}_title'>
                <td class='minWidth'>${icon}</td>
                <td id='${id}_title_cell' class='DwtDialogTitle' width='*'>${title}</td>
                <td id='${id}_close' class='minWidth'></td>
            </tr>
            <tr>
                <td id='${id}_container' class='DwtDialogBody LIghtWindowInnerContainer full_size' colspan='3'></td>
            </tr>
        </table>
    </div>
</template>

<template id='DwtToolTip' width='5' height='5'>
    <div class='DwtToolTip LightWindowOuterContainer'>
        <div id='${id}TopPointer' class='DwtToolTipTopPointer'>
            <center>
                <div class='DwtToolTipPointerRow' style='width:1px;'>&nbsp;</div>
                <div class='DwtToolTipPointerRow' style='width:3px;'>&nbsp;</div>
                <div class='DwtToolTipPointerRow' style='width:5px;'>&nbsp;</div>
                <div class='DwtToolTipPointerRow' style='width:7px;'>&nbsp;</div>
                <div class='DwtToolTipPointerRow' style='width:9px;'>&nbsp;</div>
                <div class='DwtToolTipPointerRow' style='width:11px;'>&nbsp;</div>
                <div class='DwtToolTipPointerRow' style='width:13px;'>&nbsp;</div>
                <div class='DwtToolTipPointerRow' style='width:15px;'>&nbsp;</div>
                <div class='DwtToolTipPointerRow' style='width:17px;'>&nbsp;</div>
                <div class='DwtToolTipPointerRow' style='width:19px;'>&nbsp;</div>
                <div class='DwtToolTipPointerRow' style='width:21px;'>&nbsp;</div>
            </center>
        </div>
        <div id='${id}Contents' class='DwtToolTipBody'></div>
        <div id='${id}BottomPointer' class='DwtToolTipBottomPointer'>
            <center>
                <div class='DwtToolTipPointerRow' style='width:21px;'>&nbsp;</div>
                <div class='DwtToolTipPointerRow' style='width:19px;'>&nbsp;</div>
                <div class='DwtToolTipPointerRow' style='width:17px;'>&nbsp;</div>
                <div class='DwtToolTipPointerRow' style='width:15px;'>&nbsp;</div>
                <div class='DwtToolTipPointerRow' style='width:13px;'>&nbsp;</div>
                <div class='DwtToolTipPointerRow' style='width:11px;'>&nbsp;</div>
                <div class='DwtToolTipPointerRow' style='width:9px;'>&nbsp;</div>
                <div class='DwtToolTipPointerRow' style='width:7px;'>&nbsp;</div>
                <div class='DwtToolTipPointerRow' style='width:5px;'>&nbsp;</div>
                <div class='DwtToolTipPointerRow' style='width:3px;'>&nbsp;</div>
                <div class='DwtToolTipPointerRow' style='width:1px;'>&nbsp;</div>
            </center>
        </div>
    </div>
</template>


<template id='DwtVerticalSash' width='0' height='0'>
	<div class='DwtVerticalSash'>
        <center>
            <table cellspacing=0 width=20><tr>
                <td class='DwtVerticalSashContents'>&deg;</td>
                <td class='DwtVerticalSashContents'>&deg;</td>
                <td class='DwtVerticalSashContents'>&deg;</td>
                <td class='DwtVerticalSashContents'>&deg;</td>
                <td class='DwtVerticalSashContents'>&deg;</td>
            </tr></table>
        </center>
    </div>
</template>

<template id='DwtHorizontalSash' width='0' height='0'>
    <div class='DwtHorizontalSash'>
        <table cellspacing=0 cellpadding=1 height='90%'>
            <tr><td height='50%' class='DwtHorizonalSashContents'>&nbsp;</td></tr>
            <tr><td class='DwtHorizonalSashContents'>&deg;</td></tr>
            <tr><td class='DwtHorizonalSashContents'>&deg;</td></tr>
            <tr><td class='DwtHorizonalSashContents'>&deg;</td></tr>
            <tr><td class='DwtHorizonalSashContents'>&deg;</td></tr>
            <tr><td class='DwtHorizonalSashContents'>&deg;</td></tr>
            <tr><td height='50%' class='DwtHorizonalSashContents'>&nbsp;</td></tr>
        </table>
    </div>
</template>


<template id='Panel'>
	<div style='width:100%;height:100%;'>
		<div class='ImgPanel_TL absoluteTop'		style='left:0'></div>
		<div class='ImgPanel_T__H absolute'			style='left:5;right:5;width:auto;'></div>
		<div class='ImgPanel_TR absolute'			style='right:0'></div>

		<div class='ImgPanel_L__V absolute'			style='left:0;top:22;bottom:10;height:auto;'></div>
		<div class='ImgPanel_bg__H absolute'		style='left:5;right:5;top:22;bottom:10;width:auto;height:auto;'></div>
		<div class='ImgPanel_R__V absolute'			style='right:0;top:22;bottom:10;height:auto;'></div>

		<div class='ImgPanel_BL absoluteBottom'		style='left:0'></div>
		<div class='ImgPanel_B__H absoluteBottom'	style='left:9;right:9;width:auto;'></div>
		<div class='ImgPanel_BR absoluteBottom'		style='right:0'></div>

		<div id='${id}_contents' style='position:absolute;left:5;top:22;right:5;bottom:5;background-color:pink;'>
			${content}
		</div>
	</div>
</template>