

/* test stuff */
*	{font-family:Tahoma; font-size:11px;}
H2	{font-size:20px;	}
H3	{margin-top:30px; padding:2px; margin-bottom:5px;border-bottom:1px solid #cccccc;}
.tiny	{font-size:9px; padding:0px 10px 2px 10px;	}
.ImgPerson			{	width:16px; height:16px; background:url(testimages/Person.gif) no-repeat;	}
.ImgFolder			{	width:16px; height:16px; background:url(testimages/Folder.gif) no-repeat;	}
.ImgNodeCollapsed	{	width:16px; height:16px; background:url(testimages/NodeCollapsed.gif) no-repeat;	}
.ImgNodeExpanded			{	width:16px; height:16px; background:url(testimages/NodeExpanded.gif) no-repeat;	}



/* generics */

.absolute			{position:absolute;}
.absoluteTop		{position:absolute; top:0px;}
.absoluteBottom		{position:absolute; bottom:0px;}

.floatLeft			{float:left;}
.floatRight			{float:right;}



/* classes for different states */

.ZSelected	{}
.ZFocused 	{}
.ZHover		{}
.ZDown		{}
.ZDisabled	{}
.ZError		{}		/* fields in error state */
.ZHint		{}		/* fields in 'hint' state (before value put in) */


/* generics for all widgets */

.ZWidget					{ }

.ZWidgetIcon				{	width:0px;	height:16px;}
.ZDisabled .ZWidgetIcon		{ opacity:.3;		}

.ZWidgetTitle				{ 					}
.ZDisabled .ZWidgetTitle	{ color:#999999;	}






/***************
 *
 *	PANEL
 *
 ***************/

/* sizing the pieces of the panel -- sizes are hard-coded */

.ZPanelTitlebar		{	position:absolute; width:100%; height:20px; top:-1px;}
.ZPanelIcon			{	width:0px;	 }
.ZPanelTitle		{	width:100%;	padding:1 0 0 4;  }
.ZPanelToolbar		{	width:0px;	padding:1 10 0 6; 	}

.ZPanelIcon  DIV	{	margin-left:5px;}

.ZPanelContents		{	left:4px;top:22px;right:4px;bottom:4px;			overflow:auto;		}





/***************
 *
 *	OUTSET -- tooltips, etc
 *
 ***************/

/* sizing the pieces of the panel -- all are absolutely positioned, sizes are hard-coded */
.ZOutsetContents		{	left:4px;top:22px;right:4px;bottom:4px;			overflow:auto;		}

.ImgOutset_bg__H		{	background-color:white;	}



/***************
 *
 *	BUTTONS
 *
 ***************/

.ZButton						{	position:relative; width:100px; height:20px;	}

.ZButtonBorder					{	position:absolute;	}

.ZButtonTable					{	width:100%;	position:relative; top:2px;}
.ZButtonTitle					{	width:100%; padding:0 6 0 6; }
.ZCenterTitle .ZButtonTitle		{	text-align:center;  }


.ZButtonTable .ZLeftIcon  DIV	{	margin-left:5px;}
.ZButtonTable .ZRightIcon DIV	{	margin-left:2px; margin-right:6px;}




/***************
 *
 *	SELECTS
 *
 ***************/

.ZSelect						{	position:relative; width:100px; height:20px;	}

.ZSelectBorder					{	position:absolute;	}

.ZSelectTable					{	width:100%;	position:relative; top:2px;}
.ZSelectTitle					{	width:100%; padding:0 6 0 10; }
.ZCenterTitle .ZSelectTitle		{	text-align:center;  }


.ZSelectTable .ZLeftIcon  DIV	{	position:relative; left:5px;}





/***************
 *
 *	TABS
 *
 ***************/

.ZTab							{	position:relative; width:80px; height:20px;	}

.ZTabBorder						{	position:absolute;	}

.ZTabTable						{	width:100%;	position:relative; top:2px;}
.ZTabTitle						{	width:100%; padding:0 6 0 6; text-align:center; }


.ZTabTable .ZLeftIcon  DIV		{	margin-left:5px;}
.ZTabTable .ZRightIcon DIV		{	margin-left:2px; margin-right:6px;}

.ZActive .ZTabTitle,
.ZSelected .ZTabTitle			{	color: white; font-weight:bold;	}



/***************
 *
 *	FIELDS
 *
 ***************/

.ZField							{	position:relative; width:100px; height:20px;	}

.ZFieldBorder					{	position:absolute;	}

.ZFieldInput					{	
									position:absolute;	
									left:0px; top:3px; height:17px; width:100%;
									padding-left:6px; padding-right:6px;
									overflow:hidden; 
									border-width:0px; 
									background-color:transparent;
								}

.ZError .ZFieldInput			{	color:darkred;	font-weight:bold;	}
.ZDisabled .ZFieldInput			{	color:#999999;	}
.ZHint .ZFieldInput				{	color:#999999;	font-style:italic; }

.ZBrowserSafari .ZFieldInput	{	top:0px; height:20px;	
									border-width:1px;
									background-color:white;
								}


/* special styles for fields in safari, which always show a border and can't be transparent */

/* we will have a class  .ZBrowserSafari on the BODY tag to make these show up for Safari only */

	/* turn off all bg images */
.ZBrowserSafari .ZField DIV					{ background-image:none;}
.ZBrowserSafari 			.ZFieldInput	{ background-color:white;	}
.ZBrowserSafari .ZHint		.ZFieldInput	{ background-color:white;	}
.ZBrowserSafari .ZFocused	.ZFieldInput	{ background-color:#cadbe3;	}
.ZBrowserSafari .ZError		.ZFieldInput	{ background-color:#f3f1bf;	}
.ZBrowserSafari .ZDisabled	.ZFieldInput	{ background-color:#eaf1f4;	}





/***************
 *
 *	ListViewer
 *
 ***************/


.ZListViewer				{	width:100%;	table-layout:fixed; 
								background-color:white;
								padding-bottom:40px;
								border:1px solid #666666;
							}

.ZListViewer .ZFirstRow	TD	{	border-top:1px solid #666666;	}

.ZListViewer TH				{	height:17; text-align:left;
								padding-left:3;
								border-left:1px solid #666666;		
								border-right:1px solid white;		
								color:#666666;
								background-position:0px -1px;
							}
.ZListViewer TH.ZFirstItem	{	border-left-width:0px;	}

.ZListViewerCell			{	
								height:20;
								padding:0 1 2 4;
							}

.ZListViewerCell DIV		{	width:100%; overflow:hidden; white-space:nowrap;	}

.ZOddRow .ZListViewerCell	{	background-color: #eeeeee;	}



.ZListViewer .ZFocused .ZListViewerCell
							{	background-color:#d0daf9;
							}




/***************
 *
 *	Tree/Accordion
 *
 ***************/


.ZTree						{	
								position:relative;
								width:100%;
								background-color:white;
								border:1px solid #666666;
							}
.ZTreeTable					{	width:100%; height:100%;	}
.ZTreeTableHeaderCell		{		}
.ZTreeTableBodyCell			{	height:100%; vertical-align:top;	}


.ZTreeHeader				{	position:relative; height:20px; 
								Xborder-top:1px solid #999999;
								border-bottom:1px solid #999999;
								margin-top:1px;	
								cursor:pointer;
							}

.ZTreeHeaderCenter			{	left:6;	right:39; width:auto; }
.ZTreeHeaderTitle			{	
								position:absolute;
								left:10px; right:33px;
								top:3px;
								overflow:hidden;
							}

.ZTreeBody					{	position:relative; height:100%;
								border-bottom:1px solid #999999;	
							}
.ZTreeItem					{	position:relative; height:20px;	
								border-bottom:1px solid #dddddd;
								margin-right:
							}
.ZTreeItemIcon				{	position:absolute;	top:2px; }
.ZTreeItemTitle				{	position:absolute;	top:4px; right:0px; padding-left:2px;}

.ZTreeIndent0				{	position:absolute;	left:4px;	}
.ZTreeIndent1				{	position:absolute;	left:22px;	}
.ZTreeIndent2				{	position:absolute;	left:40px;	}
.ZTreeIndent3				{	position:absolute;	left:58px;	}
.ZTreeIndent4				{	position:absolute;	left:76px;	}			
.ZTreeIndent5				{	position:absolute;	left:92px;	}


.ZTreeBody .ZSelected		{	background-color:#d0daf9;	}








/***************
 *
 *	SASH
 *
 ***************/


.ZHSash						{	cursor:move; 	}
