# This configuration property (if set) is included by default in all compile commands
# executed according to this formulation:
#
#   sencha compile -classpath=...,${framework.classpath},${workspace.classpath},${app.classpath}
#
#workspace.classpath=
workspace.build.dir=${workspace.dir}/build

touch.dir=${workspace.dir}/touch
workspace.cmd.version=3.1.2.342

workspace.packages.dir=${workspace.dir}/packages
