.shortcutKeys {
}

.shortcutDescription, .shortcutKeys {
	text-align: center;
	margin: 0px;
}

.shortcutListTable {
	width: 400px;
	margin: 0px auto;
}

.shortcutListHeader {
	padding: 10px;
	font-size: 14px;
}

.shortcutDescriptionEven, .shortcutKeysEven {
	background: #1C2F2F;
}

.shortcutDescription {
	padding: 5px 0px;
}

.shortcutDescriptionEven {
	@roundCorners(0px 0px 5px 5px)@
}

.shortcutKeysEven {
	@roundCorners(5px 5px 0px 0px)@
}

.ZmShortcutList {
	padding: 0 !important;
}
